HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/resources/static/assets/img/0163e44b-990a-49e5-b6dd-fd4235c86466.jfif
src/main/resources/static/assets/img/01702466-bd2f-4dd3-bc51-c964145b6665.jpg
src/main/resources/static/assets/img/01e6cabc-c2ca-4322-bcc9-43d95331d57f.jfif
src/main/resources/static/assets/img/027a00b7-d161-4d8c-abde-a6657e387088.jfif
src/main/resources/static/assets/img/031dd30f-ae73-413d-9379-5a8dfedfac20.jfif
src/main/resources/static/assets/img/033ab3bb-d6fa-4791-923b-e6dc64546973.jfif
src/main/resources/static/assets/img/045a5217-f949-42d9-a420-942b9820c419.jfif
src/main/resources/static/assets/img/05a3395d-20c0-4576-8d9c-48fb3250053b.jfif
src/main/resources/static/assets/img/07bdd646-f26a-4674-89bd-868e1ac14b5e.jfif
src/main/resources/static/assets/img/086889e7-1fbe-4566-86c9-c2651749d215.jfif
src/main/resources/static/assets/img/086d40dd-1697-44be-a50b-1fbe9b7a4616.jfif
src/main/resources/static/assets/img/0b1318db-63c3-4b3e-bda1-f1ab6fc0b6cf.jfif
src/main/resources/static/assets/img/0e8a80f8-f860-4ef4-b09e-bcaa5a8a50b0.jfif
src/main/resources/static/assets/img/0fdb88ee-17c2-4dc2-9a2e-1a9ee48162e9.jfif
src/main/resources/static/assets/img/1321b09b-3cbb-4595-af88-2f0432665bfd.jfif
src/main/resources/static/assets/img/19c70b7c-ef8f-4f6f-8689-248a45be8c74.jfif
src/main/resources/static/assets/img/19e874ea-a24b-4682-af68-8e167851afbd.jfif
src/main/resources/static/assets/img/1aa06835-c2aa-4647-a59e-70d62f1575a0.jfif
src/main/resources/static/assets/img/1c48df67-b6e3-41cb-b39e-00858ea6c0d4.jfif
src/main/resources/static/assets/img/1c5f8c19-e0f6-40fc-87a6-e1c39aeaa60b.jfif
src/main/resources/static/assets/img/1c88aabd-f33c-4e35-b1de-5d0d0c94b770.jfif
src/main/resources/static/assets/img/1cd325bd-e272-4b2d-8de9-aea53947d110.jfif
src/main/resources/static/assets/img/1ddfe55d-2802-468c-9be6-4302e8312519.jfif
src/main/resources/static/assets/img/1e2db363-90f4-47c9-837f-d7bc361767e4.jfif
src/main/resources/static/assets/img/1e95e5df-65cf-4d19-acda-c3b33fa31812.jfif
src/main/resources/static/assets/img/1f896267-02b7-49ca-a353-96187e6160d5.jfif
src/main/resources/static/assets/img/22d861e0-411f-46c8-a7db-f13afafeb4c1.jfif
src/main/resources/static/assets/img/29f71edd-63f5-44d2-8cec-0ebacf770d96.jfif
src/main/resources/static/assets/img/2ebb0e63-bd57-4013-a00b-9ee19cf7a02e.jfif
src/main/resources/static/assets/img/2ee98f55-8736-408e-808b-77ffb026f27f.jfif
src/main/resources/static/assets/img/3254aff7-47de-41fc-9661-381aa5b7424c.jfif
src/main/resources/static/assets/img/33ef27ad-925d-4348-a97c-c040661f21e5.jfif
src/main/resources/static/assets/img/34cef161-0bc0-4b69-953f-1740ff18d744.jfif
src/main/resources/static/assets/img/35a17252-5900-4b44-9049-4ab7ce8cb66c.jpg
src/main/resources/static/assets/img/35a80f54-4f16-4114-93f0-b191a9b42017.jfif
src/main/resources/static/assets/img/36153803-a481-4b0a-8cea-0b28f8d35b04.jfif
src/main/resources/static/assets/img/3967bbf6-fb60-40d6-ae5b-2246745b4643.jfif
src/main/resources/static/assets/img/3a8c558b-dc15-4f38-bbc5-a1172ca0334c.jpg
src/main/resources/static/assets/img/3b86cad5-9ef3-49b5-ad80-cd7b5effc416.jfif
src/main/resources/static/assets/img/3c0d81ec-8b5b-4f56-965d-c3029be785f8.jfif
src/main/resources/static/assets/img/3e421069-75fe-4d06-9880-2e17c69b9302.jfif
src/main/resources/static/assets/img/3ea85160-5201-4bfa-b157-d1e9eb0fdc2b.jfif
src/main/resources/static/assets/img/3eaad5f1-2eb4-4863-bac7-f4e39aaeaae4.jfif
src/main/resources/static/assets/img/3f563d06-2d97-4724-8bcb-b0239be2ebb9.jfif
src/main/resources/static/assets/img/3f7aaf67-3d03-4b76-82d7-790336579c1e.jfif
src/main/resources/static/assets/img/4005ae0d-76c9-495d-a749-3dd5011a6ebc.jfif
src/main/resources/static/assets/img/41968916-d2fe-4c9c-a747-9102af78b343.jfif
src/main/resources/static/assets/img/439fcc72-0e5e-4cad-b302-e9008d2f7f0f.jfif
src/main/resources/static/assets/img/470a4b47-923c-4fed-8211-7d36c164579a.jfif
src/main/resources/static/assets/img/47a78f6d-aca9-4ca0-8da8-a0581c093de0.jfif
src/main/resources/static/assets/img/47e0a09f-e7ec-4f7c-bd33-fd46e6f1c145.jfif
src/main/resources/static/assets/img/499e2bba-1bf8-4efd-a632-68776b706418.jfif
src/main/resources/static/assets/img/49d70e6c-ecc4-46b8-918c-37969cb7d8f0.jfif
src/main/resources/static/assets/img/4a208c0d-389f-45e9-b62b-8b698067adfe.jfif
src/main/resources/static/assets/img/4c5c4d1e-eb4e-455f-94c6-a050d39b1478.jfif
src/main/resources/static/assets/img/4ee2d00e-ae63-4b2a-b6a9-b3b5860724f1.jfif
src/main/resources/static/assets/img/4f006140-3404-439a-bcc6-f8186f1e4356.jfif
src/main/resources/static/assets/img/5432526a-1d2f-4fef-8e94-528f5e09765a.jfif
src/main/resources/static/assets/img/59cb4eee-3f99-4cdb-be0d-445824e7ef29.jfif
src/main/resources/static/assets/img/5a3301d9-2c95-4329-87a1-4d1f1e6a3249.jfif
src/main/resources/static/assets/img/5ccfc702-29fc-4014-bd15-3368e2e91023.jfif
src/main/resources/static/assets/img/5ce7fa26-f9f6-4631-bfc5-e683bdf7764a.jpg
src/main/resources/static/assets/img/5f5673df-4311-4ff5-b105-09236ccddb59.jfif
src/main/resources/static/assets/img/6047a477-0b2e-41cf-b1c1-08020878a267.jpg
src/main/resources/static/assets/img/6305cf6a-93a4-4bf9-8d75-6d8238fdec55.jfif
src/main/resources/static/assets/img/635537ca-5d9a-41f5-891b-758b3c66d923.jfif
src/main/resources/static/assets/img/66e8129b-bd83-4bb5-adab-6078be8fc441.jfif
src/main/resources/static/assets/img/66ecbf62-54dc-4478-8b73-5eee7f449f69.jpg
src/main/resources/static/assets/img/6bfc2051-0f6e-4fd2-9feb-ea5743dc2a49.jfif
src/main/resources/static/assets/img/6c784ee0-3277-4f90-8366-29c1653b5cde.jfif
src/main/resources/static/assets/img/6f4a2bac-0975-4713-8cc0-92b7a67fd27f.jfif
src/main/resources/static/assets/img/6faf8f30-5651-4b30-a5cf-c1bde432ede8.jfif
src/main/resources/static/assets/img/710e7409-32f4-4f43-93fe-1b75b570ceb6.jfif
src/main/resources/static/assets/img/7367af08-19b9-41e9-a276-1aa6f49252fa.jfif
src/main/resources/static/assets/img/759b21a9-c08a-4780-8478-8b9912688e0a.jfif
src/main/resources/static/assets/img/76b3162b-870e-4f3d-933f-55871bb63450.jfif
src/main/resources/static/assets/img/76c0fa50-13f2-4b98-abbe-fd15c8d58a6e.jfif
src/main/resources/static/assets/img/772caed3-4c21-40d6-a774-59aaecedc5f2.jfif
src/main/resources/static/assets/img/7d72e70d-8017-4cc9-9c63-80d07f8f743e.jfif
src/main/resources/static/assets/img/8085dc6c-1db7-42fb-bc40-ce1558c901f6.jfif
src/main/resources/static/assets/img/874af61a-88a0-48a2-b4db-6ed69f2b85b1.jpg
src/main/resources/static/assets/img/8a2f5c75-c4b2-4d0c-8e5a-d7f19d82229c.jfif
src/main/resources/static/assets/img/8c274fc3-33a5-4999-86e8-1162d9c87c19.jfif
src/main/resources/static/assets/img/906a1b2b-670a-496c-ba3d-15511aab9fdc.jfif
src/main/resources/static/assets/img/938d5a47-092c-42ce-9aee-75b2a53c6da7.jfif
src/main/resources/static/assets/img/93aad5ea-8ecb-45dd-ae87-509d9da6125c.jfif
src/main/resources/static/assets/img/972b7fbc-103e-4f8d-aa89-1ab4de8e02fb.jfif
src/main/resources/static/assets/img/9796024b-c974-428e-98f7-f23dd591d4a4.jfif
src/main/resources/static/assets/img/9a25f672-dcb9-411c-917e-2da10a2a7ec3.jfif
src/main/resources/static/assets/img/9e958207-29f6-4e0c-94cc-0a858edcb7da.jfif
src/main/resources/static/assets/img/9eb25695-d6ee-4cd9-919f-8723963d9280.jfif
src/main/resources/static/assets/img/a106f8cf-7d64-4cbc-91aa-0a5d64afa71d.jfif
src/main/resources/static/assets/img/a1d1bf0a-1ca0-4f3f-ae95-b298f539062d.jfif
src/main/resources/static/assets/img/a436e542-5251-45d8-9a30-0380d0e49879.jfif
src/main/resources/static/assets/img/a8671c1e-45fd-4b1e-b7b9-bcc0aa945054.jfif
src/main/resources/static/assets/img/ab315d75-7a72-4eaa-88e5-827f94eeb1ab.jfif
src/main/resources/static/assets/img/bb1f9111-8f18-4eea-ae2b-96c885196dd6.jfif
src/main/resources/static/assets/img/bb54f72e-524e-4cf4-bceb-49136b7eeb92.jfif
src/main/resources/static/assets/img/bc3dc52f-d4d0-414f-9ce7-27ed2c5765b5.jfif
src/main/resources/static/assets/img/bc96ea31-2602-4684-848e-1b5d3a34c3af.jfif
src/main/resources/static/assets/img/be09cbbb-2cc7-420b-b2fe-7812089beedd.jfif
src/main/resources/static/assets/img/c18baa4d-73c9-4ad7-bee6-b34ce1b566e6.jfif
src/main/resources/static/assets/img/c3dd38b7-c4ec-4ca4-b9ac-bcfed31cffba.jfif
src/main/resources/static/assets/img/cd5e14d6-66f7-4e53-92ae-ab5ac269135d.jfif
src/main/resources/static/assets/img/d14ad0b6-bfd4-42dd-9460-1fad24871b6f.jfif
src/main/resources/static/assets/img/d195fc91-a920-46ac-a3e3-46f852d51b0e.jpg
src/main/resources/static/assets/img/d360979a-111d-49e4-a199-c43e9eb698f2.jfif
src/main/resources/static/assets/img/d3fcd5a0-29e3-42fb-a015-33e872d8f7d4.jfif
src/main/resources/static/assets/img/d3fd032d-9e0e-4d3f-a201-0bf55a0b7bf9.jfif
src/main/resources/static/assets/img/d4f144f5-d7ed-4ed0-8778-f127cb8432f6.jfif
src/main/resources/static/assets/img/d798725c-acc8-4bd0-ad91-0a7e182a49af.jfif
src/main/resources/static/assets/img/d8cb5272-6064-42e6-b8c0-968664154c19.jfif
src/main/resources/static/assets/img/dac7208b-7a7c-4269-abf8-1914d62fa2a4.jfif
src/main/resources/static/assets/img/db323f4f-0150-44e7-865a-69f2b56cbb37.jfif
src/main/resources/static/assets/img/dcc34476-9d4e-4492-80bd-85bb6aeaa5d7.jfif
src/main/resources/static/assets/img/ddcfdeb1-92a1-4b05-8b41-efa8fc70b93b.jfif
src/main/resources/static/assets/img/e0792262-0fe7-4bf2-8104-545cf581570b.jfif
src/main/resources/static/assets/img/e377515c-632a-40c4-affc-ea2373af578c.jfif
src/main/resources/static/assets/img/e834a842-52a6-4e60-afe2-4f878079a22c.jfif
src/main/resources/static/assets/img/ed160fa2-2360-41a8-bf33-249a556677e6.jfif
src/main/resources/static/assets/img/ef89694e-a485-4959-9bce-5e309e94c2f2.jfif
src/main/resources/static/assets/img/f050be67-13bd-40f7-8a5a-5ad05f56eb8f.jfif
src/main/resources/static/assets/img/f1d0ff69-a000-4880-a507-03a8178ec099.jfif
src/main/resources/static/assets/img/f773f1e7-7ba7-4f2a-93de-607f2b591a71.jfif
src/main/resources/static/assets/img/f7c5e36e-18bc-42b3-9bcb-06cc1bd4ab6f.jfif
src/main/resources/static/assets/img/f9bf266e-d16f-4cf1-9f45-ba9e800cd568.jfif
src/main/resources/static/assets/img/fa47f01f-5aff-4dc4-8acf-4f2464613324.jfif
src/main/resources/static/assets/img/fe4a659c-3098-4b93-bf44-7748fd745dae.jfif
src/main/resources/static/assets/img/fe4a809b-2091-4778-942d-3380048ce6d1.jfif
src/main/resources/static/assets/img/fe9bdd0e-bc57-41c6-a4c6-fa399fbe5a55.jfif
src/main/resources/static/assets/img/038cfdf4-fc13-4138-b70d-d04000c0426d.jfif
src/main/resources/static/assets/img/0948026b-1966-4fa0-89d6-8bfe369c2f21.jfif
src/main/resources/static/assets/img/3f09508d-4ded-4785-ad0e-c87f342a539b.jfif
src/main/resources/static/assets/img/54469bda-686b-4e21-be4d-37d381271cbd.jfif
src/main/resources/static/assets/img/6915e114-5dd4-4b01-981f-b644e448091a.jfif
src/main/resources/static/assets/img/963360c7-889a-47f8-933e-d8ed4743a6cc.jfif
src/main/resources/static/assets/img/9befa66e-9ffe-44cf-a751-f363dad06526.jfif
src/main/resources/static/assets/img/b70fc64d-238c-4554-ae52-5cbf1f727cbd.jfif
src/main/resources/static/assets/img/e3348057-c3cf-4047-9ff3-3b2c57fe25d6.jfif
src/main/resources/static/assets/img/f882621d-05de-4df5-bb23-9f7b431301c4.jfif
src/main/resources/static/assets/img/2818160e-d338-4d22-9606-d91fc3714bb4.jfif
src/main/resources/static/assets/img/70a7f286-7d31-4dc3-ab4e-78c625b85d71.jfif
src/main/resources/static/assets/img/912b558e-b455-496d-9c8a-9713be8fdd58.jfif
src/main/resources/static/assets/img/bf2381de-88cc-4546-81bc-363e11a94300.jfif
src/main/resources/static/assets/img/f1e38b89-31d8-4007-8e4b-8846272aa06f.jfif
