<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-/mabatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.exe.cozy.mapper.CartMapper">
	<!--새장바구니 번호-->
	<select id="cartMaxNum" resultType="int">
		select nvl(max(cartNum),0) from cart
	</select>

	<insert id="insertCart" parameterType="CartDto">
		insert into cart(cartNum,itemNum,customerEmail,itemQty,itemSize,itemColor)
		values (#{cartNum},#{itemNum},#{customerEmail, jdbcType=VARCHAR},#{itemQty},
		        #{itemSize, jdbcType=VARCHAR},#{itemColor, jdbcType=VARCHAR})
	</insert>

	<!--카트삭제-->
	<delete id="deleteCart" parameterType="int">
		delete cart where cartNum=#{cartNum}
	</delete>

	<!-- 카트 수량수정-->
	<update id="updateCart" parameterType="CartDto">
		update cart set itemQty=itemQty+#{itemQty} where customerEmail = #{customerEmail} and itemNum=#{itemNum}
	</update>
	<!-- 카트목록 -->
	<select id="listCart" resultType="CartDto" parameterType="String">
		select a.cartNum, a.itemNum, a.customerEmail, a.itemQty,a.itemSize,a.itemColor,
		       b.itemName, b.itemPrice, b.itemDiscount,
			   (select fs.UUID_FILE_NAME||'.'||fs.FILE_EXTENSION
				from file_store fs
				where fs.no = b.itemImage1
			   ) as itemImage1
		       from cart a join item b on a.itemNum = b.itemNum
		where customerEmail = #{customerEmail}
	</select>

	<!--카트확인-->
	<select id="checkCart" resultType="int">
		select * from cart
		where customerEmail =#{customerEmail} and itemNum = #{itemNum}
	</select>

</mapper>