<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-/mabatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.exe.cozy.mapper.CustomerMapper">
	<!-- 이메일 중복확인 -->
	<select id="emailChk" resultType="int">
		select count(*) from customer where customerEmail=#{customerEmail}
	</select>
	
	<!-- 데이터 한개 입력 -->
	<insert id="insertData" parameterType="CustomerDto">
		insert into customer (customerEmail,customerPwd,customerName,
		customerTel,customerDate,customerGrade,customerType,customerPoint)
		values (#{customerEmail},#{customerPwd},#{customerName},#{customerTel},
		sysdate,'FAMILY',0,3000)
	</insert>
	
	<!-- 로그인 확인 -->
	<select id="getLogin" parameterType="String" resultType="CustomerDto">
		select customerEmail,customerPwd
		from customer
		where customerEmail=#{customerEmail}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="forgot" parameterType="String" resultType="CustomerDto">
		select customerEmail,customerTel
		from customer
		where customerEmail=#{customerEmail}
	</select>
	
	<!-- 임시비밀번호 발급 -->
	<update id="updatePwd" parameterType="CustomerDto">
		update customer set customerPwd=#{customerPwd}
		where customerEmail=#{customerEmail}
	</update>
	
	<!-- 데이터 한개 읽기 -->
	<select id="getReadData" parameterType="String" resultType="CustomerDto">
		select customerEmail,customerPwd,customerName,customerTel,customerZipCode,
		customerRAddr,customerJAddr,customerDAddr,customerGrade
		from customer where customerEmail=#{customerEmail}
	</select>
	
	<!-- 데이터 수정 -->
	<update id="updateData" parameterType="CustomerDto">
		update customer set customerPwd=#{customerPwd},customerTel=#{customerTel},
		customerZipCode=#{customerZipCode},customerRAddr=#{customerRAddr},
		customerJAddr=#{customerJAddr},customerDAddr=#{customerDAddr}
		where customerEmail=#{customerEmail}
	</update>
	
	<!-- 데이터 삭제 -->
	<delete id="deleteData" parameterType="String">
		delete customer where customerEmail=#{customerEmail}
	</delete>
</mapper>