<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-/mabatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exe.cozy.mapper.ItemMapper">
    <select id="itemMaxNum" resultType="int">
        select nvl(max(itemNum),0) from item
    </select>
    
    <select id="fileMaxNum" resultType="int">
        select nvl(max(no), 0) from file_store
    </select>

	<!-- 상품등록 -->
    <insert id="insertItem" parameterType="ItemDetailDto">
        insert into item(itemNum, itemName, itemMainType, itemSubType, itemPrice, itemDiscount, itemContent,
                         itemImage1, itemImage2, itemImage3, itemImage4, detailImage, itemHitcount,itemStock, itemState, todaydeal,
                         itemColor, itemSize)
        values (#{itemNum}, #{itemName}, #{itemMainType}, #{itemSubType}, #{itemPrice}, #{itemDiscount}, #{itemContent},
                #{itemImage1}, #{itemImage2}, #{itemImage3}, #{itemImage4}, #{detailImage},
                0,#{itemStock}, #{itemState}, #{todaydeal}, #{itemColor}, #{itemSize})
    </insert>
    
    <insert id="insertItemMap" parameterType="hashMap">
        insert into item(itemNum, itemName, itemMainType, itemSubType, itemPrice, itemDiscount, itemContent,
                         itemImage1, itemImage2, itemImage3, itemImage4, detailImage, itemHitcount, itemStock, itemState, todaydeal,
                         itemColor, itemSize)
        values (#{itemNum}, #{itemName}, #{itemMainType}, #{itemSubType}, #{itemPrice}, #{itemDiscount}, #{itemContent},
                #{image1}, #{image2}, #{image3}, #{image4}, #{image5},
                #{itemHitcount}, #{itemStock}, #{itemState}, #{todaydeal}, #{itemColor}, #{itemSize})
    </insert>
    
    <!-- 이미지 등록 -->
    <insert id="insertFile" parameterType="HashMap">
    	insert into file_store(no, original_file_name, uuid_file_name, file_path, file_extension, reg_dt)
    	values (#{no},#{original_file_name},#{uuid_file_name},
    	#{file_path}, #{file_extension}, SYSDATE)    
    </insert>
    
    
    
    <select id="getItemDataCount" parameterType="hashMap" resultType="int">
        select nvl(count(*),0) from item
        where ${searchKey} like '%' || #{searchValue} || '%'
    </select>

    <update id="updateItemHitCount" parameterType="int">
        update item set itemHitcount=itemHitcount+1 where itemNum=#{itemNum}
    </update>

    <!--ItemNum 으로 item 읽기-->
    <select id="getReadItemData" parameterType="int" resultType="ItemDetailDto">
select itemNum,
        itemName,
        itemMainType,
        itemSubType,
        itemPrice,
        itemDiscount,
        itemContent,
        (select fs.UUID_FILE_NAME||'.'||fs.FILE_EXTENSION
           from file_store fs
          where fs.no = item.itemImage1
        ) as itemImage1,
        (select fs.UUID_FILE_NAME||'.'||fs.FILE_EXTENSION
           from file_store fs
          where fs.no = item.itemImage2
        ) as itemImage2,
        (select fs.UUID_FILE_NAME||'.'||fs.FILE_EXTENSION
           from file_store fs
          where fs.no = item.itemImage3
        ) as itemImage3,
        (select fs.UUID_FILE_NAME||'.'||fs.FILE_EXTENSION
           from file_store fs
          where fs.no = item.itemImage4
        ) as itemImage4,
        (select fs.UUID_FILE_NAME||'.'||fs.FILE_EXTENSION
           from file_store fs
          where fs.no = item.detailImage
        ) as detailImage, 
        itemHitcount,
        itemStock, 
        itemState, 
        todaydeal,
        itemColor,
        itemSize
   from item
  where itemNum=#{itemNum}
    </select>


    <delete id="deleteItemData" parameterType="int">
        delete item where itemNum=#{itemNum}
    </delete>

</mapper>