<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-/mabatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exe.cozy.mapper.ItemMapper">
    <select id="itemMaxNum" resultType="int">
        select nvl(max(itemnum),0) from item
    </select>

    <insert id="insertItem" parameterType="com.exe.cozy.domain.ItemDetailDto">
        insert into item(itemNum, itemName, itemMainType, itemSubType, itemPrice, itemDiscount, itemContent,
                         itemImage1, itemImage2, itemImage3, itemImage4, itemImage5, detailImage, itemHitcount,itemStock, itemState, todaydeal,
                         itemColor, itemSize)
        values (#{itemNum}, #{itemName}, #{itemMainType}, #{itemSubType}, #{itemPrice}, #{itemDiscount}, #{itemContent},
                #{itemImage1}, #{itemImage2}, #{itemImage3}, #{itemImage4}, #{itemImage5}, #{detailImage},
                0,#{itemStock}, #{itemState}, #{todaydeal},#{itemColor}, #{itemSize})
    </insert>
    <select id="getItemDataCount" parameterType="hashMap" resultType="int">
        select nvl(count(*),0) from item
        where ${searchKey} like '%' || #{searchValue} || '%'
    </select>

    <update id="updateItemHitCount" parameterType="int">
        update item set itemHitcount = itemHticount+1 where itemNum=#{itemNum}
    </update>

    <!--ItemNum 으로 item 읽기-->
    <select id="getReadItemData" parameterType="int" resultType="com.exe.cozy.domain.ItemDetailDto">
        select itemNum, itemName, itemMainType, itemSubType, itemPrice, itemDiscount, itemContent,
               itemImage1, itemImage2, itemImage3, itemImage4, itemImage5, detailImage, itemHitcount,itemStock, itemState, todaydeal,
               itemColor, itemSize from itemNum=#{itemNum}
    </select>


    <delete id="deleteItemData" parameterType="int">
        delete item where itemNum=#{itemNum}
    </delete>

</mapper>