<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-/mabatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exe.cozy.mapper.NoticeMapper">
	
	<!-- 공지 번호 -->
	<select id="maxNoticeNum" resultType="int">
		select nvl(max(noticeNum),0) from notice
	</select>

	<!-- 공지 등록 -->
	<insert id="insertNoticeData" parameterType="NoticeDto">
		insert into notice(noticeNum,noticeTitle,noticeContent,noticeDate)
		values (#{noticeNum},#{noticeTitle},#{noticeContent},sysdate)
	</insert>

	<select id="getNoticeDataCount" parameterType="hashMap"
		resultType="int">
		select nvl(count(*),0) from notice where (noticeTitle like '%' or noticeContent like '%')

	</select>

<!-- 
	<select id="getNoticeLists" parameterType="map"
		resultType="NoticeDto">
		select * from (
		select rownum rnum, data.* from (
		select noticeNum,noticeTitle,noticeContent,noticeDate
		from notice where (noticeTitle like '%' or noticeContent like '%')
		order by noticeNum desc) data)
	<![CDATA[
		where rnum>=#{start} and rnum<=#{end}
	]]>
	</select>
 -->

	<!-- 공지 리스트로 가져오기 -->
	<select id="getNoticeLists" resultType="NoticeDto">
	 select * from notice
	 order by noticeDate desc
	</select>


	<!--noticeNum 으로 읽기 -->
	<select id="getReadNoticeData" parameterType="int"
		resultType="NoticeDto">
		select noticeNum,noticeTitle,noticeContent,noticeDate
		from notice where noticeNum=#{noticeNum}
	</select>


	<!-- 공지수정 -->
	<update id="updateNoticeData" parameterType="NoticeDto">
		update notice set
		noticeTitle=#{noticeTitle},noticeContent=#{noticeContent},noticeDate=sysdate
		where noticeNum=#{noticeNum}
	</update>

	<!-- 공지삭제 -->
	<delete id="deleteNoticeData" parameterType="int">
		delete notice where noticeNum=#{noticeNum}
	</delete>

	
</mapper>