<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-/mabatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exe.cozy.mapper.OrderMapper">

    <!-- order 증가하게 하기-->
    <select id="orderMaxNum" resultType="int">
        select nvl(max(orderNum),0) from cozyOrder
    </select>

    <!-- 결제하기 누르면 insert되게 하기-->
    <insert id="insertOrder" parameterType="OrderDto">
        insert into cozyOrder (
                               orderNum,customerEmail,orderState,payment,deliverCost,deliverName,deliverRAddr,
                               deliverJAddr,deliverDAddr,deliverZipCode,deliverTel,deliverMessage,orderDate,usePoint) values (#{orderNum,jdbcType=VARCHAR}, #{customerEmail, jdbcType=VARCHAR}, #{orderState, jdbcType=VARCHAR},
                                                    #{payment, jdbcType=VARCHAR},2500, #{deliverName, jdbcType=VARCHAR}, #{deliverRAddr, jdbcType=VARCHAR}, #{deliverJAddr, jdbcType=VARCHAR},
                                                      #{deliverDAddr, jdbcType=VARCHAR}, #{deliverZipCode, jdbcType=VARCHAR},
                                                      #{deliverTel, jdbcType=VARCHAR}, #{deliverMessage, jdbcType=VARCHAR},
                                                      sysdate, #{usePoint, jdbcType=VARCHAR})
    </insert>

<!--    <select id="readDateOrder" resultType="int" parameterType="Order">
        select o.orderNum,c.customerName,i.itemName,d.deliver,
    </select>-->



</mapper>