<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-/mabatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exe.cozy.mapper.ServiceAnswerMapper">
	
	<!-- 새 답변 번호 -->
	<select id="serviceAnsMaxNum" resultType="int">
		select nvl(max(serviceAnsNum),0)
		from serviceAnswer	
	</select>
	
	<!-- 답변 등록 -->
	<insert id="insertServiceAns" parameterType="ServiceAnswerDto">
		insert into serviceAnswer (serviceAnsNum,serviceQueNum,serviceAnsContent,serviceAnsDate)
		values (#{serviceAnsNum}, #{serviceQueNum}, #{serviceAnsContent}, sysdate)
	</insert>
	
	
	<!--AnswerNum 으로 읽기 (join)-->
	<resultMap type="ServiceAnswerDto" id="ServiceAnswerDto">
		<result column="serviceAnsNum" property="serviceAnsNum" />
		<result column="serviceAnsContent" property="serviceAnsContent" />
		<result column="serviceAnsDate" property="serviceAnsDate" />
		<collection property="serviceQueDto" resultMap="ServiceQuestionDto"></collection>
	</resultMap>
	
	<resultMap type="ServiceQuestionDto" id="ServiceQuestionDto">
		<result column="serviceQueTitle" property="serviceQueTitle" />
		<result column="serviceQueContent" property="serviceQueContent" />
		<result column="serviceQueNum" property="serviceQueNum" />
	</resultMap>
	
	 
	<!-- 답변 확인 -->
	<select id="findServiceAns" parameterType="ServiceAnswerDto" resultMap="ServiceAnswerDto">
		select
			a.serviceAnsNum,
			a.serviceAnsContent,
			a.serviceAnsDate,
			b.serviceQueTitle,
			b.serviceQueContent,
			b.serviceQueNum
		from serviceAnswer a left join serviceQuestion B
		on a.serviceQueNum=b.serviceQueNum
		where a.serviceAnsNum=#{serviceAnsNum}
	</select>
	
	
	<!-- 답변 수정 -->
	<update id="updateServiceAns" parameterType="ServiceAnswerDto">
		update serviceAnswer set serviceAnsContent=#{serviceAnsContent},serviceAnsDate = sysdate
		where serviceAnsNum = #{serviceAnsNum}
	</update>
	
	<!-- 답변 삭제 -->
	<delete id="deleteServiceAns" parameterType="int">
		delete serviceAnswer 
		where serviceAnsNum = #{serviceAnsNum}
	</delete>
	
</mapper>