<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <div th:replace="head.html :: headFragment"></div>

    <link rel="icon" href="../assets/images/favicon/1.png" type="image/x-icon">
    <title>Checkout</title>
    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/styleej.css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!--    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- iamport.payment.js -->


    <style id="__web-inspector-hide-shortcut-style__">
        .__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
        {
            visibility: hidden !important;
        }
    </style></head>


<body>
<!-- Loader Start -->

<!-- Loader End -->

<!-- Header Start -->
<header th:replace="header.html :: headerFragment"></header>

<!-- Header End -->



<!-- mobile fix menu start -->

<div class="mobile-menu d-md-none d-block mobile-cart">
    <ul>
        <li class="active">
            <a href="index.html">
                <i class="iconly-Home icli"></i>
                <span>Home</span>
            </a>
        </li>

        <li class="mobile-category">
            <a href="javascript:void(0)">
                <i class="iconly-Category icli js-link"></i>
                <span>Category</span>
            </a>
        </li>

        <li>
            <a href="search.html" class="search-box">
                <i class="iconly-Search icli"></i>
                <span>Search</span>
            </a>
        </li>

        <li>
            <a href="wishlist.html" class="notifi-wishlist">
                <i class="iconly-Heart icli"></i>
                <span>My Wish</span>
            </a>
        </li>

        <li>
            <a href="cart.html">
                <i class="iconly-Bag-2 icli fly-cate"></i>
                <span>Cart</span>
            </a>
        </li>
    </ul>
</div>
<!-- mobile fix menu end -->

<!-- Breadcrumb Section Start -->
<section class="breadscrumb-section pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadscrumb-contain">
                    <h2>결제</h2>
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">결제</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout section Start -->

<section class="checkout-section section-b-space">
    <div class="container-fluid-lg">

        <div class="row g-sm-4 g-3">
            <div class="col-xxl-3 col-lg-4">
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified custom-navtab" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <div class="nav-link active" id="shopping-cart" data-bs-toggle="tab"
                             data-bs-target="#s-cart" role="tab">
                            <div class="nav-item-box">
                                <div>
                                    <span>STEP 1</span>
                                    <h4>주문상품</h4>
                                </div>
                                <lord-icon target=".nav-item" src="https://cdn.lordicon.com/ggihhudh.json"
                                           trigger="loop-on-hover"
                                           colors="primary:#121331,secondary:#646e78,tertiary:#43648A " class="lord-icon">
                                </lord-icon>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item" role="presentation">
                        <div class="nav-link" id="delivery-address" data-bs-toggle="tab" data-bs-target="#d-address"
                             role="tab">
                            <div class="nav-item-box">
                                <div>
                                    <span>STEP 2</span>
                                    <h4>배송정보</h4>
                                </div>
                                <lord-icon target=".nav-item" src="https://cdn.lordicon.com/oaflahpk.json"
                                           trigger="loop-on-hover" colors="primary:#8C8C8C" class="lord-icon">
                                </lord-icon>
                            </div>
                        </div>
                    </li>


                    <li class="nav-item" role="presentation">
                        <div class="nav-link" id="payment-option" data-bs-toggle="tab" data-bs-target="#p-options"
                             role="tab">
                            <div class="nav-item-box">
                                <div>
                                    <span>STEP 3</span>
                                    <h4>결제수단</h4>
                                </div>
                                <lord-icon target=".nav-item" src="https://cdn.lordicon.com/qmcsqnle.json"
                                           trigger="loop-on-hover" colors="primary:#ffffff,secondary:#ffd700"
                                           class="lord-icon">
                                </lord-icon>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="col-xxl-9 col-lg-8">
                <!-- Tab panes -->
                <div class="tab-content" id="progressBar">
                    <div class="tab-pane active" id="s-cart" role="tabpanel" aria-labelledby="shopping-cart" >
                        <h2 class="tab-title">주문상품</h2>
                        <div class="cart-table p-0" th:each="clist:${clist}">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <div class="product border-0">
                                                <a href="product-left.html" class="product-image">
                                                    <img th:src="@{|/assets/img/${clist.itemImage1}|}"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                    <!--
                                                    <img th:src="여기 나중에 경로쓰기"
                                                         class="img-fluid blur-up lazyload" alt=""> -->

                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="product-left.html" class="text-title"
                                                               th:text="${clist.itemName}"></a>
                                                        </li>


                                                        <li class="text-content"><span class="text-title" th:text="|사이즈 :${clist.itemSize}|"></span></li>

                                                        <li class="text-content"><span
                                                                class="text-title" th:text="|색상 : ${clist.itemColor}|"></span></li>

                                                        <li>
                                                            <h5 class="text-content d-inline-block">가격 :</h5>
                                                            <span th:text="|${#numbers.formatInteger(clist.getItemPrice()-clist.itemDiscount , 0, 'COMMA')} 원|"></span>
                                                            <span class="text-content" th:text="${clist.getItemPrice()}"></span>
                                                        </li>

                                                        <li>
                                                            <h5 class="saving theme-color"  th:text="'할인금액 : ' + ${#numbers.formatInteger(clist.getItemDiscount(), 0, 'COMMA')+' 원'}"></h5>
                                                        </li>
                                                        <input type="text" name="cartNum" th:value="${clist.getCartNum()}" hidden>

                                                        <li class="quantity-price-box">
                                                            <div class="cart_qty">
                                                                <div class="input-group">
                                                                    <button type="button" class="qty-left-minus"
                                                                            data-type="minus" data-field="">
                                                                        <i class="fa fa-minus"
                                                                           aria-hidden="true"></i>
                                                                    </button>
                                                                    <input
                                                                            class="form-control input-number qty-input"
                                                                            type="text" name="quantity" value="0">
                                                                    <button type="button" class="qty-right-plus"
                                                                            data-type="plus" data-field="">
                                                                        <i class="fa fa-plus"
                                                                           aria-hidden="true"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <h5 th:text="|${#numbers.formatInteger(clist.getItemPrice(), 0,'COMMA')} 원|" </h5>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="price">
                                            <h4 class="table-title text-content">상품금액</h4>
                                            <h5 ><th:block th:text="|${#numbers.formatInteger(clist.getItemPrice()-clist.getItemDiscount(), 0, 'COMMA')} 원|"></th:block>

                                                <del th:if="${clist.getItemDiscount()!=0}" class="text-content" th:text="|${#numbers.formatInteger(clist.getItemPrice(), 0,'COMMA')} 원|"></del>
                                            </h5>
                                            <h6 class="theme-color" th:if="${clist.getItemDiscount()!=0}"

                                                th:text="'할인금액 : ' + ${#numbers.formatInteger(clist.getItemDiscount(), 0, 'COMMA')+' 원'}"></h6>
                                        </td>

                                        <td class="quantity">
                                            <h4 class="table-title text-content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;수량</h4>
                                            <div class="quantity-price">
                                                <div class="cart_qty">
                                                    <div class="input-group">
                                                        <input class="form-control input-number qty-input"
                                                               type="text" name="quantity" th:value="|${clist.itemQty} 개|" >
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="subtotal">
                                            <h4 class="table-title text-content">결제금액</h4>
                                            <h5  th:text="${#numbers.formatInteger((clist.getItemPrice()-clist.getItemDiscount())*clist.getItemQty(), 0, 'COMMA')+' 원'}"></h5>
                                        </td>
                                        <input type="hidden" name="iprice" th:value="${clist.getItemPrice()*clist.getItemQty()}">
                                        <input type="hidden" name="sprice" th:value="${clist.getItemDiscount()*clist.getItemQty()}">
                                        <input type="hidden" name="price" th:value="${(clist.getItemPrice()-clist.getItemDiscount())*clist.getItemQty()}">
                                        <input type="text" name="itemNum" th:value="${clist.getItemNum()}" hidden>
                                        <input type="text" name="itemQty" th:value="${clist.getItemQty()}" hidden>
                                        <input type="text" id="itemColor" name="itemColor" th:value="${clist.itemColor}" hidden>
                                        <input type="text" id="itemSize" name="itemSize" th:value="${clist.itemSize}" hidden>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                            <hr/>
                        </div>


                        <div class="button-group">
                            <ul class="button-group-list">
                                <li>
                                    <button type="button" onclick="location.href = '/';"
                                            class="btn btn-light shopping-button text-dark"><i
                                            class="fa-solid fa-arrow-left-long ms-0"></i>쇼핑 계속하기</button>
                                </li>

                                <li>
                                    <button type="button" class="btn btn-animation proceed-btn">배송정보</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-pane" id="d-address" role="tabpanel" aria-labelledby="delivery-address">
                    <div class="d-flex align-items-center mb-3">
                        <h2 class="tab-title mb-0">등록된 배송지</h2>
                        <button class="btn theme-bg-color text-white btn-sm fw-bold mt-lg-0" data-bs-toggle="modal" id="insertDeliver">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus me-2">
                                <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            나의 배송지 추가</button>&nbsp;&nbsp;&nbsp;&nbsp;

                        <button class="btn btn-animation btn-sm fw-bold ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#add-address">
                            <i class="fa-solid fa-plus d-block d-sm-none m-0"></i>
                            <span class="d-none d-sm-block">새로운 배송지로 받을래요</span>
                        </button>

                    </div>
                    <br/>
                        <!--세션등록되면 수정 -->

                         <div class="row g-4">
                        <div class="col-xxl-6 col-lg-12 col-md-6" th:each="ddto:${dlist}">
                            <div class="delivery-address-box" >
                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="deliverCheck"
                                               id="deliverCheck" th:value="${ddto.getDeliverNum()}" onclick="getDeliver()" >
                                        <input type="text" th:value="${ddto.deliverName}" id="dname" hidden>
                                        <input type="text" th:value="${ddto.deliverRAddr}" id="raddr" hidden>
                                        <input type="text" th:value="${ddto.deliverDAddr}" id="daddr" hidden>
                                        <input type="text" th:value="${ddto.deliverJAddr}" id="jaddr" hidden>
                                        <input type="text" th:value="${ddto.deliverZipCode}" id="zipCode" hidden>
                                        <input type="text" th:value="${ddto.deliverTel}" id="tel" hidden>

                                        <!--   <div class="label"> &lt;!&ndash; label1 하면 기본배송지로 나오게 설정해둠 &ndash;&gt;
                                               <label th:text="${ddto.getDeliverType()}"></label>
                                           </div>-->

                                        <ul class="delivery-address-detail">
                                            <li>
                                                <h4 class="fw-500" th:text="${ddto.getDeliverName()}"></h4>
                                                <input type="text" th:value="${ddto.getDeliverName()}" id="deliverName" name="deliverName" hidden>
                                            </li>

                                            <li>
                                                <p class="text-content"><span class="text-title"
                                                                              th:text="'주소 : ' + |${ddto.getDeliverRAddr()}, ${ddto.getDeliverDAddr()}|"></span></p>
                                            </li>



                                            <li>
                                                <h6 class="text-content mb-0"><span class="text-title"
                                                                                    th:text="'전화번호 : ' + ${ddto.getDeliverTel()}">
                                                            </span> </h6>
                                            </li>
                                        </ul>
                                    </div>
                                    </div>
                                </div>

                            </div>
                            <!--배송지 추가-->

                                <div class="modal fade theme-modal" id="add-address" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">배송지 추가</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </div>


                                            <div class="modal-body">

                                                <div class="form-floating mb-4 theme-form-floating">
                                                    <input type="text" class="form-control" id="deliverName" placeholder="이름을 입력하세요" name="deliverName">
                                                    <label for="deliverName">주문자</label>
                                                    <p id="dnameMsg"></p>
                                                </div>


                                                <div class="form-floating mb-4 theme-form-floating">
                                                    <input type="text" class="form-control" id="deliverTel" placeholder="전화번호를 입력하세요" name="deliverTel">
                                                    <label for="deliverTel">전화번호</label>
                                                    <P id="telMsg"></P>
                                                </div>



                                                <div class="form-floating mb-4 theme-form-floating">
                                                    <input type="text" class="form-control" id="deliverZipCode" name="deliverZipCode" placeholder="우편번호">
                                                    <label for="deliverZipCode">우편번호</label>
                                                </div>
                                                <div class="form-floating mb-4 theme-form-floating">
                                                    <input type="button" class="btn theme-bg-color btn-md text-white" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
                                                    <br>
                                                </div>
                                                <div class="form-floating mb-4 theme-form-floating">
                                                    <input type="text" class="form-control" placeholder="도로명주소" id="deliverRAddr" name="deliverRAddr">
                                                    <label for="deliverRAddr">도로명주소</label>
                                                    <p id="addrMsg"></p>
                                                </div>
                                                <div class="form-floating mb-4 theme-form-floating">
                                                    <input type="text" class="form-control" id="deliverJAddr" placeholder="지번주소" name="deliverJAddr">
                                                    <label for="deliverJAddr">지번주소</label>
                                                    <span id="guide" style="color:#999;display:none"></span>
                                                </div>
                                                <div class="form-floating mb-4 theme-form-floating">
                                                    <input type="text" placeholder="상세주소" class="form-control" id="deliverDAddr" name="deliverDAddr">
                                                    <label for="deliverDAddr">상세주소</label>
                                                </div>
                                                <!--<div class="form-floating mb-4 theme-form-floating">
                                                    <textarea class="form-control" placeholder="배송 메세지" id="deliverMsg" name="deliverMsg" ></textarea>
                                                    <label for="deliverMsg">배송 메세지</label>
                                                </div>-->
                                                <!--  <input type="hidden" class="form-control" id="sample4_extraAddress" placeholder="참고항목"> -->





                                            </div>
                                            <div class="modal-footer">
                                                <!-- <input type="checkbox" name="saveDeliver" id="saveDeliver">
                                                 <h6>이번만 배송 받기</h6>-->
                                                <button type="button" class="btn theme-bg-color btn-md text-white" data-bs-dismiss="modal">확인</button>
                                                <input type="text" name="itemNum" th:value="${itemNum}" hidden>
                                                <input type="text" name="itemQty" th:value="${itemQty}" hidden>



                                            </div>
                                        </div>
                                    </div>
                                </div>


                            <!-- 배송지 추가 끝 -->
                        </div>
                        <br/>
                        <div class="form-floating mb-4 theme-form-floating">
                            <textarea class="form-control" placeholder="배송 메세지" id="deliverMsg" name="deliverMsg" ></textarea>
                            <label for="deliverMsg">배송 메세지</label>
                        </div>



                        <div class="button-group">
                            <ul class="button-group-list">
                                <li>
                                    <button type="button" class="btn btn-light shopping-button backward-btn text-dark">
                                        <i class="fa-solid fa-arrow-left-long ms-0"></i>쇼핑 계속하기</button>
                                </li>

                                <li>
                                    <button type="button" class="btn btn-animation proceed-btn">결제</button>
                                </li>
                            </ul>

                        </div>
                    </div>


                    <div class="tab-pane" id="p-options" role="tabpanel" aria-labelledby="payment-option">
                        <h2 class="tab-title">결제수단</h2>
                        <div class="row g-sm-4 g-2">
                            <div class="col-xxl-4 col-lg-12 col-md-5 order-xxl-2 order-lg-1 order-md-2">
                                <div class="summery-box">

                                    <div class="summery-header bg-white">
                                        <h3>주문정보</h3>
                                        <a href="/cart">장바구니</a>
                                    </div>

                                    <ul class="summery-contain bg-white custom-height"  >
                                        <li th:each="clist:${clist}">
                                            <span id="itemName" th:text ="${clist.itemName}"></span>
                                            <span th:text="|   X   ${clist.itemQty}|"></span>
                                            <h4 class="price" th:text="${#numbers.formatInteger((clist.getItemPrice()-clist.getItemDiscount())*clist.getItemQty(), 0, 'COMMA')+' 원'}"></h4>
                                        </li>

                                    </ul>

                                    <ul class="summery-total bg-white">
                                        <li>
                                            <h4>상품금액</h4>
                                            <h4 class="price" id="itemPrice"></h4>
                                        </li>
                                        <li>
                                            <h4>가용 포인트</h4>
                                            <input type="hidden" id="checkPoint" th:value="${totalPoint}">
                                            <input type="text" id="customerName" th:value="${customerDto.getCustomerName()}" hidden>
                                            <input type="text" id="customerEmail" th:value="${customerDto.getCustomerEmail()}" hidden>


                                            <h4 class="price" th:text="${totalPoint}">

                                            </h4>
                                        </li>

                                        <li>
                                            <h4>배송비</h4>
                                            <h4 class="price">2,500 원</h4>
                                        </li>


                                        <li>
                                            <h4>할인금액</h4>
                                            <h4 class="price text-end" id="salePrice"></h4>
                                        </li>

                                        <div class="summery-contain">
                                            <div class="coupon-cart">
                                                <div class="mb-3 coupon-box input-group">
                                                    <input type="text" class="form-control" id="use" name="usePoint" placeholder="포인트 입력">
                                                    <button class="btn-apply" type="button" onclick="point()">적용하기</button>
                                                </div>
                                            </div>
                                            <li>
                                                <h5>포인트사용</h5>
                                                <h5 class="price" id="usePoint"></h5>
                                            </li>
                                        </div>




                                        <li class="list-total">

                                            <h4>결제금액</h4>
                                            <input type="hidden" id="totalPrice" name="totalPrice">
                                            <h4 class="price theme-color"  id="pointTotalPrice" onload="price()"></h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>



                            <div class="col-xxl-8 col-lg-12 col-md-7 order-xxl-1 order-lg-2 order-md-1">
                                <div class="accordion accordion-flush custom-accordion" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <div class="accordion-header" id="flush-headingOne">
                                            <div class="accordion-button collapsed" data-bs-toggle="collapse"
                                                 data-bs-target="#flush-collapseOne">
                                                <div class="custom-form-check form-check mb-0">
                                                    <label class="form-check-label" for="credit">
                                                        <input class="form-check-input mt-0" type="radio"
                                                               name="credit" id="credit" value="card" checked> 신용카드 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <div class="accordion-header" id="flush-headingTwo">
                                            <div class="accordion-button collapsed" data-bs-toggle="collapse"
                                                 data-bs-target="#flush-collapseTwo">
                                                <div class="custom-form-check form-check mb-0">
                                                    <label class="form-check-label" for="banking"><input
                                                            class="form-check-input mt-0" type="radio"
                                                            name="credit" id="banking" value="bank"> 무통장입금 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <div class="accordion-header" id="flush-headingThree">
                                            <div class="accordion-button collapsed" data-bs-toggle="collapse"
                                                 data-bs-target="#flush-collapseThree">
                                                <div class="custom-form-check form-check mb-0">
                                                    <label class="form-check-label" for="wallet"><input
                                                            class="form-check-input mt-0" type="radio"
                                                            name="credit" id="wallet" value="phone"> 휴대폰 결제</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="accordion-item">
                                        <div class="accordion-header" id="flush-headingFour">
                                            <div class="accordion-button collapsed" data-bs-toggle="collapse"
                                                 data-bs-target="#flush-collapseFour">
                                                <div class="custom-form-check form-check mb-0">
                                                    <label class="form-check-label" for="wallet"><input
                                                            class="form-check-input mt-0" type="radio"
                                                            name="credit" id="simple" value="simple">간편결제</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                                             data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="custom-form-check form-check">
                                                            <label class="form-check-label" for="kakao"><input
                                                                    class="form-check-input mt-0" type="radio"
                                                                    name="credit" id="kakao" value="kakao">카카오페이</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="custom-form-check form-check">
                                                            <input class="form-check-input mt-0" type="radio"
                                                                   name="credit" id="toss" value="toss">
                                                            <label class="form-check-label" for="toss">토스</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="custom-form-check form-check">
                                                            <input class="form-check-input mt-0" type="radio"
                                                                   name="credit" id="payco" value="payco">
                                                            <label class="form-check-label" for="payco">페이코</label>
                                                     <!--       <input type="hidden" id="payment" name="payment" th:value="${payment}" >
                                                            <input type="hidden" id="customerEmail" name="customerEmail" th:value="${cdto.customerEmail}" >
                                                            <input type="hidden" id="itemQty" name="itemQty" th:value="${itemQty}" >
                                                            <input type="hidden" id="itemNum" name="itemNum" th:value="${itemNum}" >
                                                            <input type="hidden" name="deliverNum" th:value="${ddto.getDeliverNum()}" >-->
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="button-group">
                            <ul class="button-group-list">
                                <li>
                                    <button class="btn btn-light shopping-button backward-btn text-dark">
                                        <i class="fa-solid fa-arrow-left-long ms-0"></i>배송지 등록</button>
                                </li>

                                <li>

                                    <button type="button" class="btn btn-animation" onclick="requestPay()">결제</button>




                                    <!--  <input type="text" name="deliverCost" th:value="${ddto.getDeliverNum()}" hidden>-->
                                    <!--<input type="hidden" id="itemNum" th:value="${itemNum}">
                                     <input type="hidden" id="itemQty" th:value="${itemQty}">-->
                                  <!--  <input type="text" id="itemColor" name="itemColor" th:value="${idto.itemColor}" hidden>
                                    <input type="text" id="itemSize" name="itemSize" th:value="${idto.itemSize}" hidden>-->



                                    <!--결제할때 들고갈것들 -->



                                </li>
                            </ul>

                        </div>

                    </div>

                </div>
            </div>


        </div>

        <!--</form>-->

    </div>

</section>

<!-- Checkout section End -->

<!-- Footer Section Start -->
<footer th:replace="footer.html :: footerFragment"></footer>
<!-- Footer Section End -->

<!-- Location Modal Start -->
<div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose your Delivery Location</h5>
                <p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="location-list">
                    <div class="search-input">
                        <input type="search" class="form-control" placeholder="Search Your Area">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <div class="disabled-box">
                        <h6>Select a Location</h6>
                    </div>

                    <ul class="location-select custom-height">
                        <li>
                            <a href="javascript:void(0)">
                                <h6>Alabama</h6>
                                <span>Min: $130</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Arizona</h6>
                                <span>Min: $150</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>California</h6>
                                <span>Min: $110</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Colorado</h6>
                                <span>Min: $140</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Florida</h6>
                                <span>Min: $160</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Georgia</h6>
                                <span>Min: $120</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Kansas</h6>
                                <span>Min: $170</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Minnesota</h6>
                                <span>Min: $120</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>New York</h6>
                                <span>Min: $110</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Washington</h6>
                                <span>Min: $130</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location Modal End -->



<!-- Deal Box Modal Start -->
<div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
                    <p class="mt-1 text-content">Recommended deals for you.</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="deal-offer-box">
                    <ul class="deal-offer-list">
                        <li class="list-1">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/10.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-2">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/11.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-3">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/12.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-1">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/13.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Deal Box Modal End -->

<!-- Tap to top start -->
<div class="theme-option">
    <div class="back-to-top">
        <a id="back-to-top" href="#">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
</div>
<!-- Tap to top end -->

<!-- Bg overlay Start -->
<div class="bg-overlay"></div>
<!-- Bg overlay End -->

<!-- latest jquery-->
<script src="../assets/js/jquery-3.6.0.min.js"></script>

<!-- jquery ui-->
<script src="../assets/js/jquery-ui.min.js"></script>

<!-- Lordicon Js -->
<script src="../assets/js/lusqsztk.js"></script>

<!-- Bootstrap js-->
<script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../assets/js/bootstrap/popper.min.js"></script>
<script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>

<!-- feather icon js-->
<script src="../assets/js/feather/feather.min.js"></script>
<script src="../assets/js/feather/feather-icon.js"></script>

<!-- Lazyload Js -->
<script src="../assets/js/lazysizes.min.js"></script>

<!-- Wizard js -->
<script src="../assets/js/wizard.js"></script>

<!-- Slick js-->
<script src="../assets/js/slick/slick.js"></script>
<script src="../assets/js/slick/custom_slick.js"></script>

<!-- Quantity js -->
<script src="../assets/js/quantity.js"></script>

<!-- script js -->
<script src="../assets/js/script.js"></script>
<script src="/assets/js/cartpayment.js"></script>
<script src="/assets/js/deliver.js"></script>

<script>
    function addComma(num) {
        var regexp = /\B(?=(\d{3})+(?!\d))/g;
        return num.toString().replace(regexp, ',');
    }
</script>
<script>


    $(function (){
        price()
        iprice()
        sprice()

    })

    function price() {


        let totalPrice = 0
        let index = $('input[name="price"]').length;



        for(let i = 0; i < index;
            i++
        )
        {

            totalPrice += parseInt($('input[name="price"]').eq(i).val())
        }
//alert(use)
        /*    if (use !== null) {
             totalPrice = totalPrice - usePoint;
             $('#totalPrice').html(totalPrice)
         }*/
        $('#totalPrice').val(totalPrice)
        $('#pointTotalPrice').val(totalPrice)
        $('#pointTotalPrice').html(addComma(totalPrice)+" 원")

    }


</script>
<script>
    //상품금액
    $(function (){

        iprice()
    })
    function iprice(){
        let itemPrice=0
        let iindex = $('input[name="iprice"]').length;


        for(let z=0;z<iindex; z++ ){

            itemPrice+= parseInt($('input[name="iprice"]').eq(z).val())
        }

        $('#itemPrice').html(addComma(itemPrice)+" 원")



    }
</script>
<script>
    //세일가격
    $(function (){

        sprice()
    })
    function sprice(){
        let salePrice=0
        let sindex = $('input[name="sprice"]').length;

        for(let y=0;y<sindex; y++ ){

            salePrice+= parseInt($('input[name="sprice"]').eq(y).val())
        }

        //  alert(salePrice)
        $('#salePrice').html(addComma(salePrice) +" 원")

    }

</script>
<script>
    //포인트
    function point() {
        let use = $('#use').val(); //사용할 포인트
        let check = $('#checkPoint').val();
        let usePoint = parseInt(use);
        let checkPoint = parseInt(check);


        if (usePoint > checkPoint) {
            alert("보유포인트 이내로 사용가능합니다.");
            return;
        }
        $('#usePoint').html(usePoint)

        $(document).ready(function price() {
            let pointTotalPrice=$('#totalPrice').val();
            let use = $('#use').val(); //사용할 포인트
            let usePoint = parseInt(use);

            if (use !== null) {
                pointTotalPrice = pointTotalPrice - usePoint
            }
            $('#pointTotalPrice').val(pointTotalPrice)
            $('#pointTotalPrice').html(addComma(pointTotalPrice)+" 원")

        })
    }
</script>

<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js">//결제Import</script>

<script type="text/javascript">
    //배송지 등록시 검사
    function addAddr(){
        var f = document.deliverForm;

        var name =$("#deliverName").val();
        var tel = $("#deliverTel").val();
        var RAddr = $("#deliverRAddr").val();
        var JAddr = $("#deliverJAddr").val();
        var DAddr = $("#deliverDAddr").val();
        var ZipCode = $("#deliverZipCode").val();

        //입력창이 하나라도 비어있으면(지번주소, 상세주소 제외)
        if(!name || !tel || !RAddr || !ZipCode){
            alert("내용을 입력해주세요.");
            return;
        }

        //입력창에 내용이 있으면
        if(!name){
            alert("수령자 이름을 입력해주세요.");
            return;
        }

        if(!tel){
            alert("주문자 전화번호를 입력해주세요.(예: 01012345678)");
            return;
        }

        alert(name + "님 신규 배송지가 등록되었습니다.");

        f.action="/deliver";
        f.submit();

    }
</script>

<script> //배송지 검색
//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
function sample4_execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var roadAddr = data.roadAddress; // 도로명 주소 변수
            var extraRoadAddr = ''; // 참고 항목 변수

            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                extraRoadAddr += data.bname;
            }
            // 건물명이 있고, 공동주택일 경우 추가한다.
            if(data.buildingName !== '' && data.apartment === 'Y'){
                extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
            }
            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
            if(extraRoadAddr !== ''){
                extraRoadAddr = ' (' + extraRoadAddr + ')';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('deliverZipCode').value = data.zonecode;
            document.getElementById("deliverRAddr").value = roadAddr;
            document.getElementById("deliverJAddr").value = data.jibunAddress;

            // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
            if(roadAddr !== ''){
                document.getElementById("sample4_extraAddress").value = extraRoadAddr;
            } else {
                document.getElementById("sample4_extraAddress").value = '';
            }

            var guideTextBox = document.getElementById("guide");
            // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
            if(data.autoRoadAddress) {
                var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                guideTextBox.style.display = 'block';

            } else if(data.autoJibunAddress) {
                var expJibunAddr = data.autoJibunAddress;
                guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                guideTextBox.style.display = 'block';
            } else {
                guideTextBox.innerHTML = '';
                guideTextBox.style.display = 'none';
            }
        }
    }).open();
}
</script>
</body>

</html>