<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="../assets/images/favicon/1.png" type="image/x-icon">
    <title>Coming Soon</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick-theme.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>

<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->

    <!-- Coming Soon Section Start -->
    <section class="coming-soon-section pt-0">
        <div class="bg-black"></div>
        <div class="container-fluid-lg w-100">
            <div class="row">
                <div class="col-lg-5"></div>

                <div class="col-xxl-5 col-xl-6 col-lg-7">
                    <div class="coming-box">
                        <div>
                            <div class="coming-title">
                                <h2>We are Coming Soon...</h2>
                            </div>
                            <p class="coming-text">We are currently working on an awesome new site. Stay tuned for
                                more information.
                                Subscribe to our newsletter to stay updated on our progress.</p>
                            <div class="coming-timer">
                                <ul>
                                    <li>
                                        <div class="counter">
                                            <div>
                                                <h6 id="days1"></h6>
                                                <p>Days</p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="counter">
                                            <div>
                                                <h6 id="hours1"></h6>
                                                <p>Hour</p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="counter">
                                            <div>
                                                <h6 id="minutes1"></h6>
                                                <p>Minutes</p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="counter">
                                            <div>
                                                <h6 id="seconds1"></h6>
                                                <p>Second</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="coming-contain">
                                <div class="coming-form input-group">
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Enter Your Email Address">
                                    <button class="coming-button">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Coming Soon Section End -->

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="../assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
<script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- Timer js-->
    <script src="../assets/js/timer.js"></script>

    <!-- Quantity js -->
    <script src="../assets/js/quantity.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>
</body>

</html>