<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="head.html :: headFragment"></div>

    <link rel="icon" href="../assets/images/favicon/1.png" type="image/x-icon">
    <title>Checkout</title>

    <!-- Google font -->


    <!-- bootstrap css -->


    <!-- font-awesome css -->

    <!-- feather icon css -->

    <!-- slick css -->

    <!-- Iconly css -->

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/styleej.css">
      <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                <script>
                    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
                    function sample4_execDaumPostcode() {
                        new daum.Postcode({
                            oncomplete: function(data) {
                                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                var roadAddr = data.roadAddress; // 도로명 주소 변수
                                var extraRoadAddr = ''; // 참고 항목 변수

                                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                    extraRoadAddr += data.bname;
                                }
                                // 건물명이 있고, 공동주택일 경우 추가한다.
                                if(data.buildingName !== '' && data.apartment === 'Y'){
                                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                }
                                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                if(extraRoadAddr !== ''){
                                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                                }

                                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                document.getElementById('sample4_postcode').value = data.zonecode;
                                document.getElementById("deliverAddr1").value = roadAddr;
                                document.getElementById("deliverAddr2").value = data.jibunAddress;

                                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                                if(roadAddr !== ''){
                                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                                } else {
                                    document.getElementById("sample4_extraAddress").value = '';
                                }

                                var guideTextBox = document.getElementById("guide");
                                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                                if(data.autoRoadAddress) {
                                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                                    guideTextBox.style.display = 'block';

                                } else if(data.autoJibunAddress) {
                                    var expJibunAddr = data.autoJibunAddress;
                                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                                    guideTextBox.style.display = 'block';
                                } else {
                                    guideTextBox.innerHTML = '';
                                    guideTextBox.style.display = 'none';
                                }
                            }
                        }).open();
                    }
                </script>
    <script type="text/javascript">

        /*배송지 등록*/
        //이름 유효성 검사
        function nameChk(){
            var dname =$("#deliverName").val();
            var dnameMsg =$("#dnameMsg");

            if(!dname){
                dnameMsg.html("주문자 이름을 입력해주세요");
                $("#dnameMsg").css("color","#ff7474");
            }else if(!isValidKorean(dname)){
                dnameMsg.html("이름은 한국어로만 입력 가능합니다.");
                $("#dnameMsg").css("color","#ff7474");
                $("#deliverName").val("");
            }else {
                dnameMsg.html("");
            }
            return;
        }
       // 전화번호 체크
        function telChk(){
            var tel = $("#deliverTel").val();
            var telMsg = $("#telMsg");

            if(!tel){
                telMsg.html("주문자 전화번호를 입력해주세요");
                $("#telMsg").css("color","#ff7474");
            }else if(!isValidTel(tel)){
                telMsg.html("올바른 연락처 형식을 입력해주세요.(예: 01012345678)");
                $("#telMsg").css("color","#ff7474");
            }else{
                telMsg.html("");
            }
            return;
        }

        // 배송지 체크
        function addrChk(){
            var addr = $("#deliverAddr1").val();
            var addrMsg =$("#addrMsg");

            if(!addr){
                addrMsg.html("주문자 주소를 입력해주세요");
                $("#addrMsg").css("color","#ff7474");
            }else{
                addrMsg.html("");
            }
            return;
        }
        /* 배송지 등록 성공 */
        function sendIt(){
            var f = document.deliverForm;

            nameChk();
            telChk();
            addrChk();

            var name = $("#deliverName").val();
            var tel = $("#deliverTel").val();
            var addr = $("#deliverAddr1").val();

            if(!name || !tel || !addr){
                alert("내용을 입력해주세요");
                event.preventDefault();
                return;
            }

            alert(name + "님 신규 배송지가 등록되었습니다.");
            event.preventDefault();

            f.action="order";
            f.submit();
        }

    </script>
    <style id="__web-inspector-hide-shortcut-style__">
        .__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
        {
            visibility: hidden !important;
        }
        </style></head>
</head>

<body>
        <!-- Loader Start -->

        <!-- Loader End -->

        <!-- Header Start -->
        <header th:replace="header.html :: headerFragment"></header>

        <!-- Header End -->



<!--배송지 추가-->
 <form class="row g-4" name="deliverForm" method="post" th:object="${DeliverDto}">
<div id="add-address" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">신규배송지</h5>
            </div>
            <div class="modal-body">
            
                    <div class="form-floating mb-4 theme-form-floating">
                        <input type="text" class="form-control" id="deliverName" placeholder="이름을 입력하세요" name="deliverName" onblur="nameChk();" >
                        <label for="deliverName">주문자</label>
                        <p id="dnameMsg"></p>
                    </div>
                
             
                    <div class="form-floating mb-4 theme-form-floating">
                        <input type="text" class="form-control" id="deliverTel" placeholder="전화번호를 입력하세요" name="deliverTel" onblur="telChk();">
                        <label for="deliverTel">전화번호</label>
                        <P id="telMsg"></P>
                    </div>
               

                
                    <div class="form-floating mb-4 theme-form-floating">
                        <input type="text" class="form-control" id="sample4_postcode" placeholder="우편번호">
                        <label for="sample4_postcode">우편번호</label>
                    </div>
                    <div class="form-floating mb-4 theme-form-floating">
                        <input type="button" class="btn theme-bg-color btn-md text-white" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
                        <br>
                    </div>
                    <div class="form-floating mb-4 theme-form-floating">
                        <input type="text" class="form-control" placeholder="도로명주소" id="deliverAddr1" name="deliverAddr1" onblur="addrChk();">
                        <label for="deliverAddr1">도로명주소</label>
                        <p id="addrMsg"></p>
                    </div>
                    <div class="form-floating mb-4 theme-form-floating">
                        <input type="text" class="form-control" id="deliverAddr2" placeholder="지번주소" name="deliverAddr2">
                        <label for="deliverAddr2">지번주소</label>
                        <span id="guide" style="color:#999;display:none"></span>
                    </div>
                    <div class="form-floating mb-4 theme-form-floating">
                        <input type="text" placeholder="상세주소" class="form-control" id="deliverAddrd" name="deliverAddrd" onblur="addrdChk();" >
                        <label for="deliverAddrd">상세주소</label>
                    </div>
                    <!--  <input type="hidden" class="form-control" id="sample4_extraAddress" placeholder="참고항목"> -->


                
              

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-md" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn theme-bg-color btn-md text-white" data-bs-dismiss="modal" onclick="sendIt();">등록하기</button>
            </div>
        </div>
    </div>
</div>
 </form>
<!-- 배송지 추가 끝 -->


<!-- Deal Box Modal Start -->
<div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
                    <p class="mt-1 text-content">Recommended deals for you.</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="deal-offer-box">
                    <ul class="deal-offer-list">
                        <li class="list-1">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/10.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-2">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/11.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-3">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/12.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-1">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/13.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Deal Box Modal End -->

<!-- Tap to top start -->
<div class="theme-option">
    <div class="back-to-top">
        <a id="back-to-top" href="#">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
</div>
<!-- Tap to top end -->

<!-- Bg overlay Start -->
<div class="bg-overlay"></div>
<!-- Bg overlay End -->

<!-- latest jquery-->
<script src="../assets/js/jquery-3.6.0.min.js"></script>

<!-- jquery ui-->
<script src="../assets/js/jquery-ui.min.js"></script>

<!-- Lordicon Js -->
<script src="../assets/js/lusqsztk.js"></script>

<!-- Bootstrap js-->
<script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../assets/js/bootstrap/popper.min.js"></script>
<script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>

<!-- feather icon js-->
<script src="../assets/js/feather/feather.min.js"></script>
<script src="../assets/js/feather/feather-icon.js"></script>

<!-- Lazyload Js -->
<script src="../assets/js/lazysizes.min.js"></script>

<!-- Wizard js -->
<script src="../assets/js/wizard.js"></script>

<!-- Slick js-->
<script src="../assets/js/slick/slick.js"></script>
<script src="../assets/js/slick/custom_slick.js"></script>

<!-- Quantity js -->
<script src="../assets/js/quantity.js"></script>

<!-- script js -->
<script src="../assets/js/script.js"></script>
</body>

</html>