<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="head.html :: headFragment"></div>

	<title>비밀번호 찾기</title>   

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/stylemj.css">
    
</head>

<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->

    <!-- Header Start -->
    <header th:replace="header.html :: headerFragment"></header>
    <!-- Header End -->

    <!-- mobile fix menu start -->
    <!-- mobile fix menu end -->

    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2 class="mb-2">비밀번호 찾기</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">비밀번호 찾기</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- log in section start -->
    <section class="log-in-section section-b-space forgot-section">
        <div class="container-fluid-lg w-100">
            <div class="row">
                <div class="col-xxl-4" style="margin: auto;">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="log-in-box">
                            <div class="log-in-title">
                                <h3>비밀번호 찾기</h3>
                            </div>

                            <div class="input-box">
                            
                            	<!-- 비밀번호 찾기 form 시작 -->
                                <form class="row g-4" name="forgotForm" method="post" th:object="${CustomerDto}" th:action="forgot">
	                                <div th:if="${param.error}">
	                            		<div class="alert alert-danger">
											회원정보가 없습니다.
	                            		</div>
	                            	</div>
                                    <div class="col-12">
                                        <div class="form-floating theme-form-floating log-in-form">
                                            <input type="email" class="form-control" id="customerEmail" name="customerEmail"
                                                placeholder="Email Address" onblur="emailChk();">
                                            <label for="email">이메일</label>
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px;" id="emailMsg"></div>
                                    
                                    <div class="col-12">
                                        <div class="form-floating theme-form-floating log-in-form">
                                            <input type="tel" class="form-control" id="customerTel" name="customerTel"
                                                placeholder="Tel" onblur="telChk();">
                                            <label for="email">연락처</label>
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px;" id="telMsg"></div>

                                    <div class="col-12">
                                        <button class="btn btn-animation w-100" onclick="sendIt();">비밀번호 찾기</button>
                                    </div>
                                    <div style="margin-top: 20px; text-align: center;">
                                		<span style="color: #ff7474;" th:text="${msg}"></span>
                                	</div>
                                </form>
                                <!-- 비밀번호 찾기 form 끝 -->
                                    
                                <div class="other-log-in">
                            		<h6></h6>
                        		</div>

                        		<div class="sign-up-box">
                            		<p style="margin-bottom: 5px;">정보가 기억나지 않는다면?</p>
                            		<p>고객센터 문의하기 (12-1234-1234)</p>
                        		</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- log in section end -->

    <!-- Footer Section Start -->
    <footer th:replace="footer.html :: footerFragment"></footer>
    <!-- Footer Section End -->

    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
    <script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>
    
    <script type="text/javascript">
    /* 이메일 널값 검사 */
    function emailChk(){
    	var email = $("#customerEmail").val();
    	var emailMsg = document.querySelector("#emailMsg");
    		
    	if(!email){
    		emailMsg.innerHTML = "이메일을 입력해주세요.";
			$("#emailMsg").css("color","#ff7474");
    	}else{
    		emailMsg.innerHTML = "";
    	}
    	return;
    }
    
    /* 연락처 널값 검사 */
    function telChk(){
    	var tel = $("#customerTel").val();
		var telMsg = document.querySelector("#telMsg");
		
		if(!tel){
			telMsg.innerHTML = "연락처를 입력해주세요.";
			$("#telMsg").css("color","#ff7474");
		}else{
			telMsg.innerHTML = "";
		}
		return;
    }
    
    /* 비밀번호찾기 성공 */
    function sendIt(){
    	var f = document.forgotForm;
    	
    	var email = $("#customerEmail").val();
    	var tel = $("#customerTel").val();
    	
    	if(!email || !tel){
    		alert("내용을 입력해주세요");
    		event.preventDefault();
			return;
    	}
    	
    	f.submit();
    }	
    </script>
</body>

</html>