<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="head.html :: headFragment"></div>

	<title>비밀번호 찾기</title>   

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/stylemj.css">
</head>

<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->

    <!-- Header Start -->
    <header th:replace="header.html :: headerFragment"></header>
    <!-- Header End -->

    <!-- mobile fix menu start -->
    <!-- mobile fix menu end -->

    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2 class="mb-2">비밀번호 찾기</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">비밀번호 찾기</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- log in section start -->
    <section class="log-in-section section-b-space forgot-section">
        <div class="container-fluid-lg w-100">
            <div class="row">
                <div class="col-xxl-4" style="margin: auto;">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="log-in-box">
                            <div class="log-in-title">
                                <h3>비밀번호 찾기</h3>
                            </div>

                            <div class="input-box">
                                <form class="row g-4">
                                    <div class="col-12">
                                        <div class="form-floating theme-form-floating log-in-form">
                                            <input type="email" class="form-control" id="customerEmail" name="customerEmail"
                                                placeholder="Email Address">
                                            <label for="email">이메일</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating theme-form-floating log-in-form">
                                            <input type="tel" class="form-control" id="customerTel" name="customerTel"
                                                placeholder="Tel">
                                            <label for="email">연락처</label>
                                        </div>
                                        
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-animation w-100" onclick="sendIt();">비밀번호 찾기</button>
                                    </div>
                                    
                                    <div class="other-log-in">
                            <h6></h6>
                        </div>

                        <div class="sign-up-box">
                            <p style="margin-bottom: 5px;">정보가 기억나지 않는다면?</p>
                            <p>고객센터 문의하기 (12-1234-1234)</p>
                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- log in section end -->

    <!-- Footer Section Start -->
    <footer th:replace="footer.html :: footerFragment"></footer>
    <!-- Footer Section End -->

    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
    <script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>
</body>

</html>