<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header class="pb-md-4 pb-0" th:fragment="headerFragment">
        <div class="header-top">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-xxl-3 d-xxl-block d-none">
                        <div class="top-left-header">
                            <i class="iconly-Location icli text-white"></i>
                            <span class="text-white">
                            <a sec:authorize="isAnonymous()" >로그인 후 구매 가능합니다</a>
                            <a sec:authorize="isAuthenticated()">즐거운 쇼핑 COZY HOUSE</a>
                            </span>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-lg-9 d-lg-block d-none">
                        <div class="header-offer">
                            <div class="notification-slider">
                                <div>
                                    <div class="timer-notification">
                                        <h6><strong class="me-1">환영합니당</strong>사람과 공간이 함께하는 Cozy House입니다
                                        </h6>
                                    </div>
                                </div>

                                <div>
                                    <div class="timer-notification">
                                        <h6>매일 매일 진행되는 오늘의 딜을 확인하세요
                                            <a th:href="@{/}" class="text-white">Buy Now</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <ul class="about-list right-nav-about">
                            <li class="right-nav-list">
                                <div class="dropdown theme-form-select">
                                    <button class="btn dropdown-toggle" type="button" id="select-language"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="/assets/images/country/korea.png"
                                            class="img-fluid blur-up lazyload" alt="">
                                        <span>대한민국</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="select-language">
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" id="english">
                                                <img src="/assets/images/country/united-states.png"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <span>English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" id="france">
                                                <img src="/assets/images/country/germany.png"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <span>Germany</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" id="chinese">
                                                <img src="/assets/images/country/turkish.png"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <span>Turki</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-nav top-header sticky-header">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar-top">
                            <button class="navbar-toggler d-xl-none d-inline navbar-menu-button" type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
                                <span class="navbar-toggler-icon">
                                    <i class="fa-solid fa-bars"></i>
                                </span>
                            </button>
                            <a th:href="@{/}" class="web-logo nav-logo" >
                                <img src="/assets/images/logo/logo_cozy8.png" class="img-fluid blur-up lazyload" alt="" style="width: 300px; height: 100px;">
                            </a>

                            <div class="middle-box">
                            
                            	<div class="location-box">
                                    <button class="btn location-button" data-bs-toggle="modal"
                                        data-bs-target="#locationModal">
                                        <span style="height: 36px;">&nbsp;</span>
                                        <span class="locat-name">상품명</span>
                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </div>
                            
                            	<form th:action="@{/search}" method="get" name="searchForm">
                                <div class="search-box">
                                    <div class="input-group">
                                    	
                                        <input type="search" class="form-control" placeholder="상품명을 입력하세요."
                                            aria-label="Recipient's username" aria-describedby="button-addon2" name="searchValue">
                                        <button class="btn" type="button" onclick="sendIt();" id="button-addon2" style="background-color: #00264B; border: 1px solid #00264B;">
                                            <i data-feather="search"></i>
                                        </button>
                                    </div>
                                </div>
                                </form>
                            </div>

                            <div class="rightside-box">
                                <div class="search-full">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i data-feather="search" class="font-light"></i>
                                        </span>
                                        <input type="text" class="form-control search-type" placeholder="Search here..">
                                        <span class="input-group-text close-search">
                                            <i data-feather="x" class="font-light"></i>
                                        </span>
                                    </div>
                                </div>
                                <ul class="right-side-menu">
                                    <li class="right-side">
                                        <div class="delivery-login-box">
                                            <div class="delivery-icon">
                                                <div class="search-box">
                                                    <i data-feather="search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-side">
                                        <a href="contact-us.html" class="delivery-login-box">
                                            <div class="delivery-icon">
                                                <i data-feather="phone-call"></i>
                                            </div>
                                            <div class="delivery-detail">
                                                <h6>365 고객센터</h6>
                                                <h5>02) 123 - 4567</h5>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="right-side">
                                        <a href="wishlist.html" class="btn p-0 position-relative header-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                    <li class="right-side">
                                        <div class="onhover-dropdown header-badge">
                                            <button type="button" class="btn p-0 position-relative header-wishlist">
                                                <i data-feather="shopping-cart"></i>
                                                <a sec:authorize="isAnonymous()">
                                                </a>
                                                <a sec:authorize="isAuthenticated()">
                                                <span class="position-absolute top-0 start-100 translate-middle badge" th:text="${session.cartsize}">
                                                </span>
                                                </a>
                                            </button>

                                            <div class="onhover-div" sec:authorize="isAuthenticated()">
                                                <ul class="cart-list">

                                                    <li class="product-box-contain" >
                                                        <div class="drop-cart" th:each="cartlist: ${session.cartList}">
                                                            <a th:href="@{/itemDetail(itemNum=${cartlist.itemNum})}" class="drop-image">
                                                                <img th:src="@{|/assets/img/${cartlist.itemImage1}|}"
                                                                    class="blur-up lazyload" alt="">
                                                            </a>

                                                            <div class="drop-contain">
                                                                <a th:href="@{/itemDetail(itemNum=${cartlist.itemNum})}">
                                                                    <h5 th:text="${cartlist.itemName}"></h5>
                                                                </a>
                                                                <h6><span th:text="|${cartlist.itemQty} X ${cartlist.itemPrice-cartlist.itemDiscount}|" ></span></h6>
                                                                <input type="hidden" name="itemPrice" th:value="${cartlist.itemPrice*cartlist.itemQty}">
                                                                <input type="hidden" name="disPrice" th:value="${cartlist.itemDiscount*cartlist.itemQty}">
                                                            </div>
                                                            <hr/>
                                                        </div>

                                                    </li>


                                                </ul>

                                                <div class="button-group">
                                                    <a href="/cart" class="btn btn-sm cart-button">장바구니로 가기</a>
                                                    <a href="/cartOrder" class="btn btn-sm cart-button theme-bg-color
                                                    text-white">주문하기</a>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="right-side onhover-dropdown">
                                        <div class="delivery-login-box" >
                                            <div class="delivery-icon">
                                                <i data-feather="user"></i>
                                            </div>
                                        </div>

                                        <div class="onhover-div onhover-div-login">
                                            <ul class="user-box-name">
                                                <li class="product-box-contain">
                                                    <i></i>
                                                    <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                                                    <a sec:authorize="isAuthenticated()" th:href="@{/customer/info}">마이페이지</a>
                                                </li>

                                                <li class="product-box-contain">
                                                    <a sec:authorize="isAnonymous()" th:href="@{/signUp}">회원가입</a>
                                                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                                                </li>

                                                <li class="product-box-contain">
                                                    <a sec:authorize="isAnonymous()" th:href="@{/forgot}">비밀번호 찾기</a>
                                                    <a sec:authorize="isAuthenticated()"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="header-nav">
                        <div class="header-nav-left" >
                            <button class="dropdown-category" style="width: 300px;" >
                                <i data-feather="align-left"></i>
                                <span style="letter-spacing: 5px;">CATEGORY</span>
                            </button>

                            <div class="category-dropdown">
                                <div class="category-title">
                                    <h5>카테고리</h5>
                                    <button type="button" class="btn p-0 close-button text-content">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </div>

                                <ul class="category-list">
                                    <li class="onhover-category-list">
                                        <a href="/category?itemMainType=1" class="category-name">
                                            <img src="/assets/svg/2/electronic_icon.png" alt="">
                                            <h6>가전제품</h6>
                                            <i class="fa-solid fa-angle-right"></i>
                                        </a>

                                        <div class="onhover-category-box w-100">
                                            <div class="list-1">                                              
                                                <ul>
                                                    <li>                                                       

                                                        <a href="/category?itemMainType=1&itemSubType=냉장고">냉장고</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=1&itemSubType=TV">TV</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=1&itemSubType=에어컨&공기청정기">에어컨 & 공기청정기</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=1&itemSubType=세탁기">세탁기</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=1&itemSubType=청소기">청소기</a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="onhover-category-list">
                                        <a href="/category?itemMainType=2" class="category-name">
                                            <img src="/assets/svg/2/bed_icon.png" alt="">
                                            <h6>가구</h6>
                                            <i class="fa-solid fa-angle-right"></i>
                                        </a>

                                        <div class="onhover-category-box w-100">
                                            <div class="list-1">
                                                
                                                <ul>
                                                    <li>

                                                        <a href="/category?itemMainType=2&itemSubType=침대">침대</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=2&itemSubType=쇼파">쇼파</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=2&itemSubType=테이블&의자">테이블 & 의자</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=2&itemSubType=옷장">옷장</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=2&itemSubType=행거">행거</a>

                                                    </li>
                                                                                            
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li class="onhover-category-list">
                                        <a href="/category?itemMainType=3" class="category-name">
                                            <img src="/assets/svg/2/kitchen_icon.png" alt="">
                                            <h6>주방용품</h6>
                                            <i class="fa-solid fa-angle-right"></i>
                                        </a>

                                        <div class="onhover-category-box w-100">
                                            <div class="list-1">
                                                
                                                <ul>
                                                    <li>

                                                        <a href="/category?itemMainType=3&itemSubType=냄비&프라이팬&솥">냄비 & 프라이팬 & 솥</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=3&itemSubType=홈세트(식기류)">홈세트(식기류)</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=3&itemSubType=칼">칼</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=3&itemSubType=수저">수저</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=3&itemSubType=도마">도마</a>

                                                    </li>
                                                                                            
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="onhover-category-list">
                                        <a href="/category?itemMainType=4" class="category-name">
                                            <img src="/assets/svg/2/cabinet_icon.png" alt="">
                                            <h6>수납ㆍ정리</h6>
                                            <i class="fa-solid fa-angle-right"></i>
                                        </a>

                                        <div class="onhover-category-box w-100">
                                            <div class="list-1">
                                                
                                                <ul>
                                                    <li>

                                                        <a href="/category?itemMainType=4&itemSubType=선반">선반</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=4&itemSubType=수납장&트롤리">수납장 & 트롤리</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=4&itemSubType=신발장">신발장</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=4&itemSubType=리빙박스&바구니">리빙박스 & 바구니</a>

                                                    </li>
                                                </ul>
                                            </div>                                
                                        </div>
                                    </li>

                                    <li class="onhover-category-list">
                                        <a href="/category?itemMainType=5" class="category-name">
                                            <img src="/assets/svg/2/laundry_icon.png" alt="">
                                            <h6>생필품</h6>
                                            <i class="fa-solid fa-angle-right"></i>
                                        </a>

                                        <div class="onhover-category-box w-100">
                                            <div class="list-1">                                              
                                                <ul>
                                                    <li>

                                                        <a href="/category?itemMainType=5&itemSubType=휴지">휴지</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=5&itemSubType=주방세제">주방세제</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=5&itemSubType=세탁세제">세탁세제</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=5&itemSubType=바디케어">바디케어</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=5&itemSubType=청소용품">청소용품</a>

                                                    </li>
                                                    
                                                </ul>
                                            </div>

                                            
                                        </div>
                                    </li>                                                                        
                                </ul>
                            </div>
                        </div>

                        <div class="header-nav-middle">
                            <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky" >
                                <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                                    <div class="offcanvas-header navbar-shadow">
                                        <h5>Menu</h5>
                                        <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <ul class="navbar-nav" style="padding-right: 370px;">
                                            <li class="nav-item dropdown" style="letter-spacing: 4px;">
                                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                    data-bs-toggle="dropdown" style="font-size: 17px;" >가전제품</a>

                                                <ul class="dropdown-menu">
                                                    <li>                                                       

                                                        <a href="/category?itemMainType=1&itemSubType=냉장고">냉장고</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=1&itemSubType=TV">TV</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=1&itemSubType=에어컨&공기청정기">에어컨 & 공기청정기</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=1&itemSubType=세탁기">세탁기</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=1&itemSubType=청소기">청소기</a>

                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="nav-item dropdown" style="letter-spacing: 4px;">
                                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                    data-bs-toggle="dropdown" style="font-size: 17px;">가구</a>

                                                <ul class="dropdown-menu">
                                                    <li>

                                                        <a href="/category?itemMainType=2&itemSubType=침대">침대</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=2&itemSubType=쇼파">쇼파</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=2&itemSubType=테이블&의자">테이블 & 의자</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=2&itemSubType=옷장">옷장</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=2&itemSubType=행거">행거</a>

                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="nav-item dropdown" style="letter-spacing: 4px;">
                                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                    data-bs-toggle="dropdown" style="font-size: 17px;">주방용품</a>

                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="/category?itemMainType=3&itemSubType=냄비&프라이팬&솥">냄비 & 프라이팬 & 솥</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=3&itemSubType=홈세트(식기류)">홈세트(식기류)</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=3&itemSubType=칼">칼</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=3&itemSubType=수저">수저</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=3&itemSubType=도마">도마</a>

                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="nav-item dropdown" style="letter-spacing: 4px;">
                                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                    data-bs-toggle="dropdown" style="font-size: 17px;">수납ㆍ정리</a>

                                                <ul class="dropdown-menu">
                                                    <li>

                                                        <a href="/category?itemMainType=4&itemSubType=선반">선반</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=4&itemSubType=수납장&트롤리">수납장 & 트롤리</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=4&itemSubType=신발장">신발장</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=4&itemSubType=리빙박스&바구니">리빙박스 & 바구니</a>

                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item dropdown" style="letter-spacing: 4px;">
                                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                    data-bs-toggle="dropdown" style="font-size: 17px;">생필품</a>
                                                <ul class="dropdown-menu">
                                                    <li>

                                                        <a href="/category?itemMainType=5&itemSubType=휴지">휴지</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=5&itemSubType=주방세제">주방세제</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=5&itemSubType=세탁세제">세탁세제</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=5&itemSubType=바디케어">바디케어</a>
                                                    </li>
                                                    <li>
                                                        <a href="/category?itemMainType=5&itemSubType=청소용품">청소용품</a>

                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="nav-item dropdown" style="letter-spacing: 5px;">
                                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                    data-bs-toggle="dropdown" style="font-size: 17px;">공지사항</a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="dropdown-item" th:href="@{/notice/list}">공지사항</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" th:href="@{/faq/list}">자주묻는 질문</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" th:href="@{/service/qnaList}">1대1 문의</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <!-- <li class="nav-item">
                                                <a class="nav-link nav-link-2" href="contact-us.html">Contact</a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="header-nav-right" sec:authorize="hasRole('ADMIN')">
                            <button class="btn deal-button" data-bs-toggle="modal" data-bs-target="#deal-box">
                                <i data-feather="zap"></i>
                                <span><a th:href="@{/createItem}">상품등록</a></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

   	<script type="text/javascript">

		function sendIt(){
			var f = document.searchForm;
			
			str = f.searchValue.value;
			str = str.trim();
			if(!str) {
				alert("\n검색어를 입력하세요.");
				f.searchValue.focus();
				return;
			}
			f.searchValue.value = str;
			
			f.submit();
			
		}

	</script>

    </header>
<script src="/assets/js/total.js"></script>
</html>