<!DOCTYPE html>
<html lang="ko">

    <div th:replace="head.html :: headFragment"></div>

	<title>COZY HOUSE</title>


    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="/assets/css/style_sh.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>

<body class="theme-color-1">

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->

    <!-- Header Start -->
    <header th:replace="header.html :: headerFragment"></header>
    <!-- Header End -->

    <!-- mobile fix menu start -->
    <!-- mobile fix menu end -->

    <!-- Home Section Start -->
    <section class="home-section pt-2">
        <div class="container-fluid-lg">
            <div class="row g-4">
               
               
               <!-- 메인 상단 좌측 배너 시작 -->
                <div class="col-xxl-3 col-sm-6 ratio_180">
                    <div class="slide_div">
                        <div class="h-100" >
                        	<a>
                        		<h6 class="text-danger mb-2 fw-bold">메인 상단 좌측 배너1</h6>
                            	<img style="width: 377px; height: 600px;" src="/assets/mainbanner/3000point.png" class="bg-img blur-up lazyload" alt="">
                            	
                        	</a>
                        </div>
                        <div class="h-100">
                        	<a>
                        		<h6 class="text-danger mb-2 fw-bold">메인 상단 좌측 배너2</h6>
                            	<img src="/assets/mainbanner/mainsidebanner1.png" class="bg-img blur-up lazyload" alt="">
                            	
                        	</a>
                        </div>
                        <div class="h-100">
                        	<a>
                        		<h6 class="text-danger mb-2 fw-bold">메인 상단 좌측 배너3</h6>
                            	<img src="/assets/mainbanner/mainsidebanner2.png" class="bg-img blur-up lazyload" alt="">
                            	
                        	</a>
                        </div>
                    </div>
                </div>
				<!-- 메인 상단 좌측 배너 끝 -->
               
               <!-- 메인 중앙 배너 시작 -->
                <div class="col-xxl-6 order-xxl-0 order-1 ratio_87">
                    <div class="home-contain rounded">
                        <div class="h-100">
                            <img style="height: 800px;" src="/assets/mainbanner/maincenter.png" class="bg-img blur-up lazyload" alt="">
                        </div>
                        
                    </div>
                </div>
                <!-- 메인 중앙 배너 끝 -->

                <!-- 메인 상단 우측 배너 시작 -->
                <div class="col-xxl-3 col-sm-6 ratio_180">
                    <div class="slide_divs" >
                        <div class="h-100" >
                        	
                            	<img style="width: 377px; height: 670px;" src="/assets/mainbanner/mainsidebanner3.png" class="bg-img blur-up lazyload" alt="">
                            	
                        	
                        </div>
                        <div class="h-100">
                        	
                            	<img src="/assets/mainbanner/mainsidebanner4.png" class="bg-img blur-up lazyload" alt="">
                            	
                        	
                        </div>
                        <div class="h-100">
                        	
                            	<img src="/assets/mainbanner/mainsidebanner5.png" class="bg-img blur-up lazyload" alt="">
                            	
                        	
                        </div>
                    </div>
                </div>
				<!-- 메인 상단 우측 배너 끝 -->
            </div>
        </div>
    </section>
    <!-- Home Section End -->

    <!-- Category Section Start -->
    <section>
        <div class="container-fluid-lg" style="display: inline;">
            <div class="row" style="display: inline;">
                <div class="col-12" style="display: inline;">
                    <div class="slider-9" style="display: inline;">
                        <div style="width: 400px;">
                            <a href="shop-left-sidebar.html" class="category-box category-box-2">
                                <div>
                                    <img src="/assets/svg/2/1.svg" class="blur-up lazyload" alt="">
                                    <h5>가전상품</h5>
                                </div>
                            </a>
                        </div>

                       <div style="width: 335px;">
                            <a href="shop-left-sidebar.html" class="category-box category-box-2" data-wow-delay="0.2s">
                                <div>
                                    <img src="/assets/svg/2/2.svg" class="blur-up lazyload" alt="">
                                    <h5>가구</h5>
                                </div>
                            </a>
                        </div>
                        
                        <div style="width: 335px;">
                            <a href="shop-left-sidebar.html" class="category-box category-box-2 " data-wow-delay="0.5s">
                                <div>
                                    <img src="/assets/svg/2/5.svg" class="blur-up lazyload" alt="">
                                    <h5>주방용품</h5>
                                </div>
                            </a>
                        </div>

                        <div style="width: 335px;">
                            <a href="shop-left-sidebar.html" class="category-box category-box-2 " data-wow-delay="0.3s">
                                <div>
                                    <img src="/assets/svg/2/3.svg" class="blur-up lazyload" alt="">
                                    <h5>수납 & 정리</h5>
                                </div>
                            </a>
                        </div>

                        <div style="width: 335px;">
                            <a href="shop-left-sidebar.html" class="category-box category-box-2 " data-wow-delay="0.4s">
                                <div>
                                    <img src="/assets/svg/2/4.svg" class="blur-up lazyload" alt="">
                                    <h5>생필품</h5>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category Section End -->

    <!-- Banner Section Start -->
    <section>
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="home-contain hover-effect">
                        <img src="/assets/images/cake/banner/11.jpg" class="bg-img blur-up lazyload" alt="">
                        <div class="home-detail p-center position-relative text-center">
                            <div>
                                <h3 class="text-danger text-uppercase fw-bold mb-0">
                                    
                                </h3>
                                <h2 class="theme-color text-pacifico fw-normal mb-0 super-sale text-center">
                                    
                                </h2>
                                <h2 class="home-name text-uppercase">sale</h2>
                                <h3 class="text-pacifico fw-normal text-content text-center">
                                   
                                </h3>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Start -->
    <section>
        <div class="container-fluid-lg">
            <div class="row g-3">
                <div class="col-xxl-9 col-xl-8">
                    <div class="title title-flex">
                        <div>
                            <h2>오늘의 딜</h2>
                            <span class="title-leaf">
                                <svg class="icon-width">
                                    <use xlink:href="/assets/svg/leaf.svg#cake"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="timing-box">
                            <div class="timing theme-bg-color">
                                <i data-feather="clock"></i>
                                <h6 class="name">Expires in :</h6>
                                <div class="time">
                                    <ul>
                                        <li>
                                            <div class="counter">
                                                <div>
                                                    <h6 id="days1"></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div>
                                                    <h6 id="hours1"></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div>
                                                    <h6 id="minutes1"></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div>
                                                    <h6 id="seconds1"></h6>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
				<!-- 오늘의 딜 시작 -->
                    <div class="product-box-slider-2 no-arrow" >
                        <div th:each="tdto:${tlists}" style="height:370px;">
                            <div class="product-box product-box-bg wow fadeInUp" >
                                <div class="product-image">
                                    <a th:href="@{/itemDetail(itemNum=${tdto.itemNum})}">
                                        <img th:src="@{|/assets/img/${tdto.itemImage1}|}"
                                            class="img-fluid blur-up lazyload" alt="">
                                    </a>
                                    <ul class="product-option">

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                            <a href="wishlist.html" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-detail">
                                    <a th:href="@{/itemDetail(itemNum=${tdto.itemNum})}">
                                        <h6 class="name" th:text="${tdto.itemName}">
                                            
                                        </h6>
                                    </a>

                                    <h5 class="sold text-content">
                                        <span class="theme-color price" th:text="${#numbers.formatInteger(tdto.itemPrice-tdto.itemDiscount, 0, 'COMMA') + ' 원'}" ></span>
                                        <del th:text="${#numbers.formatInteger(tdto.itemPrice, 0, 'COMMA') + ' 원'}"></del>
                                    </h5>

                                    <div class="product-rating mt-2">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>

                                        <h6 class="theme-color">In Stock</h6>
                                    </div>

                                    <div class="add-to-cart-box bg-white">
                                        <button class="btn btn-add-cart addcart_button addcart-button">Add
                                            <i class="fa-solid fa-plus"></i></button>
                                        <div class="cart_qty qty-box">
                                            <div class="input-group">
                                                <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                                <input class="form-control input-number qty-input" type="text"
                                                    name="quantity" value="0">
                                                <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
				<!-- 오늘의 딜 끝 -->
				
				<!-- best상품 시작 -->
                    <div class="title title-flex">
                        <div>
                            <h2>BEST 상품</h2>
                            <span class="title-leaf">
                                <svg class="icon-width">
                                    <use xlink:href="/assets/svg/leaf.svg#cake"></use>
                                </svg>
                            </span>
                        </div>
                        
                    </div>

                   <div class="product-box-slider-2 no-arrow" >
                        <div th:each="hdto:${hlists}" style="height:370px;">
                            <div class="product-box product-box-bg wow fadeInUp" >
                                <div class="product-image">
                                    <a th:href="@{/itemDetail(itemNum=${hdto.itemNum})}">
                                        <img th:src="@{|/assets/img/${hdto.itemImage1}|}"
                                            class="img-fluid blur-up lazyload" alt="">
                                    </a>
                                    <ul class="product-option">

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                            <a href="wishlist.html" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-detail">
                                    <a th:href="@{/itemDetail(itemNum=${hdto.itemNum})}">
                                        <h6 class="name" th:text="${hdto.itemName}">
                                            
                                        </h6>
                                    </a>

                                    <h5 class="sold text-content">
                                        <span class="theme-color price" th:text="${#numbers.formatInteger(hdto.itemPrice-hdto.itemDiscount, 0, 'COMMA') + ' 원'}" ></span>
                                        <del th:text="${#numbers.formatInteger(hdto.itemPrice, 0, 'COMMA') + ' 원'}"></del>
                                    </h5>

                                    <div class="product-rating mt-2">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>

                                        <h6 class="theme-color">In Stock</h6>
                                    </div>

                                    <div class="add-to-cart-box bg-white">
                                        <button class="btn btn-add-cart addcart_button addcart-button">Add
                                            <i class="fa-solid fa-plus"></i></button>
                                        <div class="cart_qty qty-box">
                                            <div class="input-group">
                                                <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                                <input class="form-control input-number qty-input" type="text"
                                                    name="quantity" value="0">
                                                <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				<!-- best상품 끝 -->
				
				<!-- 신상품 시작 -->
                    <div class="title title-flex">
                        <div>
                            <h2>신상품</h2>
                            <span class="title-leaf">
                                <svg class="icon-width">
                                    <use xlink:href="/assets/svg/leaf.svg#cake"></use>
                                </svg>
                            </span>
                        </div>
                        
                    </div>

                    <div class="product-box-slider-2 no-arrow" >
                        <div th:each="ndto:${nlists}" style="height:370px;">
                        <!-- 여기가 하나 시작 -->
                        
                            <div class="product-box product-box-bg wow fadeInUp" >
                                <div class="product-image">
                                    <a th:href="@{/itemDetail(itemNum=${ndto.itemNum})}">
                                        <img th:src="@{|/assets/img/${ndto.itemImage1}|}"
                                            class="img-fluid blur-up lazyload" alt="">
                                    </a>
                                    <ul class="product-option">

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                            <a href="wishlist.html" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-detail">
                                    <a th:href="@{/itemDetail(itemNum=${ndto.itemNum})}">
                                        <h6 class="name" th:text="${ndto.itemName}">
                                            
                                        </h6>
                                    </a>

                                    <h5 class="sold text-content">
                                        <span class="theme-color price" th:text="${#numbers.formatInteger(ndto.itemPrice-ndto.itemDiscount, 0, 'COMMA') + ' 원'}" ></span>
                                        <del th:text="${#numbers.formatInteger(ndto.itemPrice, 0, 'COMMA') + ' 원'}"></del>
                                    </h5>

                                    <div class="product-rating mt-2">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>

                                        <h6 class="theme-color">In Stock</h6>
                                    </div>

                                    <div class="add-to-cart-box bg-white">
                                        <button class="btn btn-add-cart addcart_button addcart-button">Add
                                            <i class="fa-solid fa-plus"></i></button>
                                        <div class="cart_qty qty-box">
                                            <div class="input-group">
                                                <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                                <input class="form-control input-number qty-input" type="text"
                                                    name="quantity" value="0">
                                                <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			<!-- 신상품 끝 -->
                <div class="col-xxl-3 col-xl-4 d-none d-xl-block">
                    <div class="position-sticky top-0">
                        <div class="ratio_209 rounded wow fadeIn">
                            <div class="banner-contain-2 rounded hover-effect">
                                <img src="/assets/images/cake/banner/10.jpg" class="bg-img blur-up lazyload" alt="">
                                <div class="banner-detail p-top-left">
                                    <div>
                                        <h6 class="text-uppercase theme-color fw-500">seafood</h6>
                                        <h3 class="text-uppercase">
                                            special <span class="brand-name">brand</span>
                                        </h3>
                                        <p class="text-content fw-500 mt-3 lh-lg">Special offer on the discount very
                                            hungry cake and sweets</p>

                                        <div class="banner-detail-box banner-detail-box-2 mb-md-3 mb-1">
                                            <h4 class="text-uppercase">up to</h4>
                                            <h2 class="mt-2">50%</h2>
                                            <h3 class="text-uppercase">off</h3>
                                        </div>

                                        <div>
                                            <button onclick="location.href = 'shop-left-sidebar.html';"
                                                class="btn text-white btn-md mt-xxl-4 mt-2 home-button mend-auto theme-bg-color">Shop
                                                Now<i class="fa-solid fa-right-long icon ms-2"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ratio_125 section-t-space wow fadeIn">
                            <div class="banner-contain-2 rounded hover-effect">
                                <img src="/assets/images/cake/banner/9.jpg" class="bg-img blur-up lazyload" alt="">
                                <div class="banner-detail p-top-left">
                                    <div>
                                        <h6 class="text-uppercase theme-color fw-500">Freash Every Day!</h6>
                                        <h3 class="text-pacifico mt-2">Delicioud <span class="theme-color">Bread</span>
                                        </h3>
                                        <p class="text-content fw-500 mt-3 w-75 mend-auto">Delicioud Bread and Brend new
                                            fresh bread.</p>
                                        <button onclick="location.href = 'shop-left-sidebar.html';"
                                            class="btn text-white btn-md mt-2 home-button mend-auto theme-bg-color">
                                            Shop Now <i class="fa-solid fa-right-long icon ms-2"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Banner Section Start -->
    <section>
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="home-contain hover-effect">
                        <img src="/assets/images/cake/banner/11.jpg" class="bg-img blur-up lazyload" alt="">
                        <div class="home-detail p-center position-relative text-center">
                            <div>
                                <h3 class="text-danger text-uppercase fw-bold mb-0">
                                    
                                </h3>
                                <h2 class="theme-color text-pacifico fw-normal mb-0 super-sale text-center">
                                    
                                </h2>
                                <h2 class="home-name text-uppercase">sale</h2>
                                <h3 class="text-pacifico fw-normal text-content text-center">
                                   
                                </h3>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Top Selling Section Start -->
    
    <!-- Top Selling Section End -->

    <!-- Newsletter Section Start -->
    <section class="newsletter-section section-b-space">
        
    </section>
    <!-- Newsletter Section End -->

   <!-- Footer Section Start -->
    <footer th:replace="footer.html :: footerFragment"></footer>
    <!-- Footer Section End -->


  

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- latest jquery-->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="/assets/js/jquery-ui.min.js"></script>

    <!-- sidebar open js -->
    <script src="/assets/js/filter-sidebar.js"></script>

    <!-- Bootstrap js-->
    <script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="/assets/js/feather/feather.min.js"></script>
    <script src="/assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="/assets/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="/assets/js/slick/slick.js"></script>
    <script src="/assets/js/slick/custom_slick.js"></script>
    <script src="/assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Auto Height Js -->
    <script src="/assets/js/auto-height.js"></script>

    <!-- Timer Js -->
    <script src="/assets/js/timer.js"></script>

    <!-- Fly Cart Js -->
    <script src="/assets/js/fly-cart.js"></script>

    <!-- Quantity js -->
    <script src="/assets/js/quantity.js"></script>
    <script src="/assets/js/quantity-3.js"></script>

    <!-- WOW js -->
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/custom-wow.js"></script>

    <!-- script js -->
    <script src="/assets/js/script.js"></script>
    
    <script type="text/javascript">
	
    
    $(document).ready(function(){
		
    	$(".slide_div").slick(
    	
 			{
 				dots: true,
 				autoplay : true,
 				autoplaySpeed: 1000
 			}	
 			
    	);
    	
    	$(".slide_divs").slick(
    	    	
     			{
     				dots: true,
     				autoplay : false,
     				autoplaySpeed: 0
     			}	
     			
        	);
    	$('.slide_dive').slick({
    		  rtl: true
    		});
    	
    	
	});
    
    
    
    
    </script>
</body>

</html>