<!DOCTYPE html>

<html lang="en">

<head>
<div th:replace="head.html :: headFragment"></div>
<title>상세페이지</title>

<!-- Google font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
	rel="stylesheet">



<!-- Template css -->
<link id="color-link" rel="stylesheet" type="text/css"
	href="../assets/css/stylecj.css">
<link id="color-link" rel="stylesheet" type="text/css"
	href="../assets/css/stylemj.css">
<style id="__web-inspector-hide-shortcut-style__">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *,
	.__web-inspector-hidebefore-shortcut__::before,
	.__web-inspector-hideafter-shortcut__::after {
	visibility: hidden !important;
}
</style>
</head>
</head>

<body>

	<!-- Loader Start -->

	<!-- Loader End -->

	<!-- Header Start -->
	<header th:replace="header.html :: headerFragment"></header>

	<!-- Header End -->

	<!-- mobile fix menu start -->
	<div class="mobile-menu d-md-none d-block mobile-cart">
		<ul>
			<li class="active"><a href="index.html"> <i
					class="iconly-Home icli"></i> <span>Home</span>
			</a></li>

			<li class="mobile-category"><a href="javascript:void(0)"> <i
					class="iconly-Category icli js-link"></i> <span>Category</span>
			</a></li>

			<li><a href="search.html" class="search-box"> <i
					class="iconly-Search icli"></i> <span>Search</span>
			</a></li>

			<li><a href="wishlist.html" class="notifi-wishlist"> <i
					class="iconly-Heart icli"></i> <span>My Wish</span>
			</a></li>

			<li><a href="cart.html"> <i
					class="iconly-Bag-2 icli fly-cate"></i> <span>Cart</span>
			</a></li>
		</ul>
	</div>
	<!-- mobile fix menu end -->

	<!-- Breadcrumb Section Start -->

	<section class="breadscrumb-section pt-0">
		<div class="container-fluid-lg">
			<div class="row">
				<div class="col-12">
					<div class="breadscrumb-contain">
						<h2 th:text="${idto.itemName}"></h2>

						<nav>
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a href="index.html"> <i
										class="fa-solid fa-house"></i>
								</a></li>

								<li class="breadcrumb-item active"
									th:text="${idto.itemMainType }">다음페이지</li>
								<li class="breadcrumb-item active" th:text="${idto.itemSubType}"></li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>


	</section>

	<!-- Breadcrumb Section End -->

	<!-- Product Left Sidebar Start -->
	<section class="product-section">
		<div class="container-fluid-lg">
			<div class="row">
				<div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp">
					<div class="row g-4">
						<div class="col-xl-6 wow fadeInUp">
							<div class="product-left-box">
								<div class="row g-2">
									<div class="col-12">
										<div class="product-main-1 no-arrow">
											<div>
												<div class="slider-image">
													<img th:src="@{|/assets/img/${idto.itemImage1}|} "
														width=750px, height=750px id="img-1"
														data-zoom-image="/assets/img/sodwkdrh1_1.png"
														class="img-fluid image_zoom_cls-0 blur-up lazyload" alt="">
												</div>
											</div>

											<div>
												<div class="slider-image">
													<img th:src="@{|/assets/img/${idto.itemImage2}|}"
														width=750px, height=750px
														data-zoom-image="../assets/images/product/category/2.jpg"
														class="img-fluid image_zoom_cls-1 blur-up lazyload" alt="">
												</div>
											</div>

											<div>
												<div class="slider-image">
													<img th:src="@{|/assets/img/${idto.itemImage3}|}"
														width=750px, height=750px
														data-zoom-image="../assets/images/product/category/3.jpg"
														class="img-fluid image_zoom_cls-2 blur-up lazyload" alt="">
												</div>
											</div>
											<div>
												<div class="slider-image">
													<img th:src="@{|/assets/img/${idto.itemImage4}|}"
														width=750px, height=750px
														data-zoom-image="../assets/images/product/category/3.jpg"
														class="img-fluid image_zoom_cls-2 blur-up lazyload" alt="">
												</div>
											</div>


										</div>
									</div>

									<div class="col-12">
										<div
											class="bottom-slider-image left-slider no-arrow slick-top">
											<div>
												<div class="sidebar-image">
													<img th:src="@{|/assets/img/${idto.itemImage1}|}"
														class="img-fluid blur-up lazyload" alt="">
												</div>
											</div>

											<div>
												<div class="sidebar-image">
													<img th:src="@{|/assets/img/${idto.itemImage2}|}"
														class="img-fluid blur-up lazyload" alt="">
												</div>
											</div>

											<div>
												<div class="sidebar-image">
													<img th:src="@{|/assets/img/${idto.itemImage3}|}"
														class="img-fluid blur-up lazyload" alt="">
												</div>
											</div>
											<div>
												<div class="sidebar-image">
													<img th:src="@{|/assets/img/${idto.itemImage4}|}"
														class="img-fluid blur-up lazyload" alt="">
												</div>
											</div>




										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
							<form action="/order" name="order" type="post">
								<input type="hidden" th:value="${idto.getItemNum()}" name="num">
								<div class="right-box-contain">
									<h6 class="offer-top"
										th:text="|${#numbers.formatInteger(idto.ItemDiscount , 0, 'COMMA')} 원|">세일</h6>
									<h2 class="name" th:text="${idto.itemName }"></h2>
									<div class="price-rating">
										<h3 class="theme-color price">
											<del class="text-content"
												 th:text="|${#numbers.formatInteger(idto.ItemPrice , 0, 'COMMA')} 원|"></del>
											<span class="text-content"
												  th:text="|${#numbers.formatInteger(idto.getItemPrice()-idto.itemDiscount , 0, 'COMMA')} 원|"></span>
											<span class="offer theme-color">
											([[|${#numbers.formatInteger(idto.ItemDiscount , 0, 'COMMA')}
											원|]] 할인)</span>

										</h3>
										<div class="product-rating custom-rate">
											<ul class="rating">
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star"></i></li>
											</ul>
											<span class="review">23 개의 리뷰</span>
										</div>
									</div>

									<div class="procuct-contain">
										<p th:text="${idto.itemContent}"></p>
									</div>

									<div class="product-packege">
										<div class="product-title">
											<h4>사이즈 옵션</h4>
										</div>
										<div class="dropdown">
											<button class="dropdown-toggle" type="button"
													id="dropdownMenuButton1" data-bs-toggle="dropdown">
												<span>사이즈를 선택하세요</span> <i class="fa-solid fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu"
												aria-labelledby="dropdownMenuButton1">
												<th:block th:each="size : ${itemSizes}">
											<li><a class="dropdown-item" id="pop1"
												href="javascript:void(0)" th:text="${size }"></a></li>
											<br />
											</th:block>

												

											</ul>
										</div>
									</div>
									<div class="product-packege">
										<div class="product-title">
											<h4>색상 옵션</h4>
										</div>
										<div class="dropdown">
											<button class="dropdown-toggle" type="button"
													id="dropdownMenuButton" data-bs-toggle="dropdown">
												<span>색상을 선택하세요</span> <i class="fa-solid fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu"
												aria-labelledby="dropdownMenuButton1">
												<th:block th:each="color : ${itemColors}">
											<li><a class="dropdown-item" id="pop"
												href="javascript:void(0)" th:text="${color}"></a></li>
											<br/>
											</th:block>

												


											</ul>
										</div>
									</div>

									<div class="time deal-timer product-deal-timer mx-md-0 mx-auto">
										<div class="product-title">
											<h4>오늘의 딜 남은시간!!</h4>
										</div>
										<ul>
											<li>
												<div class="counter">
													<div>
														<h5 id="days2"></h5>
														<h6>일</h6>
													</div>
												</div>
											</li>
											<li>
												<div class="counter">
													<div>
														<h5 id="hours2"></h5>
														<h6>시간</h6>
													</div>
												</div>
											</li>
											<li>
												<div class="counter">
													<div>
														<h5 id="minutes2"></h5>
														<h6>분</h6>
													</div>
												</div>
											</li>
											<li>
												<div class="counter">
													<div>
														<h5 id="seconds2"></h5>
														<h6>초</h6>
													</div>
												</div>
											</li>
										</ul>
									</div>


									<div class="note-box product-packege">
										<div class="cart_qty qty-box product-qty">
											<div class="input-group">
												<button type="button" class="btn qty-left-minus" data-type="minus" data-field="">
													<i class="fa fa-minus ms-0" aria-hidden="true"></i>
												</button>
												<input class="form-control input-number qty-input"
													   type="text" name="itemQty" value="1">
												<button type="button" class="btn qty-right-plus" data-type="plus" data-field="">
													<i class="fa fa-plus ms-0" aria-hidden="true"></i>
												</button>
											</div>
										</div>


										<button onclick="location.href = '/cart';"
												class="btn btn-md bg-dark cart-button text-white w-40">장바구니
										</button>
										<button onclick="location.href = '/order';"
												class="btn btn-md bg-dark cart-button text-white w-40">바로결제
										</button>


									</div>
							</form>


									<!--<input type="hidden" id="itemQty" name="itemQty" th:value="${itemQty}">-->


								</div>

								<div class="buy-box">
									<a href="wishlist.html"> <i data-feather="heart"></i> <span>장바구니
											추가</span>
									</a>


								</div>

								<div class="pickup-box">
									<div class="product-title">
										<h4>혜택</h4>
									</div>

									<div class="pickup-detail">
										<h4 class="text-content">309P 적립 (WELCOME 0.1% 적립)</h4>
										<h4 class="text-content">최대 7% 카드 즉시할인 (현대)</h4>
										<h4 class="text-content">월 38,625원 (8개월) 무이자할부</h4>
									</div>
									<div class="product-title">
										<h4>배송</h4>
									</div>

									<div class="pickup-detail">
										<h4 class="text-content">무료배송</h4>
										<h4 class="text-content">제주도 / 산간지역 배송불가</h4>

									</div>

								</div>

							</div>
						</div>

						<div class="col-12">
							<div class="product-section-box">
								<ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" id="description-tab"
											data-bs-toggle="tab" data-bs-target="#description"
											type="button" role="tab" aria-controls="description"
											aria-selected="true">상품정보</button>
									</li>



									<li class="nav-item" role="presentation">
										<button class="nav-link" id="care-tab" data-bs-toggle="tab"
											data-bs-target="#care" type="button" role="tab"
											aria-controls="care" aria-selected="false">상품문의</button>
									</li>

									<li class="nav-item" role="presentation">
										<button class="nav-link" id="review-tab" data-bs-toggle="tab"
											data-bs-target="#review" type="button" role="tab"
											aria-controls="review" aria-selected="false">리뷰</button>
									</li>
								</ul>

								<div class="tab-content custom-tab" id="myTabContent">
									<div class="tab-pane fade show active" id="description"
										role="tabpanel" aria-labelledby="description-tab">
										<div class="product-description">




											<div class="nav-desh">
												<p th:src="@{${idto.detailImage}} " width=1198px,
													height=297px>상품 상세내용</p>
											</div>



											<div class="banner-contain nav-desh">
												<img th:src="@{|/assets/img/${idto.detailImage}|}"
													class="bg-img blur-up lazyload" alt="">
												<div
													class="banner-details p-center banner-b-space w-100 text-center">
													<div>
														<h6 class="ls-expanded theme-color mb-sm-3 mb-1"></h6>
														<h2></h2>
														<p class="mx-auto mt-1"></p>
													</div>
												</div>
											</div>


										</div>
									</div>

									<div class="tab-pane fade" id="info" role="tabpanel"
										aria-labelledby="info-tab">
										<div class="table-responsive">
											<table class="table info-table">
												<tbody>
													<tr>
														<td>Specialty</td>
														<td>Vegetarian</td>
													</tr>
													<tr>
														<td>Ingredient Type</td>
														<td>Vegetarian</td>
													</tr>
													<tr>
														<td>Brand</td>
														<td>Lavian Exotique</td>
													</tr>
													<tr>
														<td>Form</td>
														<td>Bar Brownie</td>
													</tr>
													<tr>
														<td>Package Information</td>
														<td>Box</td>
													</tr>
													<tr>
														<td>Manufacturer</td>
														<td>Prayagh Nutri Product Pvt Ltd</td>
													</tr>
													<tr>
														<td>Item part number</td>
														<td>LE 014 - 20pcs Crème Bakes (Pack of 2)</td>
													</tr>
													<tr>
														<td>Net Quantity</td>
														<td>40.00 count</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

									<div class="tab-pane fade" id="care" role="tabpanel"
										aria-labelledby="care-tab">
										<div class="information-box">
											<form action="qnaWrite_ok" method="post" th:object="${itemDetailDto}">
												

												<h2>Q & A</h2>
												<hr />
												<p>상품문의</p>
												<div class="form-floating theme-form-floating">
												
												<input type="hidden" name="itemNum" id="itemNum" th:value="${idto.itemNum}" >
												<input type="hidden" name="customerEmail" id="customerEmail" value="pageSession@email.com" >
												
												
												
													<input
														type="text" class="form-control" id="itemQnaTitle"
														placeholder="Name" name="itemQnaTitle"> <label
														for="itemQnaTitle">문의 제목 (30자 이내)</label>
												</div>
												<br>
												<div class="col-12">
													<div class="form-floating theme-form-floating">
														<textarea class="form-control"
															placeholder="Leave a comment here" id="itemQnaContent"
															style="height: 150px" name="itemQnaContent"></textarea>
														<label for="floatingTextarea2">문의 내용을 입력해주세요(300자
															이내)</label>
													</div>
												</div>
												<br>
												<div>
													<ul>
														<button class="btn-ani" type="submit">
															등록하기
															<button class="btn-cancel" type="button" onclick="">등록취소</button>
													</ul>
												</div>

											</form>
										</div>
										<hr>
										<div class="profile-about dashboard-bg-box">
											<div class="row">
												<div class="dashboard-title mb-3">
													<h3 style="display: inline;">상품문의</h3>
													
													<hr>
												</div>
											</div>
											<div class="row" th:each="qdto : ${qdtoList}">
												

												<div class="col-xxl-9" style="text-align: left;">
													<div class="dashboard-title mb-2">
														<a style="display: inline; font-size: 12px; color: gray;"
															th:text="${qdto.customerEmail}">님</a> <a
															style="display: inline; font-size: 12px; color: gray;"
															th:text="${#dates.format(qdto.itemQnaCreate, 'yyyy-MM-dd')}">문의날짜</a>
															<input type="text" th:value="${qdto.itemQnaNum}">
													</div>
													<div>
														<a style="display: inline; font-size: 12px; color: gray;"><b
															th:text="${qdto.itemQnaTitle}"></b></a><br> <br> <a
															style="display: inline; font-size: 12px; color: gray;"
															th:text="${qdto.itemQnaContent}">내용</a>
												
											<div class="col-xxl-9" style="text-align: left;" th:if="${not #strings.isEmpty(qdto.answer.qnaContent)}">
											</div>
											<div class="col-xxl-9" style="text-align: left;" th:unless="${#strings.isEmpty(qdto.answer.qnaContent)}">
													<div class="dashboard-title mb-2">
													<h6>답변</h6>
														<a style="display: inline; font-size: 12px; color: gray;" th:text="${qdto.answer.qnaContent}" ></a> 
														
													</div>
												</div> 
															
												
													<hr>
												</div>
												<div style="width: auto;">
													<button class="btn-anii" type="button"
															th:onclick="|location.href = '@{|itemQnaAnswer?itemQnaNum=${qdto.itemQnaNum}|}';|">답변하기</button>
													<span class="review">삭제하기</span>
												</div>
											</div>
										


									</div>


									<div class="tab-pane fade" id="review" role="tabpanel"
										aria-labelledby="review-tab">
										<div class="review-box">
											<div class="row g-4">



												<div class="col-12">
													<div class="review-title">

														<button class="btn-anii" type="button"
															th:onclick="|location.href = '@{|reviewWrite?itemNum=${idto.itemNum}|}';|">리뷰작성</button>

													</div>
													<hr />

													<div class="review-people">
														<ul class="review-list">
															<li th:each="rdto : ${rdtoList}">
																<div class="people-box">



																	<div class="people-comment">
																		<a class="name" href="javascript:void(0)"
																			th:text="${rdto.customerEmail}"> </a>

																		<div class="date-time">

																			<h6 class="text-content"
																				th:text="${#dates.format(rdto.regDate, 'yyyy-MM-dd')}"></h6>

																			<div class="product-rating">
																				<ul class="rating">
																					<li><i data-feather="star" class="fill"></i>평점:<a
																						th:text="${rdto.rating}"></a></li>

																				</ul>
																			</div>
																		</div>

																		<div class="reply">
																			<p>[[${rdto.content}]]
																				<button th:onclick="|location.href = '@{|reviewUpdate?replyId=${rdto.replyId}|}';|">수정하기</button>
																				<input type="button" value=" 삭제 " th:onclick="@{|location.href='/deleteReply?replyId=${rdto.replyId}'|}"/>
																			</p>
																		</div>
																		
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!-- Product Left Sidebar End -->

	<!-- Releted Product Section Start -->
	<section class="product-list-section section-b-space">
		<div class="container-fluid-lg">
			<div class="title">
				<h2>Related Products</h2>
				<span class="title-leaf"> <svg class="icon-width">
                        <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                    </svg>
				</span>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="slider-6_1 product-wrapper">
						<div>
							<div class="product-box-3 wow fadeInUp">
								<div class="product-header">
									<div class="product-image">
										<a href="product-left.htm"> <img
											src="../assets/images/cake/product/11.png"
											class="img-fluid blur-up lazyload" alt="">
										</a>

										<ul class="product-option">
											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="View"><a href="javascript:void(0)"
												data-bs-toggle="modal" data-bs-target="#view"> <i
													data-feather="eye"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Compare"><a href="compare.html"> <i
													data-feather="refresh-cw"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Wishlist"><a href="wishlist.html"
												class="notifi-wishlist"> <i data-feather="heart"></i>
											</a></li>
										</ul>
									</div>
								</div>

								<div class="product-footer">
									<div class="product-detail">
										<span class="span-name">Cake</span> <a
											href="product-left.html">
											<h5 class="name">Chocolate Chip Cookies 250 g</h5>
										</a>
										<div class="product-rating mt-2">
											<ul class="rating">
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
											</ul>
											<span>(5.0)</span>
										</div>
										<h6 class="unit">500 G</h6>
										<h5 class="price">
											<span class="theme-color">$10.25</span>
											<del>$12.57</del>
										</h5>
										<div class="add-to-cart-box bg-white">
											<button
												class="btn btn-add-cart addcart_button addcart-button">
												Add <i class="fa-solid fa-plus bg-gray"></i>
											</button>
											<div class="cart_qty qty-box">
												<div class="input-group">
													<button type="button" class="qty-left-minus"
														data-type="minus" data-field="">
														<i class="fa fa-minus" aria-hidden="true"></i>
													</button>
													<input class="form-control input-number qty-input"
														type="text" name="quantity" value="0">
													<button type="button" class="qty-right-plus"
														data-type="plus" data-field="">
														<i class="fa fa-plus" aria-hidden="true"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div>
							<div class="product-box-3 wow fadeInUp" data-wow-delay="0.05s">
								<div class="product-header">
									<div class="product-image">
										<a href="product-left.html"> <img
											src="../assets/images/cake/product/2.png"
											class="img-fluid blur-up lazyload" alt="">
										</a>

										<ul class="product-option">
											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="View"><a href="javascript:void(0)"
												data-bs-toggle="modal" data-bs-target="#view"> <i
													data-feather="eye"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Compare"><a href="compare.html"> <i
													data-feather="refresh-cw"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Wishlist"><a href="wishlist.html"
												class="notifi-wishlist"> <i data-feather="heart"></i>
											</a></li>
										</ul>
									</div>
								</div>
								<div class="product-footer">
									<div class="product-detail">
										<span class="span-name">Vegetable</span> <a
											href="product-left.html">
											<h5 class="name">Fresh Bread and Pastry Flour 200 g</h5>
										</a>
										<div class="product-rating mt-2">
											<ul class="rating">
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star"></i></li>
											</ul>
											<span>(4.0)</span>
										</div>
										<h6 class="unit">250 ml</h6>
										<h5 class="price">
											<span class="theme-color">$08.02</span>
											<del>$15.15</del>
										</h5>
										<div class="add-to-cart-box bg-white">
											<button
												class="btn btn-add-cart addcart_button addcart-button">
												Add <i class="fa-solid fa-plus bg-gray"></i>
											</button>
											<div class="cart_qty qty-box">
												<div class="input-group">
													<button type="button" class="qty-left-minus"
														data-type="minus" data-field="">
														<i class="fa fa-minus" aria-hidden="true"></i>
													</button>
													<input class="form-control input-number qty-input"
														type="text" name="quantity" value="0">
													<button type="button" class="qty-right-plus"
														data-type="plus" data-field="">
														<i class="fa fa-plus" aria-hidden="true"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div>
							<div class="product-box-3 wow fadeInUp" data-wow-delay="0.1s">
								<div class="product-header">
									<div class="product-image">
										<a href="product-left.html"> <img
											src="../assets/images/cake/product/3.png"
											class="img-fluid blur-up lazyload" alt="">
										</a>

										<ul class="product-option">
											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="View"><a href="javascript:void(0)"
												data-bs-toggle="modal" data-bs-target="#view"> <i
													data-feather="eye"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Compare"><a href="compare.html"> <i
													data-feather="refresh-cw"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Wishlist"><a href="wishlist.html"
												class="notifi-wishlist"> <i data-feather="heart"></i>
											</a></li>
										</ul>
									</div>
								</div>

								<div class="product-footer">
									<div class="product-detail">
										<span class="span-name">Vegetable</span> <a
											href="product-left.html">
											<h5 class="name">Peanut Butter Bite Premium Butter
												Cookies 600 g</h5>
										</a>
										<div class="product-rating mt-2">
											<ul class="rating">
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star"></i></li>
												<li><i data-feather="star"></i></li>
												<li><i data-feather="star"></i></li>
											</ul>
											<span>(2.4)</span>
										</div>
										<h6 class="unit">350 G</h6>
										<h5 class="price">
											<span class="theme-color">$04.33</span>
											<del>$10.36</del>
										</h5>
										<div class="add-to-cart-box bg-white">
											<button
												class="btn btn-add-cart addcart_button addcart-button">
												Add <i class="fa-solid fa-plus bg-gray"></i>
											</button>
											<div class="cart_qty qty-box">
												<div class="input-group">
													<button type="button" class="qty-left-minus"
														data-type="minus" data-field="">
														<i class="fa fa-minus" aria-hidden="true"></i>
													</button>
													<input class="form-control input-number qty-input"
														type="text" name="quantity" value="0">
													<button type="button" class="qty-right-plus"
														data-type="plus" data-field="">
														<i class="fa fa-plus" aria-hidden="true"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div>
							<div class="product-box-3 wow fadeInUp" data-wow-delay="0.15s">
								<div class="product-header">
									<div class="product-image">
										<a href="product-left.html"> <img
											src="../assets/images/cake/product/4.png"
											class="img-fluid blur-up lazyload" alt="">
										</a>

										<ul class="product-option">
											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="View"><a href="javascript:void(0)"
												data-bs-toggle="modal" data-bs-target="#view"> <i
													data-feather="eye"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Compare"><a href="compare.html"> <i
													data-feather="refresh-cw"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Wishlist"><a href="wishlist.html"
												class="notifi-wishlist"> <i data-feather="heart"></i>
											</a></li>
										</ul>
									</div>
								</div>

								<div class="product-footer">
									<div class="product-detail">
										<span class="span-name">Snacks</span> <a
											href="product-left.html">
											<h5 class="name">SnackAmor Combo Pack of Jowar Stick and
												Jowar Chips</h5>
										</a>
										<div class="product-rating mt-2">
											<ul class="rating">
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
											</ul>
											<span>(5.0)</span>
										</div>
										<h6 class="unit">570 G</h6>
										<h5 class="price">
											<span class="theme-color">$12.52</span>
											<del>$13.62</del>
										</h5>
										<div class="add-to-cart-box bg-white">
											<button
												class="btn btn-add-cart addcart_button addcart-button">
												Add <i class="fa-solid fa-plus bg-gray"></i>
											</button>
											<div class="cart_qty qty-box">
												<div class="input-group">
													<button type="button" class="qty-left-minus"
														data-type="minus" data-field="">
														<i class="fa fa-minus" aria-hidden="true"></i>
													</button>
													<input class="form-control input-number qty-input"
														type="text" name="quantity" value="0">
													<button type="button" class="qty-right-plus"
														data-type="plus" data-field="">
														<i class="fa fa-plus" aria-hidden="true"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div>
							<div class="product-box-3 wow fadeInUp" data-wow-delay="0.2s">
								<div class="product-header">
									<div class="product-image">
										<a href="product-left.html"> <img
											src="../assets/images/cake/product/5.png"
											class="img-fluid blur-up lazyload" alt="">
										</a>

										<ul class="product-option">
											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="View"><a href="javascript:void(0)"
												data-bs-toggle="modal" data-bs-target="#view"> <i
													data-feather="eye"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Compare"><a href="compare.html"> <i
													data-feather="refresh-cw"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Wishlist"><a href="wishlist.html"
												class="notifi-wishlist"> <i data-feather="heart"></i>
											</a></li>
										</ul>
									</div>
								</div>

								<div class="product-footer">
									<div class="product-detail">
										<span class="span-name">Snacks</span> <a
											href="product-left.html">
											<h5 class="name">Yumitos Chilli Sprinkled Potato Chips
												100 g</h5>
										</a>
										<div class="product-rating mt-2">
											<ul class="rating">
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star"></i></li>
												<li><i data-feather="star"></i></li>
											</ul>
											<span>(3.8)</span>
										</div>
										<h6 class="unit">100 G</h6>
										<h5 class="price">
											<span class="theme-color">$10.25</span>
											<del>$12.36</del>
										</h5>
										<div class="add-to-cart-box bg-white">
											<button
												class="btn btn-add-cart addcart_button addcart-button">
												Add <i class="fa-solid fa-plus bg-gray"></i>
											</button>
											<div class="cart_qty qty-box">
												<div class="input-group">
													<button type="button" class="qty-left-minus"
														data-type="minus" data-field="">
														<i class="fa fa-minus" aria-hidden="true"></i>
													</button>
													<input class="form-control input-number qty-input"
														type="text" name="quantity" value="0">
													<button type="button" class="qty-right-plus"
														data-type="plus" data-field="">
														<i class="fa fa-plus" aria-hidden="true"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div>
							<div class="product-box-3 wow fadeInUp" data-wow-delay="0.25s">
								<div class="product-header">
									<div class="product-image">
										<a href="product-left.html"> <img
											src="../assets/images/cake/product/6.png"
											class="img-fluid blur-up lazyload" alt="">
										</a>

										<ul class="product-option">
											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="View"><a href="javascript:void(0)"
												data-bs-toggle="modal" data-bs-target="#view"> <i
													data-feather="eye"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Compare"><a href="compare.html"> <i
													data-feather="refresh-cw"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Wishlist"><a href="wishlist.html"
												class="notifi-wishlist"> <i data-feather="heart"></i>
											</a></li>
										</ul>
									</div>
								</div>

								<div class="product-footer">
									<div class="product-detail">
										<span class="span-name">Vegetable</span> <a
											href="product-left.html">
											<h5 class="name">Fantasy Crunchy Choco Chip Cookies</h5>
										</a>
										<div class="product-rating mt-2">
											<ul class="rating">
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star"></i></li>
											</ul>
											<span>(4.0)</span>
										</div>

										<h6 class="unit">550 G</h6>

										<h5 class="price">
											<span class="theme-color">$14.25</span>
											<del>$16.57</del>
										</h5>
										<div class="add-to-cart-box bg-white">
											<button
												class="btn btn-add-cart addcart_button addcart-button">
												Add <i class="fa-solid fa-plus bg-gray"></i>
											</button>
											<div class="cart_qty qty-box">
												<div class="input-group">
													<button type="button" class="qty-left-minus"
														data-type="minus" data-field="">
														<i class="fa fa-minus" aria-hidden="true"></i>
													</button>
													<input class="form-control input-number qty-input"
														type="text" name="quantity" value="0">
													<button type="button" class="qty-right-plus"
														data-type="plus" data-field="">
														<i class="fa fa-plus" aria-hidden="true"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div>
							<div class="product-box-3 wow fadeInUp" data-wow-delay="0.3s">
								<div class="product-header">
									<div class="product-image">
										<a href="product-left.html"> <img
											src="../assets/images/cake/product/7.png" class="img-fluid"
											alt="">
										</a>

										<ul class="product-option">
											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="View"><a href="javascript:void(0)"
												data-bs-toggle="modal" data-bs-target="#view"> <i
													data-feather="eye"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Compare"><a href="compare.html"> <i
													data-feather="refresh-cw"></i>
											</a></li>

											<li data-bs-toggle="tooltip" data-bs-placement="top"
												title="Wishlist"><a href="wishlist.html"
												class="notifi-wishlist"> <i data-feather="heart"></i>
											</a></li>
										</ul>
									</div>
								</div>

								<div class="product-footer">
									<div class="product-detail">
										<span class="span-name">Vegetable</span> <a
											href="product-left.html">
											<h5 class="name">Fresh Bread and Pastry Flour 200 g</h5>
										</a>
										<div class="product-rating mt-2">
											<ul class="rating">
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star" class="fill"></i></li>
												<li><i data-feather="star"></i></li>
												<li><i data-feather="star"></i></li>
											</ul>
											<span>(3.8)</span>
										</div>

										<h6 class="unit">1 Kg</h6>

										<h5 class="price">
											<span class="theme-color">$12.68</span>
											<del>$14.69</del>
										</h5>
										<div class="add-to-cart-box bg-white">
											<button
												class="btn btn-add-cart addcart_button addcart-button">
												Add <i class="fa-solid fa-plus bg-gray"></i>
											</button>
											<div class="cart_qty qty-box">
												<div class="input-group">
													<button type="button" class="qty-left-minus"
														data-type="minus" data-field="">
														<i class="fa fa-minus" aria-hidden="true"></i>
													</button>
													<input class="form-control input-number qty-input"
														type="text" name="quantity" value="0">
													<button type="button" class="qty-right-plus"
														data-type="plus" data-field="">
														<i class="fa fa-plus" aria-hidden="true"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Releted Product Section End -->

	<!-- Footer Section Start -->
	<footer th:replace="footer.html :: footerFragment"></footer>
	<!-- Footer Section End -->

	<!-- Quick View Modal Box Start -->
	<div class="modal fade theme-modal view-modal" id="view" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
			<div class="modal-content">
				<div class="modal-header p-0">
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="row g-sm-4 g-2">
						<div class="col-lg-6">
							<div class="slider-image">
								<img src="../assets/images/product/category/1.jpg"
									class="img-fluid blur-up lazyload" alt="">
							</div>
						</div>

						<div class="col-lg-6">
							<div class="right-sidebar-modal">
								<h4 class="title-name">Peanut Butter Bite Premium Butter
									Cookies 600 g</h4>
								<h4 class="price">$36.99</h4>
								<div class="product-rating">
									<ul class="rating">
										<li><i data-feather="star" class="fill"></i></li>
										<li><i data-feather="star" class="fill"></i></li>
										<li><i data-feather="star" class="fill"></i></li>
										<li><i data-feather="star" class="fill"></i></li>
										<li><i data-feather="star"></i></li>
									</ul>
									<span class="ms-2">8 Reviews</span> <span
										class="ms-2 text-danger">6 sold in last 16 hours</span>
								</div>

								<div class="product-detail">
									<h4>Product Details :</h4>
									<p>Candy canes sugar plum tart cotton candy chupa chups
										sugar plum chocolate I love. Caramels marshmallow icing
										dessert candy canes I love soufflé I love toffee. Marshmallow
										pie sweet sweet roll sesame snaps tiramisu jelly bear claw.
										Bonbon muffin I love carrot cake sugar plum dessert bonbon.</p>
								</div>

								<ul class="brand-list">
									<li>
										<div class="brand-box">
											<h5>Brand Name:</h5>
											<h6>Black Forest</h6>
										</div>
									</li>

									<li>
										<div class="brand-box">
											<h5>Product Code:</h5>
											<h6>W0690034</h6>
										</div>
									</li>

									<li>
										<div class="brand-box">
											<h5>Product Type:</h5>
											<h6>White Cream Cake</h6>
										</div>
									</li>
								</ul>

								<div class="select-size">
									<h4>Cake Size :</h4>
									<select class="form-select select-form-size">
										<option selected>Select Size</option>
										<option value="1.2">1/2 KG</option>
										<option value="0">1 KG</option>
										<option value="1.5">1/5 KG</option>
										<option value="red">Red Roses</option>
										<option value="pink">With Pink Roses</option>
									</select>
								</div>

								<div class="modal-button">
									<button onclick="location.href = 'cart.html';"
										class="btn btn-md add-cart-button icon">Add To Cart</button>
									<button onclick="location.href = 'product-left.html';"
										class="btn theme-bg-color view-button icon text-white fw-bold btn-md">
										View More Details</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Quick View Modal Box End -->

	<!-- Location Modal Start -->
	<div class="modal location-modal fade theme-modal" id="locationModal"
		tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Choose your
						Delivery Location</h5>
					<p class="mt-1 text-content">Enter your address and we will
						specify the offer for your area.</p>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="location-list">
						<div class="search-input">
							<input type="search" class="form-control"
								placeholder="Search Your Area"> <i
								class="fa-solid fa-magnifying-glass"></i>
						</div>

						<div class="disabled-box">
							<h6>Select a Location</h6>
						</div>

						<ul class="location-select custom-height">
							<li><a href="javascript:void(0)">
									<h6>Alabama</h6> <span>Min: $130</span>
							</a></li>

							<li><a href="javascript:void(0)">
									<h6>Arizona</h6> <span>Min: $150</span>
							</a></li>

							<li><a href="javascript:void(0)">
									<h6>California</h6> <span>Min: $110</span>
							</a></li>

							<li><a href="javascript:void(0)">
									<h6>Colorado</h6> <span>Min: $140</span>
							</a></li>

							<li><a href="javascript:void(0)">
									<h6>Florida</h6> <span>Min: $160</span>
							</a></li>

							<li><a href="javascript:void(0)">
									<h6>Georgia</h6> <span>Min: $120</span>
							</a></li>

							<li><a href="javascript:void(0)">
									<h6>Kansas</h6> <span>Min: $170</span>
							</a></li>

							<li><a href="javascript:void(0)">
									<h6>Minnesota</h6> <span>Min: $120</span>
							</a></li>

							<li><a href="javascript:void(0)">
									<h6>New York</h6> <span>Min: $110</span>
							</a></li>

							<li><a href="javascript:void(0)">
									<h6>Washington</h6> <span>Min: $130</span>
							</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Location Modal End -->

	<!-- Deal Box Modal Start -->
	<div class="modal fade theme-modal deal-modal" id="deal-box"
		tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
			<div class="modal-content">
				<div class="modal-header">
					<div>
						<h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
						<p class="mt-1 text-content">Recommended deals for you.</p>
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="deal-offer-box">
						<ul class="deal-offer-list">
							<li class="list-1">
								<div class="deal-offer-contain">
									<a href="shop-left-sidebar.html" class="deal-image"> <img
										src="../assets/images/vegetable/product/10.png"
										class="blur-up lazyload" alt="">
									</a> <a href="shop-left-sidebar.html" class="deal-contain">
										<h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
										<h6>
											$52.57
											<del>57.62</del>
											<span>500 G</span>
										</h6>
									</a>
								</div>
							</li>

							<li class="list-2">
								<div class="deal-offer-contain">
									<a href="shop-left-sidebar.html" class="deal-image"> <img
										src="../assets/images/vegetable/product/11.png"
										class="blur-up lazyload" alt="">
									</a> <a href="shop-left-sidebar.html" class="deal-contain">
										<h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
										<h6>
											$52.57
											<del>57.62</del>
											<span>500 G</span>
										</h6>
									</a>
								</div>
							</li>

							<li class="list-3">
								<div class="deal-offer-contain">
									<a href="shop-left-sidebar.html" class="deal-image"> <img
										src="../assets/images/vegetable/product/12.png"
										class="blur-up lazyload" alt="">
									</a> <a href="shop-left-sidebar.html" class="deal-contain">
										<h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
										<h6>
											$52.57
											<del>57.62</del>
											<span>500 G</span>
										</h6>
									</a>
								</div>
							</li>

							<li class="list-1">
								<div class="deal-offer-contain">
									<a href="shop-left-sidebar.html" class="deal-image"> <img
										src="../assets/images/vegetable/product/13.png"
										class="blur-up lazyload" alt="">
									</a> <a href="shop-left-sidebar.html" class="deal-contain">
										<h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
										<h6>
											$52.57
											<del>57.62</del>
											<span>500 G</span>
										</h6>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Deal Box Modal End -->

	<!-- Add to cart Modal Start -->
	<div class="add-cart-box">
		<div class="add-iamge">
			<img src="../assets/images/cake/pro/1.jpg" class="img-fluid" alt="">
		</div>

		<div class="add-contain">
			<h6>Added to Cart</h6>
		</div>
	</div>
	<!-- Add to cart Modal End -->

	<!-- Tap to top start -->
	<div class="theme-option">
		<div class="back-to-top">
			<a id="back-to-top" href="#"> <i class="fas fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<!-- Tap to top end -->

	<!-- Bg overlay Start -->
	<div class="bg-overlay"></div>
	<!-- Bg overlay End -->

	<!-- latest jquery-->
	<script src="../assets/js/jquery-3.6.0.min.js"></script>

	<!-- jquery ui-->
	<script src="../assets/js/jquery-ui.min.js"></script>

	<!-- Bootstrap js-->
	<script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>
	<script src="../assets/js/bootstrap/popper.min.js"></script>

	<!-- feather icon js-->
	<script src="../assets/js/feather/feather.min.js"></script>
	<script src="../assets/js/feather/feather-icon.js"></script>

	<!-- Lazyload Js -->
	<script src="../assets/js/lazysizes.min.js"></script>

	<!-- Slick js-->
	<script src="../assets/js/slick/slick.js"></script>
	<script src="../assets/js/slick/slick-animation.min.js"></script>
	<script src="../assets/js/custom-slick-animated.js"></script>
	<script src="../assets/js/slick/custom_slick.js"></script>

	<!-- Price Range Js -->
	<script src="../assets/js/ion.rangeSlider.min.js"></script>

	<!-- sidebar open js -->
	<script src="../assets/js/filter-sidebar.js"></script>

	<!-- Quantity js -->
	<script src="../assets/js/quantity-1.js"></script>
	<script src="../assets/js/quantity-2.js"></script>
	<script src="../assets/js/quantity-3.js"></script>

	<!-- Zoom Js -->
	<script src="../assets/js/jquery.elevatezoom.js"></script>
	<script src="../assets/js/zoom-filter.js"></script>

	<!-- Timer Js -->
	<script src="../assets/js/timer1.js"></script>

	<!-- WOW js -->
	<script src="../assets/js/wow.min.js"></script>
	<script src="../assets/js/custom-wow.js"></script>

	<!-- script js -->
	<script src="../assets/js/script.js"></script>


</body>

</html>