<!DOCTYPE html>
<html lang="en">

<head>
<div th:replace="head.html :: headFragment"></div>
<title>리뷰수정</title>


<!-- Google font -->
<link rel="preconnect" href="https://fonts.gstatic.com/">
<link href="./reviewWritehtml_files/css2" rel="stylesheet">
<link href="./reviewWritehtml_files/css2(1)" rel="stylesheet">
<link href="./reviewWritehtml_files/css2(2)" rel="stylesheet">

<!-- bootstrap css -->
<link id="rtl-link" rel="stylesheet" type="text/css"
	href="./reviewWritehtml_files/bootstrap.css">

<!-- font-awesome css -->
<link rel="stylesheet" type="text/css"
	href="./reviewWritehtml_files/font-awesome.css">

<!-- feather icon css -->
<link rel="stylesheet" type="text/css"
	href="./reviewWritehtml_files/feather-icon.css">

<!-- slick css -->
<link rel="stylesheet" type="text/css"
	href="./reviewWritehtml_files/slick.css">
<link rel="stylesheet" type="text/css"
	href="./reviewWritehtml_files/slick-theme.css">

<!-- Iconly css -->
<link rel="stylesheet" type="text/css"
	href="./reviewWritehtml_files/bulk-style.css">

<!-- Template css -->
<link id="color-link" rel="stylesheet" type="text/css"
	href="./reviewWritehtml_files/style.css">
<link id="color-link" rel="stylesheet" type="text/css"
	href="../assets/css/stylecj.css">

</head>

<body>

	<!-- Loader Start -->

	<!-- Loader End -->
	
	<!-- Header Start -->
	<header th:replace="header.html :: headerFragment"></header>
	<!-- Header End -->

	<!-- mobile fix menu start -->
	
	<!-- mobile fix menu end -->

	<!-- Breadcrumb Section Start -->
	<section class="breadscrumb-section pt-0">
		<div class="container-fluid-lg">
			<div class="row">
				<div class="col-12">
					<div class="breadscrumb-contain">
						<h2> 문의글 답변하기</h2>

						<nav>
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a href="index.html"> <i
										class="fa-solid fa-house"></i>
								</a></li>

								<li class="breadcrumb-item active"
									th:text="${idto.itemMainType }">다음페이지</li>
								<li class="breadcrumb-item active" th:text="${idto.itemSubType}"></li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>


	</section>
	<!-- Breadcrumb Section End -->

	<!-- Cart Section Start -->
	<section class="cart-section section-b-space">
		<div class="container-fluid-lg">
			<div class="row g-sm-5 g-3">
				<div class="col-xxl-9">
					<div class="cart-table" style="width:1000px; height: 650px;">
						<form th:action="@{itemQnaAnswer_ok}" method="post" th:object="${ItemQuestionDto}">

							


							<div class="table-responsive-xl">
								<div class="col-12">
								<h2 th:text="${idto.itemName}"></h2><br>
									<div class="form-floating theme-form-floating">
									
									
									
										<input type="hidden" th:field="*{itemNum}" readonly="readonly"> 
										<input type="hidden" th:field="*{itemQueNum}" readonly="readonly"> 
										<input type="hidden" th:field="*{customerEmail}" readonly="readonly">
										<input type="hidden" th:field="*{itemQueTitle}" readonly="readonly">

										<input type="text" class="form-control" id="itemQueTitle" readonly="readonly" th:field="*{itemQueTitle}"> 
										<label for="itemQueTitle" >문의 제목 (30자 이내)</label>

									</div>
									<br>

								</div>

								<div class="col-12">
									<div class="form-floating theme-form-floating">
										<textarea class="form-control"
											placeholder="Leave a comment here" id="floatingTextarea2"
											style="height: 150px" th:field="*{itemQueContent}" readonly="readonly">[[*{itemQueContent}]]</textarea>
										<label for="floatingTextarea2">문의내용</label>
									</div>
									<br>

								</div>
								<div class="col-12">
									<div class="form-floating theme-form-floating">
										<textarea class="form-control"
											placeholder="Leave a comment here" id="floatingTextarea2"
											style="height: 150px" name="ItemAnsContent"></textarea>
										<label for="floatingTextarea2">답변내용</label>
									</div>
									<br>

								</div>
							</div>
							<br>
							<div style="float: right; margin-top: 15px;">
								<div style="display: inline-block;">
									<button class="btn-anii" type="submit">작성완료</button>
								</div>
								<div style="display: inline-block;">	
									<button class="btn-cancel" type="button"  onclick="history.back();">작성취소</button>
								</div>
							</div>
						</form>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!-- Cart Section End -->

	<!-- Footer Section Start -->
	<footer th:replace="footer.html :: footerFragment"></footer>
	<!-- Footer Section End -->

	<!-- Location Modal Start -->
	
	<!-- Location Modal End -->


	<!-- Deal Box Modal Start -->
	
	<!-- Deal Box Modal End -->

	<!-- Tap to top start -->
	<div class="theme-option">
		<div class="back-to-top" style="">
			<a id="back-to-top"
				href="http://127.0.0.1:5500/themeforest-CgSO0PPn-fastkart-multipurpose-ecommerce-html-template/template/html/reviewWrite.html#">
				<i class="fas fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<!-- Tap to top end -->

	<!-- Bg overlay Start -->
	<div class="bg-overlay"></div>
	<!-- Bg overlay End -->

	<!-- latest jquery-->
	<script src="/assets/js/jquery-3.6.0.min.js"></script>

	<!-- jquery ui-->
	<script src="/assets/js/jquery-ui.min.js"></script>

	<!-- Bootstrap js-->
	<script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/bootstrap/bootstrap-notify.min.js"></script>
	<script src="/assets/js/bootstrap/popper.min.js"></script>

	<!-- feather icon js-->
	<script src="/assets/js/feather/feather.min.js"></script>
	<script src="/assets/js/feather/feather-icon.js"></script>

	<!-- Lazyload Js -->
	<script src="/assets/js/lazysizes.min.js"></script>

	<!-- Slick js-->
	<script src="/assets/js/slick/slick.js"></script>
	<script src="/assets/js/slick/slick-animation.min.js"></script>
	<script src="/assets/js/custom-slick-animated.js"></script>
	<script src="/assets/js/slick/custom_slick.js"></script>

	<!-- Price Range Js -->
	<script src="/assets/js/ion.rangeSlider.min.js"></script>

	<!-- sidebar open js -->
	<script src="/assets/js/filter-sidebar.js"></script>

	<!-- Quantity js -->
	<script src="/assets/js/quantity.js"></script>
<!-- 	<script src="/assets/js/quantity-2.js"></script>
	<script src="/assets/js/quantity-3.js"></script> -->

	<!-- Zoom Js -->
	<script src="/assets/js/jquery.elevatezoom.js"></script>
	<script src="/assets/js/zoom-filter.js"></script>

	<!-- Timer Js -->
	<script src="/assets/js/timer1.js"></script>

	<!-- WOW js -->
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/custom-wow.js"></script>
	<script>
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>


</body>
</html>