<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
<div th:replace="head.html :: headFragment"></div>
<title>상세페이지</title>

<!-- Template css -->
<link id="color-link" rel="stylesheet" type="text/css"
	href="/assets/css/stylecj.css">
<link id="color-link" rel="stylesheet" type="text/css"
	href="/assets/css/stylemj.css">
<style id="__web-inspector-hide-shortcut-style__">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *,
	.__web-inspector-hidebefore-shortcut__::before,
	.__web-inspector-hideafter-shortcut__::after {
	visibility: hidden !important;
}
</style>
</head>
</head>

<body>

	<!-- Loader Start -->

	<!-- Loader End -->

	<!-- Header Start -->
	<header th:replace="header.html :: headerFragment"></header>

	<!-- Header End -->

	<!-- mobile fix menu start -->
	
	<!-- mobile fix menu end -->

	<!-- Breadcrumb Section Start -->

	<section class="breadscrumb-section pt-0">
		<div class="container-fluid-lg">
			<div class="row">
				<div class="col-12">
					<div class="breadscrumb-contain">
						<h2 th:text="${idto.itemName}"></h2>

						<nav>
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a href="index.html"> <i
										class="fa-solid fa-house"></i>
								</a></li>

								<li class="breadcrumb-item active"
									th:text="${idto.itemMainType }">다음페이지</li>
								<li class="breadcrumb-item active" th:text="${idto.itemSubType}"></li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>


	</section>

	<!-- Breadcrumb Section End -->

	<!-- Product Left Sidebar Start -->
	<section class="product-section">
		<div class="container-fluid-lg">
			<div class="row">
				<div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp" style="margin-left: 12%;">
					<div class="row g-4">
						<div class="col-xl-6 wow fadeInUp" >
							<div class="product-left-box">
								<div class="row g-2">
									<div class="col-12">
										<div class="product-main-1 no-arrow">
											<div>
												<div class="slider-image">
													<img th:src="@{|/assets/img/${idto.itemImage1}|} "
														width=750px, height=750px id="img-1"
														data-zoom-image="/assets/img/sodwkdrh1_1.png"
														class="img-fluid image_zoom_cls-0 blur-up lazyload" alt="">
												</div>
											</div>

											<div>
												<div class="slider-image">
													<img th:src="@{|/assets/img/${idto.itemImage2}|}"
														width=750px, height=750px
														data-zoom-image="/assets/images/product/category/2.jpg"
														class="img-fluid image_zoom_cls-1 blur-up lazyload" alt="">
												</div>
											</div>

											<div>
												<div class="slider-image">
													<img th:src="@{|/assets/img/${idto.itemImage3}|}"
														width=750px, height=750px
														data-zoom-image="/assets/images/product/category/3.jpg"
														class="img-fluid image_zoom_cls-2 blur-up lazyload" alt="">
												</div>
											</div>
											<div>
												<div class="slider-image">
													<img th:src="@{|/assets/img/${idto.itemImage4}|}"
														width=750px, height=750px
														data-zoom-image="/assets/images/product/category/3.jpg"
														class="img-fluid image_zoom_cls-2 blur-up lazyload" alt="">
												</div>
											</div>


										</div>
									</div>

									<div class="col-12">
										<div
											class="bottom-slider-image left-slider no-arrow slick-top">
											<div>
												<div class="sidebar-image">
													<img th:src="@{|/assets/img/${idto.itemImage1}|}"
														class="img-fluid blur-up lazyload" alt="">
												</div>
											</div>

											<div>
												<div class="sidebar-image">
													<img th:src="@{|/assets/img/${idto.itemImage2}|}"
														class="img-fluid blur-up lazyload" alt="">
												</div>
											</div>

											<div>
												<div class="sidebar-image">
													<img th:src="@{|/assets/img/${idto.itemImage3}|}"
														class="img-fluid blur-up lazyload" alt="">
												</div>
											</div>
											<div>
												<div class="sidebar-image">
													<img th:src="@{|/assets/img/${idto.itemImage4}|}"
														class="img-fluid blur-up lazyload" alt="">
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
							<form th:action="@{/order}" name="order">

								<input type="text" th:value="${idto.getItemNum()}" id="num" name="num" hidden>
								<div class="right-box-contain" style="position: static; margin-left: 10%">
									<h6 class="offer-top"
										th:text="|${#numbers.formatInteger(idto.ItemDiscount , 0, 'COMMA')} 원|">세일</h6>
									<h2 class="name" th:text="${idto.itemName }"></h2>
									<div class="price-rating">
										<h3 class="theme-color price">
											<del class="text-content"
												 th:text="|${#numbers.formatInteger(idto.ItemPrice , 0, 'COMMA')} 원|"></del>
											<span class="text-content"
												  th:text="|${#numbers.formatInteger(idto.getItemPrice()-idto.itemDiscount , 0, 'COMMA')} 원|"></span>
											<span class="offer theme-color">
											([[|${#numbers.formatInteger(idto.ItemDiscount , 0, 'COMMA')}
											원|]] 할인)</span>

										</h3>
										<div class="product-rating custom-rate">
											<ul class="rating">
												<li><i data-feather="star" class="fill"></i></li>
												<!-- <span th:text="|Review ${#lists.size(rdtoList)}개|"></span> -->
												<h5 th:text="|리뷰 : ${#lists.size(rdtoList)}개|"> </h5>
											</ul>
											<!-- <span th:text="${idto.count}"></span> -->
											
										</div>
										
									</div>

									<div class="procuct-contain">
										<p th:text="${idto.itemContent}"></p>
									</div>

									<div class="product-packege">
										<div class="product-title">
											<h4>사이즈 옵션</h4>
										</div>
										<div class="dropdown">
											<input type="hidden" id="size" name="itemSize" value="">
											<button class="dropdown-toggle" type="button"
													id="dropdownMenuButton1" data-bs-toggle="dropdown">
												<span>사이즈를 선택하세요</span> <i class="fa-solid fa-angle-down"></i>
											</button>

											<ul id="optionSize" class="dropdown-menu"
												aria-labelledby="dropdownMenuButton1">
												<th:block th:each="size : ${itemSizes}">
											<li><a class="dropdown-item" id="pop1"
												href="javascript:void(0)" th:text="${size }" th:value="${size }"></a></li>
											<br />
											</th:block>

												

											</ul>
										</div>

									</div>
									<div class="product-packege">
										<input type="hidden" id="color" name="itemColor" value="">
										<div class="product-title">
											<h4>색상 옵션</h4>
										</div>
										<div class="dropdown">
											<button class="dropdown-toggle" type="button"
													id="dropdownMenuButton" data-bs-toggle="dropdown">
												<span>색상을 선택하세요</span> <i class="fa-solid fa-angle-down"></i>
											</button>
											<ul id="optionColor" class="dropdown-menu"
												aria-labelledby="dropdownMenuButton1">
												<th:block th:each="color : ${itemColors}">
											<li><a class="dropdown-item" id="pop"
												href="javascript:void(0)" th:text="${color}" th:value="${color }"></a></li>
											<br/>
											</th:block>

												


											</ul>
										</div>
									</div>

									<input th:each="cartList: ${session.cartList}" type="text" id="itemNumChk" name="itemNumChk" th:value="${cartList.itemNum}" hidden>
									<input th:each="cartList: ${session.cartList}" type="text" id="sizeChk" name="sizeChk" th:value="${cartList.itemSize}" hidden>
									<input th:each="cartList: ${session.cartList}" type="text" id="colorChk" name="colorChk" th:value="${cartList.itemColor}" hidden>
									
									<div class="time deal-timer product-deal-timer mx-md-0 mx-auto"
													th:if="${#strings.contains(idto.todaydeal,'미적용')}">
									</div>
									
									<div class="time deal-timer product-deal-timer mx-md-0 mx-auto"
													th:unless="${#strings.contains(idto.todaydeal,'미적용')}">
									<div class="time deal-timer product-deal-timer mx-md-0 mx-auto">
										<div class="product-title">
											<h4>오늘의 딜 남은시간!!</h4>
										</div>
										<ul>
											<li>
												<div class="counter">
													<div>
														<h5 id="days2"></h5>
														<h6>일</h6>
													</div>
												</div>
											</li>
											<li>
												<div class="counter">
													<div>
														<h5 id="hours2"></h5>
														<h6>시간</h6>
													</div>
												</div>
											</li>
											<li>
												<div class="counter">
													<div>
														<h5 id="minutes2"></h5>
														<h6>분</h6>
													</div>
												</div>
											</li>
											<li>
												<div class="counter">
													<div>
														<h5 id="seconds2"></h5>
														<h6>초</h6>
													</div>
												</div>
											</li>
										</ul>
									 </div>
								</div>

									<div class="note-box product-packege">
										<div class="cart_qty qty-box product-qty" th:unless="${idto.itemStock==0}">
											<div class="input-group">
												<button type="button" class="btn qty-left-minus" data-type="minus" data-field="">
													<i class="fa fa-minus ms-0" aria-hidden="true"></i>
												</button>
												<input class="form-control input-number qty-input"
													   type="text" id="itemQty" name="itemQty" value="1">
												<button type="button" class="btn qty-right-plus" data-type="plus" data-field="">
													<i class="fa fa-plus ms-0" aria-hidden="true"></i>
												</button>
											</div>
										</div>

										<button sec:authorize="isAuthenticated()" type="button" 
												class="btn btn-md bg-dark cart-button text-white w-40"
												th:if="${idto.itemStock==0}">일시품절
										</button>

								
								
										<button sec:authorize="isAuthenticated()" type="button" onclick="cart();"
												class="btn btn-md bg-dark cart-button text-white w-40"
												th:unless="${idto.itemStock==0}">장바구니
										</button>

										<button onclick="return orderPay()"
                                   			 class="btn btn-md bg-dark cart-button text-white w-40"
                                   			 th:unless="${idto.itemStock==0}">바로결제
                              			</button>
									

									</div>

									<!--  -->

									<!--<input type="hidden" id="itemQty" name="itemQty" th:value="${itemQty}">-->


								</div>

								

								<div class="pickup-box" style="margin-left: 10%;">
									<div class="product-title">
										<h4>남은수량</h4>
									</div>

									<div class="pickup-detail">
										<h4 class="text-content" th:text="|${idto.itemStock}개|"></h4>
								
									</div>
									<div class="product-title">
										<h4>배송</h4>
									</div>

									<div class="pickup-detail">
										<h4 class="text-content">무료배송(50,000원 이상 구매시)</h4><br>
										<h4 class="text-content">제주도 / 산간지역 배송불가</h4>

									</div>

								</div>
							</form>
							</div>
						</div>

						<div class="col-12">
							<div class="product-section-box">
								<ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" id="description-tab"
											data-bs-toggle="tab" data-bs-target="#description"
											type="button" role="tab" aria-controls="description"
											aria-selected="true">상품정보</button>
									</li>


									<li class="nav-item" role="presentation">
										<button class="nav-link" id="care-tab" data-bs-toggle="tab"
											data-bs-target="#care" type="button" role="tab"
											aria-controls="care" aria-selected="false">상품문의</button>
									</li>

									<li class="nav-item" role="presentation">
										<button class="nav-link" id="review-tab" data-bs-toggle="tab"
											data-bs-target="#review" type="button" role="tab"
											aria-controls="review" aria-selected="false">리뷰</button>
									</li>
								</ul>

								<div class="tab-content custom-tab" id="myTabContent">
									<div class="tab-pane fade show active" id="description"
										role="tabpanel" aria-labelledby="description-tab">
										<div class="product-description">
											<div class="nav-desh">
												<p th:src="@{${idto.detailImage}} " width=1198px,
													height=297px>상품 상세내용</p>
											</div>



											<div class="banner-contain nav-desh">
												<img th:src="@{|/assets/img/${idto.detailImage}|}"
													class="bg-img blur-up lazyload" alt="">
												<div
													class="banner-details p-center banner-b-space w-100 text-center">
													<div>
														<h6 class="ls-expanded theme-color mb-sm-3 mb-1"></h6>
														<h2></h2>
														<p class="mx-auto mt-1"></p>
													</div>
												</div>
											</div>


										</div>
									</div>

									<!-- <div class="tab-pane fade" id="info" role="tabpanel"
										aria-labelledby="info-tab">
										<div class="table-responsive">
											<table class="table info-table">
												<tbody>
													<tr>
														<td>Specialty</td>
														<td>Vegetarian</td>
													</tr>
													<tr>
														<td>Ingredient Type</td>
														<td>Vegetarian</td>
													</tr>
													<tr>
														<td>Brand</td>
														<td>Lavian Exotique</td>
													</tr>
													<tr>
														<td>Form</td>
														<td>Bar Brownie</td>
													</tr>
													<tr>
														<td>Package Information</td>
														<td>Box</td>
													</tr>
													<tr>
														<td>Manufacturer</td>
														<td>Prayagh Nutri Product Pvt Ltd</td>
													</tr>
													<tr>
														<td>Item part number</td>
														<td>LE 014 - 20pcs Crème Bakes (Pack of 2)</td>
													</tr>
													<tr>
														<td>Net Quantity</td>
														<td>40.00 count</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div> -->

									<div class="tab-pane fade" id="care" role="tabpanel"
										aria-labelledby="care-tab">
										<div class="information-box">
											<form th:action="@{qnaWrite_ok}" method="post" th:object="${itemDetailDto}">
												

												<h2>Q & A</h2>
												<hr />
												<p>상품문의</p>
												<div class="form-floating theme-form-floating">
												
												<input type="hidden" name="itemNum" id="itemNum" th:value="${idto.itemNum}" >
												<input type="hidden" name="customerEmail" id="customerEmail" th:value="${customerEmail}" >
												
												
												
													<input
														type="text" class="form-control" id="itemQueTitle"
														placeholder="Name" name="itemQueTitle"> <label
														for="itemQueTitle">문의 제목 (30자 이내)</label>
												</div>
												<br>
												<div class="col-12">
													<div class="form-floating theme-form-floating">
														<textarea class="form-control"
															placeholder="Leave a comment here" id="itemQueContent"
															style="height: 150px" name="itemQueContent"></textarea>
														<label for="floatingTextarea2">문의 내용을 입력해주세요(300자
															이내)</label>
													</div>
													<div style="float: right; margin-top: 15px;">
													<div style="display: inline-block;">
														<button class="btn-anii" type="submit">작성완료</button>
													</div>
													<div style="display: inline-block;">	
														<button class="btn-cancel" type="button"  onclick="history.back();">작성취소</button>
													</div>
												</div>
													
												</div>
												<br>
												

											</form>
										</div>
										
										<div class="profile-about dashboard-bg-box">
											<div class="row" style="margin-top: 5%;">
												<div class="dashboard-title mb-3">
													<h3 style="display: inline;">상품문의</h3>
												</div>
											</div>
											<!-- 문의 목록시작 -->
										<div class="row" th:each="qdto : ${qdtoList}">

										<div class="col-xxl-9" style="width:90%; text-align: left;" >
											<div class="dashboard-title mb-2">
												
												
												<!-- <h4 class="get">질문</h4> -->
													<input type="hidden" th:value="${qdto.itemQueNum}">
											
												<div style="float:left;">
													<span class="get">질문</span><a style="margin-top: 1px;">작성자:</a> 
													<a style="display: inline; font-size: 12px; color: gray;"
														th:text="${qdto.customerEmail}"></a>
												</div>
											
												
												<div style="float: right;">
													<a>등록일:</a> 
													<a style="display: inline; font-size: 12px; color: gray; float: right;"
														th:text="${#dates.format(qdto.itemQueCreate, 'yyyy-MM-dd')}"></a>
												</div><br>
											
										
											
											</div>
											
											<div style="display: inline-block;">
												<span style="font-weight: 1000; color: #00264B;">Q.&nbsp;</span><a style="display: inline; font-size: 15px; color: blakc;"><b
													th:text="${qdto.itemQueTitle}"></b></a><br>
												<a style="white-space:pre; display: inline; font-size: 12px; color: gray; "
													th:text="${qdto.itemQueContent}">내용</a><br>
											</div>	
											
											
												<div  style="float: right;">
													<div style="display: inline-block;" sec:authorize="hasRole('ADMIN')"> 
														<button class="btn-mini" 
															th:onclick="|location.href = '@{|itemQnaAnswer?itemQueNum=${qdto.itemQueNum}&itemNum=${idto.itemNum}|}';|">답변하기</button>
													</div>
													<div style="display: inline-block;" th:if="${#authentication.getPrincipal().getUsername()==qdto.customerEmail}">
														<button class="btn-cancel-mini"
															th:onclick="@{|location.href='/deleteQna?itemQueNum=${qdto.itemQueNum}'|}" />삭제하기</button>

													</div>
												</div>	
												<div class="col-xxl-9" style="text-align: left;"
													th:if="${not #strings.isEmpty(qdto.answer.ItemAnsContent)}">
												</div>
											
											<!--  -->
											<div th:unless="${#strings.isEmpty(qdto.answer.ItemAnsContent)}">
												<hr><div class="dashboard-title mb-2">
												<div style="float:left;">
													<span class="getAns">답변</span><a style="margin-top: 1px;">작성자: 관리자</a> 
												</div>
											
												<div style="float: right;">
													<a>답변일:</a> 
													<a style="display: inline; font-size: 12px; color: gray; float: right;"
														th:text="${#dates.format(qdto.answer.itemAnsCreate, 'yyyy-MM-dd')}"></a>
												</div><br>
									
													</div>
											
												<div style="display: inline-block;">
													<span style="font-weight: 1000; color: #00264B;">A.&nbsp;</span>
													<a style="white-space:pre; display: inline; font-size: 12px; color: gray; "
														th:text="${qdto.answer.itemAnsContent}">내용</a><br>
												</div>
												
												<hr>
												</div>
										<!--  -->
										</div>
									</div>
								</div>
							</div>
									<!-- 문의 목록끝 -->

									<div class="tab-pane fade" id="review" role="tabpanel"
										aria-labelledby="review-tab">
										<div class="review-box">
											<div class="row g-4">



												<div class="col-12">
													<div class="review-title" style="margin-left: 80%;">

														<button class="btn-anii" type="button"
															th:onclick="|location.href = '@{|reviewWrite?itemNum=${idto.itemNum}|}';|">리뷰작성</button>

													</div>
													<hr />

													<div class="review-people">
														<ul class="review-list">
															<li th:each="rdto : ${rdtoList}">
																<div class="people-box">



																	<div class="people-comment">
																		<a class="name" href="javascript:void(0)"
																			th:text="${rdto.customerEmail}"> </a>

																		<div class="date-time">

																			<h6 class="text-content"
																				th:text="${#dates.format(rdto.regDate, 'yyyy-MM-dd')}"></h6>

																			<div class="product-rating">
																				<ul class="rating">
																					<li><i data-feather="star" class="fill"></i>평점:<a
																						th:text="${rdto.rating}"></a></li>

																				</ul>
																			</div>
																		</div>

																		<div>
																			<p style="width:90%;overflow:hidden;word-wrap:break-word;">[[${rdto.content}]]</p>
																			
																			
																			<div style="float: right; margin-top: 15px;" >
																				<div style="display: inline-block;" th:if="${#authentication.getPrincipal().getUsername()==rdto.customerEmail}">
																					<button  class="btn-mini" th:onclick="|location.href = '@{|reviewUpdate?replyId=${rdto.replyId}|}';|">수정하기</button>
																				</div>
																				<div style="display: inline-block;" th:if="${#authentication.getPrincipal().getUsername()==rdto.customerEmail}">
																					<input class="btn-cancel-mini" type="button" value=" 삭제 " th:onclick="@{|location.href='/deleteReply?replyId=${rdto.replyId}'|}"/>
																				</div>	
																			</div>
																		</div>
																		<br>
																		
																		
																	</div>
																</div>
															</li><br>
														</ul><br>
													</div><br>
												</div>
											</div>
										</div>
									</div><br>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!-- Product Left Sidebar End -->

	<!-- Releted Product Section Start -->
	
	<!-- Releted Product Section End -->

	<!-- Footer Section Start -->
	<footer th:replace="footer.html :: footerFragment"></footer>
	<!-- Footer Section End -->

	<!-- Quick View Modal Box Start -->
	
	<!-- Quick View Modal Box End -->
	
	<!-- Add to cart Modal Start -->
	<div class="add-cart-box">
		<div class="add-iamge">
			<img src="/assets/images/cake/pro/1.jpg" class="img-fluid" alt="">
		</div>

		<div class="add-contain">
			<h6>Added to Cart</h6>
		</div>
	</div>
	<!-- Add to cart Modal End -->

	<!-- Tap to top start -->
	<div class="theme-option">
		<div class="back-to-top">
			<a id="back-to-top" href="#"> <i class="fas fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<!-- Tap to top end -->

	<!-- Bg overlay Start -->
	<div class="bg-overlay"></div>
	<!-- Bg overlay End -->

	<!-- latest jquery-->
	<script src="/assets/js/jquery-3.6.0.min.js"></script>

	<!-- jquery ui-->
	<script src="/assets/js/jquery-ui.min.js"></script>

	<!-- Bootstrap js-->
	<script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/bootstrap/bootstrap-notify.min.js"></script>
	<script src="/assets/js/bootstrap/popper.min.js"></script>

	<!-- feather icon js-->
	<script src="/assets/js/feather/feather.min.js"></script>
	<script src="/assets/js/feather/feather-icon.js"></script>

	<!-- Lazyload Js -->
	<script src="/assets/js/lazysizes.min.js"></script>

	<!-- Slick js-->
	<script src="/assets/js/slick/slick.js"></script>
	<script src="/assets/js/slick/slick-animation.min.js"></script>
	<script src="/assets/js/custom-slick-animated.js"></script>
	<script src="/assets/js/slick/custom_slick.js"></script>

	<!-- Price Range Js -->
	<script src="/assets/js/ion.rangeSlider.min.js"></script>

	<!-- sidebar open js -->
	<script src="/assets/js/filter-sidebar.js"></script>

	<!-- Quantity js -->
	<script src="/assets/js/quantity.js"></script>
<!-- 	<script src="/assets/js/quantity-2.js"></script>
	<script src="/assets/js/quantity-3.js"></script> -->

	<!-- Zoom Js -->
	<script src="/assets/js/jquery.elevatezoom.js"></script>
	<script src="/assets/js/zoom-filter.js"></script>

	<!-- Timer Js -->
	<script src="/assets/js/timer1.js"></script>

	<!-- WOW js -->
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/custom-wow.js"></script>

	<!-- script js -->
	<script src="/assets/js/script.js"></script>
	<script src="/assets/js/insertCart.js"></script><!--cart에 insert관련-->
	<script src="/assets/js/option.js"></script> <!--optionSize선택 insert관련-->
	<script src="/assets/js/optionColor.js"></script> <!--optionSize선택 insert관련-->

</body>

</html>