<html lang="en"><head>
    <div th:replace="head.html :: headFragment"></div>

	<title>로그인</title>

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/stylemj.css">
    
    <script type="text/javascript">
    /* 이메일 널값 검사 */
    function emailChk(){
    	var email = $("#customerEmail").val();
    	var emailMsg = document.querySelector("#emailMsg");
    		
    	if(!email){
    		emailMsg.innerHTML = "이메일을 입력해주세요.";
			$("#emailMsg").css("color","#ff7474");
    	}else{
    		emailMsg.innerHTML = "";
    	}
    	return;
    }
    
    /* 비밀번호 널값 검사 */
    function pwdChk(){
    	var pwd = $("#customerPwd").val();
		var pwdMsg = document.querySelector("#pwdMsg");
		
		if(!pwd){
			pwdMsg.innerHTML = "비밀번호를 입력해주세요.";
			$("#pwdMsg").css("color","#ff7474");
		}else{
			pwdMsg.innerHTML = "";
		}
		return;
    }
    
    /* 이메일 기억하기 */
    /* 로그인 성공 */
    function sendIt(){
    	var f = document.loginForm;
    	
    	var email = $("#customerEmail").val();
    	var pwd = $("#customerPwd").val();
    	
    	if(!email || !pwd){
    		alert("내용을 입력해주세요");
    		event.preventDefault();
			return;
    	}
    	
    	var rememberEmail = $("#rememberEmail").is(":checked");	// 체크박스가 체크되었는지를 담아준다. ( true/false 로 담긴다.)
    	
    	if(rememberEmail){			// 아이디, 비밀번호 저장 체크박스가 체크 된 경우 (true)
    	    setCookie("cookie", email, 1);	// 쿠키에 저장하는 이벤트를 호출한다. Cookie_mail 이름으로 id가 7일동안 저장
    	}else{				// 체크가 해제 된 경우 (false)
    	    deleteCookie("cookie");	// 쿠키 정보를 지우는 이벤트를 호출한다.
    	}
    	f.action = "login";
    	f.submit();
    }
    
    /* 쿠키값 저장 */
    function setCookie(cookieName, value, exdays){
    	var exdate = new Date();
    	exdate.setDate(exdate.getDate() + exdays);	// 쿠키 저장 기간
    	var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
    	document.cookie = cookieName + "=" + cookieValue;
   	}
    
    /* 쿠키값 읽기 */
    function getCookie(cookieName) {
    	cookieName = cookieName + '=';
    	var cookieData = document.cookie;
    	var start = cookieData.indexOf(cookieName);
    	var cookieValue = '';
    	  
    	if(start != -1){
    	  start += cookieName.length;
    	  var end = cookieData.indexOf(';', start);
    	if(end == -1)end = cookieData.length;
    	 cookieValue = cookieData.substring(start, end);
    	}
    	return unescape(cookieValue);
   	}
    
    /* 쿠키값 삭제 */
    function deleteCookie(cookieName){
    	var expireDate = new Date();
    	expireDate.setDate(expireDate.getDate() - 1);
    	document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
   	}
    
    
    </script>
</head>

<body>


    <!-- Loader Start -->
    
    <!-- Loader End -->

    <!-- Header Start -->
    <header th:replace="header.html :: headerFragment"></header>
    <!-- Header End -->

    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row" >
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2 class="mb-2">로그인</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">로그인</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- log in section start -->
    <section class="log-in-section background-image-2 section-b-space">
        <div class="container-fluid-lg w-100">
            <div class="row">
                

                <div class="col-xl-5" style="margin: auto;">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3>로그인</h3>
                            
                        </div>

                        <div class="input-box">
                        
                        	<!-- 로그인 form 시작 -->
                            <form class="row g-4" name="loginForm" method="post" th:object="${CustomerDto}">
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input type="email" class="form-control" id="customerEmail" placeholder="Email Address"
                                        name="customerEmail" onblur="emailChk();" value="">
                                        <label for="email">이메일</label>
                                    </div>
                                </div>
                                <div style="margin-top: 5;" id="emailMsg"></div>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input type="password" class="form-control" id="customerPwd" placeholder="Password"
                                        name="customerPwd" onblur="pwdChk();">
                                        <label for="password">비밀번호</label>
                                    </div>
                                </div>
                                <div style="margin-top: 5;" id="pwdMsg"></div>

                                <div class="col-12">
                                    <div class="forgot-box">
                                        <div class="form-check ps-0 m-0 remember-box" >
                                            <input class="checkbox_animated check-box" type="checkbox" id="rememberEmail"
                                             name="rememberEmail" >
                                            <label class="form-check-label" for="flexCheckDefault">이메일 기억하기</label>
                                        </div>
                                        <a th:href="@{/customer/forgot}" class="forgot-password">비밀번호 찾기</a>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-animation w-100 justify-content-center" onclick="sendIt();">로그인</button>
                                </div>
                                <div style="margin-top: 20; text-align: center;">
                                	<span style="color: #ff7474;" th:text="${msg}"></span>
                                </div>
                            </form>
                            <!-- 로그인 form 끝 -->
                            
                        </div>

                        <div class="other-log-in">
                            <h6>or</h6>
                        </div>

                        <div class="log-in-button">
                            <ul>
                                <li>
                                    <a href="https://www.google.com/" class="btn google-button w-100">
                                        <img src="../assets/images/inner-page/google.png" class="blur-up lazyloaded" alt="">구글로 로그인하기</a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/" class="btn google-button w-100">
                                        <img src="../assets/images/inner-page/facebook.png" class="blur-up lazyloaded" alt="">페이스북으로 로그인하기</a>
                                </li>
                            </ul>
                        </div>

                        <div class="other-log-in">
                            <h6></h6>
                        </div>

                        <div class="sign-up-box">
                            <h4>아직 계정이 없으신가요?</h4>
                            <a th:href="@{/customer/signUp}">회원가입</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- log in section end -->

    <!-- Footer Section Start -->
    <footer th:replace="footer.html :: footerFragment"></footer>
    <!-- Footer Section End -->

    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="back-to-top" style="display: none;">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
    <script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>

	<script type="text/javascript">
	//쿠키값 읽어오기
	$(document).ready(function(){
		var email = getCookie("cookie");
	
		if(email){
			$("#customerEmail").val(email);
			$("#rememberEmail").attr("checked", true);
		}
	});
	</script>



</body></html>