<html lang="en">
<head>
    <div th:replace="head.html :: headFragment"></div>

	<title>마이페이지</title>

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="/assets/css/stylemj.css">
    
	<style id="__web-inspector-hide-shortcut-style__">
	.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
	{
    	visibility: hidden !important;
	}
	</style>
</head>

<body class="" style="">

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->

    <!-- Header Start -->
    <header th:replace="header.html :: headerFragment"></header>
    <!-- Header End -->

    <!-- mobile fix menu start -->
    <!-- mobile fix menu end -->

    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2>마이페이지</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">마이페이지</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- User Dashboard Section Start -->
    <section class="user-dashboard-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-3 col-lg-4">
                    <div class="dashboard-left-sidebar">
                        <div class="close-button d-flex d-lg-none">
                            <button class="close-sidebar">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="profile-box">
                            <div class="cover-image">
                                <img src="/assets/images/inner-page/cover-img.jpg" class="img-fluid blur-up lazyloaded" alt="">
                            </div>

                            <div class="profile-contain">
                                <div class="profile-image">
                                    <div class="position-relative">
                                        <img id="img" th:src="@{|/assets/img/${customerDto.customerProfile}|}" class="blur-up update_img lazyloaded" alt="">
                                    </div>
                                </div>

                                <div class="profile-name">
                                    <h3 th:text="${customerDto.customerName}"></h3>
                                    <h6 class="text-content" th:text="${customerDto.customerGrade}"></h6>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="javascript:location.href='/customer/info';">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                회원정보</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-order-tab" data-bs-toggle="pill" data-bs-target="#pills-order" type="button" role="tab" aria-controls="pills-order" aria-selected="false" onclick="javascript:location.href='/customer/order';">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag">
                                <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                <line x1="3" y1="6" x2="21" y2="6"></line>
                                <path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                                주문정보</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-qna-tab" data-bs-toggle="pill" data-bs-target="#pills-qna" type="button" role="tab" aria-controls="pills-qna" aria-selected="true" onclick="javascript:location.href='/customer/qna';">
                                <img src="/assets/images/question.png" width="18" height="19" style="margin-right: 7;"/>
                                문의답변</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-card-tab" data-bs-toggle="pill" data-bs-target="#pills-card" type="button" role="tab" aria-controls="pills-card" aria-selected="false" onclick="javascript:location.href='/customer/review';">
                                <img src="/assets/images/review.png" width="20" height="20" style="margin-right: 7;"/>
                                마이리뷰</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-point-tab" data-bs-toggle="pill" data-bs-target="#pills-point" type="button" role="tab" aria-controls="pills-point" aria-selected="false" onclick="javascript:location.href='/customer/point';">
                                <img src="/assets/images/dollar.png" width="23" height="24" style="margin-right: 7;"/>
                                포인트</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-address-tab" data-bs-toggle="pill" data-bs-target="#pills-address" type="button" role="tab" aria-controls="pills-address" aria-selected="false" onclick="javascript:location.href='/customer/address';">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin">
                                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                배송지관리</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-security-tab" data-bs-toggle="pill" data-bs-target="#pills-security" type="button" role="tab" aria-controls="pills-security" aria-selected="false" onclick="javascript:location.href='/customer/withdraw';">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield">
                                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                </svg>
                                회원탈퇴
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xxl-9 col-lg-8">
                    <button class="btn left-dashboard-show btn-animation btn-md fw-bold d-block mb-4 d-lg-none">Show
                        Menu</button>
                    <div class="dashboard-right-sidebar">
                        <div class="tab-content" id="pills-tabContent">
<!-- 포인트 시작 -->
                           <div class="tab-pane fade active show" id="pills-point" role="tabpanel" aria-labelledby="pills-point-tab">
                           	<form name="pointForm" method="get">
                                <div class="dashboard-point">
                                    <div class="title">
                                        <h2>문의답변</h2>
                                        <span class="title-leaf">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="/assets/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="profile-about dashboard-bg-box">
                                        <div class="row" style="justify-content: center;">
                                            <div class="col-xxl-7"  style="text-align: center;">
                                                <div class="dashboard-title mb-3">
                                                    <span style="display:inline; color: #fff; background: #4597E8; border-radius: 4px; padding: 4px 6px; font-size: 12px; font-weight: 600;">
                                              		답변</span>
                                                    <h3 style="display: inline;" th:text="${dto.serviceQueDto.serviceQueTitle}">문의제목입니당당당</h3>
                                                </div>
                                                <div th:text="|작성일: &nbsp;${#dates.format(dto.serviceAnsDate,'yyyy-MM-dd')}|">문의날짜: yyyy-mm-dd</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <p></p>
                                    </div>
                                    <div class="profile-about dashboard-bg-box">
                                        <div class="row">
                                            <div class="col-xxl-12">
                                                <div style="height: 250px;" th:text="${dto.serviceAnsContent}">질문내용인데이러쿵저러쿵그래서이거해결되나요해결해주세요문의끝</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
									<div class="profile-about dashboard-bg-box row col-xxl-12" style="height: 150px; display: none; margin: 0;" id="resultDiv" >
										<div th:if="${content}!=null" th:text="${content}"></div>
									</div>
                                    
                                    <table width="100%">
                                    <tbody>
                                        <tr>
                                        	<td align="left">
                                        		<input id="input" type="hidden" th:value="${dto.serviceQueDto.serviceQueNum}">
                                        		<input id="button" type="button" value="질문보기"  class="btn theme-bg-color btn-sm mt-4 text-white" onclick="openQue();">
                                        	</td>
                                            <td align="right">
                                                <button class="btn theme-bg-color btn-sm mt-4 text-white" type="button" 
                                                th:onclick="|location.href='@{/customer/qna(pageNum=${pageNum})}'|">목록으로</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                               </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- User Dashboard Section End -->

    <!-- Footer Section Start -->
    <footer th:replace="footer.html :: footerFragment"></footer>
    <!-- Footer Section End -->

    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="back-to-top" style="">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- latest jquery-->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="/assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="/assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="/assets/js/feather/feather.min.js"></script>
    <script src="/assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="/assets/js/lazysizes.min.js"></script>

    <!-- Wizard js -->
    <script src="/assets/js/wizard.js"></script>

    <!-- Slick js-->
    <script src="/assets/js/slick/slick.js"></script>
    <script src="/assets/js/slick/custom_slick.js"></script>

    <!-- Quantity js -->
    <script src="/assets/js/quantity.js"></script>

    <!-- script js -->
    <script src="/assets/js/script.js"></script>

	<script type="text/javascript">
	
	function openQue(){
		var queNum = $("#input").val();

		$.ajax({
			url:"getQuestion",
			type:"GET",
			data:{queNum:queNum},
            success:function(content){
            	$("#resultDiv").html(content);
            	$("#resultDiv").toggle();
            	if($("#button").val()=='질문보기'){
	            	$("#button").val('질문닫기');
            	}else{
	            	$("#button").val('질문보기');
            	}
            },
            error:function(){
            	$("#resultDiv").html('질문이 삭제되었습니다.');
            	$("#resultDiv").toggle();
            	if($("#button").val()=='질문보기'){
	            	$("#button").val('질문닫기');
            	}else{
	            	$("#button").val('질문보기');
            	}
            }
		
		})
	}
	
	</script>


<!-- 모달창에 주소API 넣는거 힘들면 그냥 같은 페이지인데 input으로 하는걸로 하나 더 만들어서 쓰는게 나을거같음 -->
</body></html>