<html lang="en">
<head>
    <div th:replace="head.html :: headFragment"></div>

	<title>마이페이지</title>

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/stylemj.css">
    
	<style id="__web-inspector-hide-shortcut-style__">
	.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
	{
    	visibility: hidden !important;
	}
	</style>
	

</head>

<body class="" style="">

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->

    <!-- Header Start -->
    <header th:replace="header.html :: headerFragment"></header>
    <!-- Header End -->

    <!-- mobile fix menu start -->
    <!-- mobile fix menu end -->

    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2>마이페이지</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">마이페이지</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- User Dashboard Section Start -->
    <section class="user-dashboard-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-3 col-lg-4">
                    <div class="dashboard-left-sidebar">
                        <div class="close-button d-flex d-lg-none">
                            <button class="close-sidebar">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="profile-box">
                            <div class="cover-image">
                                <img src="../assets/images/inner-page/cover-img.jpg" class="img-fluid blur-up lazyloaded" alt="">
                            </div>

                            <div class="profile-contain">
                                <div class="profile-image">
                                    <div class="position-relative">
                                        <img src="../assets/images/inner-page/user/1.jpg" class="blur-up update_img lazyloaded" alt="">
                                        <div class="cover-icon">
                                            <i class="fa-solid fa-pen">
                                                <input type="file" onchange="readURL(this,0)">
                                            </i>
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-name">
                                    <h3>회원이름</h3>
                                    <h6 class="text-content">회원이메일</h6>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>회원정보</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-order-tab" data-bs-toggle="pill" data-bs-target="#pills-order" type="button" role="tab" aria-controls="pills-order" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>주문정보</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-qna-tab" data-bs-toggle="pill" data-bs-target="#pills-qna" type="button" role="tab" aria-controls="pills-qna" aria-selected="false"><img src="../assets/images/question.png" width="18" height="19" style="margin-right: 7;"/>문의답변</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-card-tab" data-bs-toggle="pill" data-bs-target="#pills-card" type="button" role="tab" aria-controls="pills-card" aria-selected="false"><img src="../assets/images/review.png" width="20" height="20" style="margin-right: 7;"/>마이리뷰</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-point-tab" data-bs-toggle="pill" data-bs-target="#pills-point" type="button" role="tab" aria-controls="pills-point" aria-selected="false"><img src="../assets/images/dollar.png" width="23" height="24" style="margin-right: 7;"/>포인트</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-address-tab" data-bs-toggle="pill" data-bs-target="#pills-address" type="button" role="tab" aria-controls="pills-address" aria-selected="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>배송지관리</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-security-tab" data-bs-toggle="pill" data-bs-target="#pills-security" type="button" role="tab" aria-controls="pills-security" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>회원탈퇴</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xxl-9 col-lg-8">
                    <button class="btn left-dashboard-show btn-animation btn-md fw-bold d-block mb-4 d-lg-none">Show
                        Menu</button>
                    <div class="dashboard-right-sidebar">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="pills-address" role="tabpanel" aria-labelledby="pills-address-tab">
                                <div class="dashboard-address">
                                    <div class="title title-flex">
                                        <div>
                                            <h2>배송지관리</h2>
                                            <span class="title-leaf">
                                                <svg class="icon-width bg-gray">
                                                    <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                                                </svg>
                                            </span>
                                        </div>

                                        <button class="btn theme-bg-color text-white btn-sm fw-bold mt-lg-0 mt-3" data-bs-toggle="modal" data-bs-target="#add-address"
                                        id="insertDeliver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus me-2">
                                        <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        배송지 추가</button>
                                    </div>

                                    <div class="row g-sm-4 g-3">
                                    
                                    	<!-- 배송지 출력 반복 시작 -->
                                        <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12" th:if="${#lists.size(lists)>0}" th:each="deliverDto, i:${lists}">
                                                    	
                                            <div class="address-box">
                                                <div>
                                                    <div class="table-responsive address-table">
                                                    	<form action="" name="deliverForm" method="post">
                                                        	<table class="table">
	                                                            <tbody id="lists">
	                                                                <tr>
	                                                                    <td colspan="2" th:text="${deliverDto.deliverName}">수령자이름</td>
	                                                                    <td><input type="hidden" id="deliverNum" name="deliverNum" th:value="${deliverDto.deliverNum}"></td>
	                                                                    <td><input type="hidden" class="deliverType" name="deliverType" th:value="${deliverDto.deliverType}"></td>
	                                                                </tr>
	
	                                                                <tr>
	                                                                    <td>주소 :</td>
	                                                                    <td>
	                                                                        <p th:text="${deliverDto.deliverRAddr}"></p>
	                                                                        <p th:text="${deliverDto.deliverDAddr}"></p>
	                                                                    </td>
	                                                                </tr>
	
	                                                                <tr>
	                                                                    <td>우편번호 :</td>
	                                                                    <td th:text="${deliverDto.deliverZipCode}"></td>
	                                                                </tr>
	
	                                                                <tr>
	                                                                    <td>연락처 :</td>
	                                                                    <td th:text="${deliverDto.deliverTel}"></td>
	                                                                </tr>
	                                                            </tbody>
                                                        	</table>
                                                    	</form>
                                                    </div>
                                                </div>

                                                <div class="button-group">
                                                    <button class="btn btn-sm add-button w-100" data-bs-toggle="modal" data-bs-target="#edit-address"
                                                    th:data-num="${deliverDto.deliverNum}" th:data-name="${deliverDto.deliverName}" th:data-raddr="${deliverDto.deliverRAddr}" th:data-jaddr="${deliverDto.deliverJAddr}"
                                                    th:data-daddr="${deliverDto.deliverDAddr}" th:data-zipcode="${deliverDto.deliverZipCode}" th:data-tel="${deliverDto.deliverTel}"
                                                    th:onclick="|deliverEdit(${i.index})|">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                                                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                                        수정하기</button>
                                                    <button class="btn btn-sm add-button w-100" type="button" th:onclick="|deliverDel(${i.index})|">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                                                    <polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                                    <line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                     삭제하기</button>
                                                </div>
                                            </div>
                                                      
                                        </div>
                                        <!-- 배송지 출력 반복 끝 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- User Dashboard Section End -->

    <!-- Footer Section Start -->
    <footer th:replace="footer.html :: footerFragment"></footer>
    <!-- Footer Section End -->

    <!-- Deal Box Modal Start -->
    <!-- Deal Box Modal End -->

    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="back-to-top" style="">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    
    <!-- 배송지수정 모달 시작 -->
    <div class="modal fade theme-modal" id="edit-address" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">배송지 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <form name="editForm" method="post" th:object="${DeliverDto}">
	                <div class="modal-body">
	                	<div class="col-xxl-12">
	                        <div class="form-floating mb-4 theme-form-floating">
	                        	<input type="hidden" id="deliverNumEdit" name="deliverNum">
	                            <input type="text" class="form-control" id="deliverNameEdit"
	                            name="deliverName">
	                            <label for="fname">수령자</label>
	                        </div>
	                    </div>
	                    
	                    <div class="col-xxl-12">
	                        <div class="form-floating mb-4 theme-form-floating">
	                            <input type="text" class="form-control" id="deliverTelEdit"
	                            name="deliverTel">
	                            <label for="lname">연락처</label>
	                        </div>
	                    </div>

	                    <div class="col-xxl-8" style="display: inline-block;">    
	                        <div class="form-floating mb-4 theme-form-floating" >
	                            <input type="text" class="form-control" id="deliverZipCodeEdit"
	                            name="deliverZipCode" readonly="readonly">
	                            <label for="pin">우편번호</label>
	                        </div>
	                    </div>
	                        
	                    <div class="col-xxl-3" style="display: inline-block;">
	                        <div class="form-floating theme-form-floating" >
	                            <button type="button" class="btn btn-mb theme-bg-color fw-bold text-light" style="padding: 13 17; margin-left: 10;"
	                            onclick="sample4_execDaumPostcode();">우편번호찾기</button>
	                        </div>
	                    </div>

	                    <div class="col-xxl-12">
	                        <div class="form-floating mb-4 theme-form-floating">
	                            <input type="text" class="form-control" id="deliverRAddrEdit"
	                            name="deliverRAddr" readonly="readonly">
	                            <label for="pin">도로명주소</label>
	                        </div>
	                    </div>
	                    
	                    <div class="col-xxl-12">
	                        <div class="form-floating mb-4 theme-form-floating">
	                            <input type="text" class="form-control" id="deliverJAddrEdit"
	                            name="deliverJAddr" readonly="readonly">
	                            <label for="pin">지번주소</label>
	                        </div>
	                    </div>
	                        
	                    <div class="col-xxl-12">
	                        <div class="form-floating mb-4 theme-form-floating">
	                            <input type="text" class="form-control" id="deliverDAddrEdit"
	                            name="deliverDAddr">
	                            <label for="pin">상세주소</label>
	                        </div>
	                    </div>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">취소</button>
	                    <button type="button" class="btn theme-bg-color btn-sm text-white"
	                    onclick="sendEdit();" id="editBtn">수정</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 배송지수정 모달 끝 -->

    <!-- 배송지추가 모달 시작 -->
    <div class="modal fade theme-modal" id="add-address" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">배송지 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <form method="post" th:object="${DeliverDto}" name="insertForm">
	                <div class="modal-body">
	                	<div class="col-xxl-12">
	                        <div class="form-floating mb-4 theme-form-floating">
	                            <input type="text" class="form-control" id="deliverName"
	                            name="deliverName">
	                            <label for="fname">수령자</label>
	                        </div>
	                    </div>
	                    
	                    <div class="col-xxl-12">
	                        <div class="form-floating mb-4 theme-form-floating">
	                            <input type="text" class="form-control" id="deliverTel"
	                            name="deliverTel">
	                            <label for="lname">연락처</label>
	                        </div>
	                    </div>

	                    <div class="col-xxl-8" style="display: inline-block;">    
	                        <div class="form-floating mb-4 theme-form-floating" >
	                            <input type="text" class="form-control" id="deliverZipCode"
	                            name="deliverZipCode" readonly="readonly">
	                            <label for="pin">우편번호</label>
	                        </div>
	                    </div>
	                        
	                    <div class="col-xxl-3" style="display: inline-block;">
	                        <div class="form-floating theme-form-floating" >
	                            <button type="button" class="btn btn-mb theme-bg-color fw-bold text-light" style="padding: 13 17; margin-left: 10;"
	                            onclick="sample4_execDaumPostcode();">우편번호찾기</button>
	                        </div>
	                    </div>

	                    <div class="col-xxl-12">
	                        <div class="form-floating mb-4 theme-form-floating">
	                            <input type="text" class="form-control" id="deliverRAddr"
	                            name="deliverRAddr" readonly="readonly">
	                            <label for="pin">도로명주소</label>
	                        </div>
	                    </div>
	                    
	                    <div class="col-xxl-12">
	                        <div class="form-floating mb-4 theme-form-floating">
	                            <input type="text" class="form-control" id="deliverJAddr"
	                            name="deliverJAddr" readonly="readonly">
	                            <label for="pin">지번주소</label>
	                        </div>
	                    </div>
	                        
	                    <div class="col-xxl-12">
	                        <div class="form-floating mb-4 theme-form-floating">
	                            <input type="text" class="form-control" id="deliverDAddr"
	                            name="deliverDAddr">
	                            <label for="pin">상세주소</label>
	                        </div>
	                    </div>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">취소</button>
	                    <button type="button" class="btn theme-bg-color btn-sm text-white"
	                    onclick="sendAdd();">추가</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 배송지추가 모달 끝 -->

    <!-- Location Modal Start -->
    <!-- Location Modal End -->

    <!-- Remove Profile Modal Start -->
    <div class="modal fade theme-modal remove-profile" id="removeProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">Are You Sure ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box">
                        <p>The permission for the use/group, preview is inherited from the object, object will create a
                            new permission for this object</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" data-bs-target="#removeAddress" data-bs-toggle="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade theme-modal remove-profile" id="removeProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box text-center">
                        <h4 class="text-content">It's Removed.</h4>
                    </div>
                </div>
                <div class="modal-footer pt-0">
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Remove Profile Modal End -->
    
    <!-- 배송지 삭제 모달 시작 -->
    <!-- 배송지 삭제 모달 끝 -->

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="../assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
    <script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- Wizard js -->
    <script src="../assets/js/wizard.js"></script>

    <!-- Slick js-->
    <script src="../assets/js/slick/slick.js"></script>
    <script src="../assets/js/slick/custom_slick.js"></script>

    <!-- Quantity js -->
    <script src="../assets/js/quantity.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>
    
    

 
	<script type="text/javascript">
	
	//배송지 5개 이상이면 모달창 끄기
	$('#add-address').on('shown.bs.modal',function(){
		if(lists.length>=5){
			alert('배송지는 최대 5개까지만 등록 가능합니다.');
			$('#add-address').modal('hide');
			return;
		}
	});
	
	</script>
	
	
	<script type="text/javascript" src="../assets/js/util.js"></script>
	<script type="text/javascript">
	
	/* 모달 데이터 초기화 */
	$('#add-address').on('hidden.bs.modal', function (e) {
		$(this).find('form')[0].reset();
	});
	
	/* 배송지 삭제하기 */
	function deliverDel(num){
		var f = document.deliverForm[num];
		
		var type = $('.deliverType').eq(num).val();
		if(type=='기본'){
			alert('기본배송지는 삭제할 수 없습니다.');
			event.preventDefault();
			return;
		}
		
		var msg ="삭제하시겠습니까? \n삭제 후 복구할 수 없습니다.";
		
		if(!confirm(msg)){
			alert("취소되었습니다.");
			event.preventDefault();
			return;
		}else{
			alert("삭제되었습니다.");
			f.action="addressDel";
			f.submit();
		}
	}
	
	/* 기본배송지 수정은 회원정보에서만 */
	function deliverEdit(num){
		var f = document.deliverForm[num];
		
		var type = $('.deliverType').eq(num).val();
		if(type=='기본'){
			alert('기본배송지는 회원정보에서 수정가능합니다.');
			$('#editBtn').attr('disabled','disabled');
		}else{
			$('#editBtn').removeAttr('disabled');
		}
	}
	
	/* 배송지 수정 모달로 데이터 보내기 */
	$('#edit-address').on('show.bs.modal',function(e) {
		var num = $(e.relatedTarget).data('num');
		var name = $(e.relatedTarget).data('name');
		var raddr = $(e.relatedTarget).data('raddr');
		var jaddr = $(e.relatedTarget).data('jaddr');
		var daddr = $(e.relatedTarget).data('daddr');
		var zipcode = $(e.relatedTarget).data('zipcode');
		var tel = $(e.relatedTarget).data('tel');

		$('#deliverNumEdit').val(num);
		$('#deliverNameEdit').val(name);
		$('#deliverRAddrEdit').val(raddr);
		$('#deliverJAddrEdit').val(jaddr);
		$('#deliverDAddrEdit').val(daddr);
		$('#deliverZipCodeEdit').val(zipcode);
		$('#deliverTelEdit').val(tel);
		
    });
	
	/* 배송지 수정 */
	function sendEdit(){
		var f = document.editForm;
		
		var name =$("#deliverNameEdit").val();
		var tel = $("#deliverTelEdit").val();
		var RAddr = $("#deliverRAddrEdit").val();
        var JAddr = $("#deliverJAddrEdit").val();
        var DAddr = $("#deliverDAddrEdit").val();
        var ZipCode = $("#deliverZipCodeEdit").val();
        
		//입력창이 하나라도 비어있으면(지번주소, 상세주소 제외)
        if(!name || !tel || !RAddr || !ZipCode){
        	alert("내용을 입력해주세요.");
        	return;
        }
        
        //입력창에 내용이 있으면
        if(!name){
        	alert("수령자 이름을 입력해주세요.");
        	return;
        }else if(!isValidKorean(name)){
        	alert("유효한 이름이 아닙니다.");
            $("#deliverNameEdit").val("");
            return;
        }
        
        if(!tel){
            alert("주문자 연락처를 입력해주세요.(예: 01012345678)");
            return;
        }else if(!isValidTel(tel)){
            alert("올바른 연락처 형식을 입력해주세요.(예: 01012345678)");
            $("#deliverTelEdit").val("");
            return;
        }
        
        f.action="addressUp";
        f.submit();
        
	}

	/* 배송지 추가 */
	function sendAdd(){
		var f = document.insertForm;
		
		var name =$("#deliverName").val();
		var tel = $("#deliverTel").val();
		var RAddr = $("#deliverRAddr").val();
        var JAddr = $("#deliverJAddr").val();
        var DAddr = $("#deliverDAddr").val();
        var ZipCode = $("#deliverZipCode").val();
        
      //입력창이 하나라도 비어있으면(지번주소, 상세주소 제외)
        if(!name || !tel || !RAddr || !ZipCode){
        	alert("내용을 입력해주세요.");
        	return;
        }
        
        //입력창에 내용이 있으면
        if(!name){
        	alert("수령자 이름을 입력해주세요.");
        	return;
        }else if(!isValidKorean(name)){
        	alert("유효한 이름이 아닙니다.");
            $("#deliverName").val("");
            return;
        }
        
        if(!tel){
            alert("주문자 연락처를 입력해주세요.(예: 01012345678)");
            return;
        }else if(!isValidTel(tel)){
            alert("올바른 연락처 형식을 입력해주세요.(예: 01012345678)");
            $("#deliverTel").val("");
            return;
        }
        
        f.action="addressIn";
	    f.submit();
		
	}
	</script>
	
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script>
		//주소API
		
		//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
		function sample4_execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function(data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var roadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 참고 항목 변수

 					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if(data.buildingName !== '' && data.apartment === 'Y'){
     					extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if(extraRoadAddr !== ''){
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('deliverZipCode').value = data.zonecode;
					document.getElementById("deliverRAddr").value = roadAddr;
					document.getElementById("deliverJAddr").value = data.jibunAddress;

					// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
					if(roadAddr !== ''){
						document.getElementById("deliverDAddr").value = extraRoadAddr;
					} else {
						document.getElementById("deliverDAddr").value = '';
					}

					var guideTextBox = document.getElementById("guide");
					// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
					if(data.autoRoadAddress) {
						var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
						guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
						guideTextBox.style.display = 'block';
					} else if(data.autoJibunAddress) {
						var expJibunAddr = data.autoJibunAddress;
						guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
						guideTextBox.style.display = 'block';
					} else {
						guideTextBox.innerHTML = '';
						guideTextBox.style.display = 'none';
					}
				}
			}).open();
		}
	</script>

<!-- 모달창에 주소API 넣는거 힘들면 그냥 같은 페이지인데 input으로 하는걸로 하나 더 만들어서 쓰는게 나을거같음 -->
</body></html>