<html lang="en">
<head>
    <div th:replace="head.html :: headFragment"></div>

	<title>마이페이지</title>

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/stylemj.css">
    
	<style id="__web-inspector-hide-shortcut-style__">
	.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
	{
    	visibility: hidden !important;
	}
	</style>
	
	
</head>

<body class="" style="">

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->

    <!-- Header Start -->
    <header th:replace="header.html :: headerFragment"></header>
    <!-- Header End -->

    <!-- mobile fix menu start -->
    <!-- mobile fix menu end -->

    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2>마이페이지</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">마이페이지</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- User Dashboard Section Start -->
    <section class="user-dashboard-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-3 col-lg-4">
                    <div class="dashboard-left-sidebar">
                        <div class="close-button d-flex d-lg-none">
                            <button class="close-sidebar">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="profile-box">
                            <div class="cover-image">
                                <img src="../assets/images/inner-page/cover-img.jpg" class="img-fluid blur-up lazyloaded" alt="">
                            </div>

                            <div class="profile-contain">
                                <div class="profile-image">
                                    <div class="position-relative">
                                        <img src="../assets/images/inner-page/user/1.jpg" class="blur-up update_img lazyloaded" alt="">
                                        <div class="cover-icon">
                                            <i class="fa-solid fa-pen">
                                                <input type="file" onchange="readURL(this,0)">
                                            </i>
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-name">
                                    <h3 th:text="${customerDto.customerName}"></h3>
                                    <h6 class="text-content" th:text="${customerDto.customerGrade}"></h6>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                회원정보</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-order-tab" data-bs-toggle="pill" data-bs-target="#pills-order" type="button" role="tab" aria-controls="pills-order" aria-selected="false" onclick="javascript:location.href='order';">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag">
                                <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                <line x1="3" y1="6" x2="21" y2="6"></line>
                                <path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                                주문정보</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-qna-tab" data-bs-toggle="pill" data-bs-target="#pills-qna" type="button" role="tab" aria-controls="pills-qna" aria-selected="false" onclick="javascript:location.href='qna';">
                                <img src="../assets/images/question.png" width="18" height="19" style="margin-right: 7;"/>
                                문의답변</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-card-tab" data-bs-toggle="pill" data-bs-target="#pills-card" type="button" role="tab" aria-controls="pills-card" aria-selected="false" onclick="javascript:location.href='review';">
                                <img src="../assets/images/review.png" width="20" height="20" style="margin-right: 7;"/>
                                마이리뷰</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-point-tab" data-bs-toggle="pill" data-bs-target="#pills-point" type="button" role="tab" aria-controls="pills-point" aria-selected="false" onclick="javascript:location.href='point';">
                                <img src="../assets/images/dollar.png" width="23" height="24" style="margin-right: 7;"/>
                                포인트</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-address-tab" data-bs-toggle="pill" data-bs-target="#pills-address" type="button" role="tab" aria-controls="pills-address" aria-selected="false" onclick="javascript:location.href='address';">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin">
                                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                배송지관리</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-security-tab" data-bs-toggle="pill" data-bs-target="#pills-security" type="button" role="tab" aria-controls="pills-security" aria-selected="false" onclick="javascript:location.href='withdraw';">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield">
                                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                </svg>
                                회원탈퇴
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xxl-9 col-lg-8">
                    <button class="btn left-dashboard-show btn-animation btn-md fw-bold d-block mb-4 d-lg-none">Show
                        Menu</button>
                    <div class="dashboard-right-sidebar">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="dashboard-profile">
                                    <div class="title">
                                        <h2>회원정보</h2>
                                        <span class="title-leaf">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
                                    </div>

                                    

                                    <div class="profile-about dashboard-bg-box">
                                        <div class="row">
                                            <div class="col-xxl-7">
                                                <div class="dashboard-title mb-3">
                                                    <h3 th:text="|내 정보 (${customerDto.customerGrade})|"></h3>
                                                </div>

                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>이름:</td>
                                                                <td th:text="${customerDto.customerName}"></td>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td>이메일:</td>
                                                                <td th:text="${customerDto.customerEmail}"></td>
                                                            </tr><tr>
                                                                <td>비밀번호:</td>
                                                                <td th:text="${customerDto.customerPwd}"></td>
                                                            </tr><tr>
                                                                <td>연락처:</td>
                                                                <td th:text="${customerDto.customerTel}"></td>
                                                            </tr>
                                                            <tr>
                                                            	<td>우편번호:</td>
                                                                <td th:if="${customerDto.customerZipCode!=0}" th:text="${customerDto.customerZipCode}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>주소:</td>
                                                                <td th:text="${customerDto.customerRAddr}"></td>
                                                                <td th:text="${customerDto.customerDAddr}"></td>
                                                            </tr>
                                                            <tr>
                                                            	<td></td>
                                                                <td th:if="${not #strings.isEmpty(customerDto.customerJAddr)}" th:text="|(${customerDto.customerJAddr})|"></td>
                                                            	
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            
                                            <div class="col-xxl-5">


                                            </div>
                                        </div>

                                    </div>
                                    
                                    <div class="profile-about col-xxl-12">
                                        <div>
                                            <table class="table" style="margin-bottom: 0px;">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <span data-bs-toggle="modal" data-bs-target="#editProfile">수정하기</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- User Dashboard Section End -->

    <!-- Footer Section Start -->
    <footer th:replace="footer.html :: footerFragment"></footer>
    <!-- Footer Section End -->

    <!-- Deal Box Modal Start -->
    <!-- Deal Box Modal End -->

    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="back-to-top" style="">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- 배송지추가 모달 시작 -->
    
    <!-- 배송지추가 모달 끝 -->

    <!-- Location Modal Start -->
    <!-- Location Modal End -->

    <!-- 회원정보수정 모달 Start -->
    <div class="modal fade theme-modal" id="editProfile" tabindex="-1" aria-labelledby="exampleModalLabel2" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down" style="display: flex; justify-content: center">
            <div class="modal-content" style="width: 75%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">회원정보수정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <form name="editForm" method="post" th:object="${CustomerDto}" th:action="info">
                <div class="modal-body">
                    <div class="row g-4">
                        <div class="col-xxl-12">
							<div class="form-floating theme-form-floating">
								<input type="text" class="form-control" id="customerName" name="customerName"
								th:value="${customerDto.customerName}" readonly="readonly">
								<label for="pname">이름</label>
							</div>
                        </div>

                        <div class="col-xxl-12">
							<div class="form-floating theme-form-floating">
								<input type="email" class="form-control" id="customerEmail" 
								th:value="${customerDto.customerEmail}" readonly="readonly" name="customerEmail">
								<label for="email1">이메일</label>
							</div>
                        </div>

                        <div class="col-xxl-12">
							<div class="form-floating theme-form-floating">
								<input class="form-control" type="password" name="customerPwd" id="customerPwd" 
								onblur="pwdChk();">
                                <label for="mobile">비밀번호</label>
                            </div>
                            <div style="margin-top: 5;" id="pwdMsg"></div>
                        </div>
                        <div class="col-xxl-12">
							<div class="form-floating theme-form-floating">
								<input class="form-control" type="password" name="customerPwdChk" id="customerPwdChk"
								onblur="pwdDoubleChk();">
								<label for="mobile">비밀번호 확인</label>
                                </div>
							<div style="margin-top: 5;" id="pwdDoubleMsg"></div>
                        </div>
                        <div class="col-xxl-8">
							<div class="form-floating theme-form-floating">
								<input class="form-control" type="tel" name="customerTel" id="customerTel"
								th:value="${customerDto.customerTel}" onblur="telChk();" onchange="telChkInput();">
								<label for="mobile">연락처</label>
							</div>
							<div style="margin-top: 5;" id="telMsg"></div>
                        </div>
                        
                        <div class="col-xxl-4">
                            <div class="form-floating theme-form-floating">
                            <button type="button" class="btn theme-bg-color fw-bold text-light" onclick="telChkBtn();">인증번호요청</button></div>
                        </div>
                        
                        <div class="col-xxl-12">
                            <div class="form-floating theme-form-floating">
                                <input type="text" class="form-control" name="customerTelChk" id="customerTelChk" readonly="readonly">
                                <label for="address3">인증번호</label>
                            </div>
                        </div>
                        <div style="margin-top: 5;" id="telChkMsg"></div>

                        <div class="col-xxl-8">
                            <div class="form-floating theme-form-floating">
                                <input type="text" class="form-control" id="customerZipCode"
                                th:value="${customerDto.customerZipCode}" name="customerZipCode" readonly="readonly">
                                <label for="address3">우편번호</label>
                            </div>
                        </div>
                        <div class="col-xxl-4">
                            <div class="form-floating theme-form-floating">
                            <button type="button" class="btn theme-bg-color fw-bold text-light" onclick="sample4_execDaumPostcode();">우편번호찾기</button></div>
                        </div>
                        <div class="col-xxl-12">
                            <div class="form-floating theme-form-floating">
                                <input type="text" class="form-control" id="customerRAddr"
                                th:value="${customerDto.customerRAddr}" name="customerRAddr" readonly="readonly">
                                <label for="address1">도로명주소</label>
                            </div>
                        </div>
                        <div class="col-xxl-12">
                            <div class="form-floating theme-form-floating">
                                <input type="text" class="form-control" id="customerJAddr"
                                th:value="${customerDto.customerJAddr}" name="customerJAddr" readonly="readonly">
                                <label for="address1">지번주소</label>
                            </div>
                        </div>
                        <div class="col-xxl-12">
                            <div class="form-floating theme-form-floating">
                                <input type="text" class="form-control" id="customerDAddr"
                                th:value="${customerDto.customerDAddr}" name="customerDAddr">
                                <label for="address2">상세주소</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" onclick="sendIt();">수정하기</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 회원정보수정 모달 End -->

    

    <!-- Remove Profile Modal Start -->
    <div class="modal fade theme-modal remove-profile" id="removeProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">Are You Sure ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box">
                        <p>The permission for the use/group, preview is inherited from the object, object will create a
                            new permission for this object</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" data-bs-target="#removeAddress" data-bs-toggle="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade theme-modal remove-profile" id="removeProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box text-center">
                        <h4 class="text-content">It's Removed.</h4>
                    </div>
                </div>
                <div class="modal-footer pt-0">
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Remove Profile Modal End -->
    
    

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="../assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
    <script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- Wizard js -->
    <script src="../assets/js/wizard.js"></script>

    <!-- Slick js-->
    <script src="../assets/js/slick/slick.js"></script>
    <script src="../assets/js/slick/custom_slick.js"></script>

    <!-- Quantity js -->
    <script src="../assets/js/quantity.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>
    
    <script type="text/javascript" src="../assets/js/util.js"></script>
    <script type="text/javascript">
	
	/* 비밀번호 유효성 검사 */
	function pwdChk(){
		var pwd = $("#customerPwd").val();
		var pwdMsg = document.querySelector("#pwdMsg");
		
		if(!pwd){
			pwdMsg.innerHTML = "비밀번호를 입력해주세요(숫자, 영문을 포함한 8~16자)";
			$("#pwdMsg").css("color","#ff7474");
		}else if(!isValidPwd(pwd)){
			pwdMsg.innerHTML = "숫자, 영문을 포함한 8~16자로 입력해주세요.";
			$("#pwdMsg").css("color","#ff7474");
			$("#customerPwd").val("");
		}else{
			pwdMsg.innerHTML = "";
		}
		
		var pwdDoubleMsg = document.querySelector("#pwdDoubleMsg");
		var pwdChk = $("#customerPwdChk").val();
		
		if(pwdChk){
			if((pwd != pwdChk) && pwd){
				pwdDoubleMsg.innerHTML = "비밀번호가 일치하지 않습니다";
				$("#pwdDoubleMsg").css("color","#ff7474");
				$("#customerPwdChk").val("");
			}
		}
		return;
	}
	
	/* 비밀번호 일치 검사 */
	function pwdDoubleChk(){
		var pwd = $("#customerPwd").val();
		var pwdChk = $("#customerPwdChk").val();
		var pwdDoubleMsg = document.querySelector("#pwdDoubleMsg");
		
		if(!pwdChk){
			pwdDoubleMsg.innerHTML = "비밀번호 확인을 해주세요.";
			$("#pwdDoubleMsg").css("color","#ff7474");
		}else if(pwd != pwdChk){
			pwdDoubleMsg.innerHTML = "비밀번호가 일치하지 않습니다";
			$("#pwdDoubleMsg").css("color","#ff7474");
			$("#customerPwdChk").val("");
		}else{
			pwdDoubleMsg.innerHTML = "";
		}
		return;
	}
	
	/* 연락처 유효성 검사 */
	function telChk(){
		var tel = $("#customerTel").val();
		var telMsg = document.querySelector("#telMsg");
		
		if(!tel){
			telMsg.innerHTML = "연락처를 입력해주세요.(예: 01012345678)";
			$("#telMsg").css("color","#ff7474");
		}else if(!isValidTel(tel)){
			telMsg.innerHTML = "올바른 연락처 형식을 입력해주세요.(예: 01012345678)";
			$("#telMsg").css("color","#ff7474");
		}else{
			telMsg.innerHTML = "";
		}
		return;
	}	
	
	/* 연락처 변경 시 인증번호칸 입력 가능 */
	function telChkInput(){
		$("#customerTelChk").attr("readonly",false);
		return;
	}
	
	/* 연락처 인증번호 */
 	function telChkBtn(){
		var customerTel = $("#customerTel").val();
		var telChkMsg = document.querySelector("#telChkMsg");
		var telMsg = document.querySelector("#telMsg");
		
		if(!customerTel){
			telMsg.innerHTML = "연락처를 입력해주세요.(예: 01012345678)";
			$("#telMsg").css("color","#ff7474");
			event.preventDefault();
			return;
		}else if(!isValidTel(customerTel)){
			telMsg.innerHTML = "올바른 연락처 형식을 입력해주세요.(예: 01012345678)";
			$("#telMsg").css("color","#ff7474");
			$("#customerTel").val("");
			event.preventDefault();
			return;
		}else if(customerTel){
			$("#customerTel").attr("readonly",true);
			telChkMsg.innerHTML = "인증번호가 발송되었습니다.";
			$("#telChkMsg").css("color","green");
			event.preventDefault();
		}
		
		$.ajax({
			url:"/check/sendSMS",
			type:"GET",
			data:{customerTel:customerTel},
			success:function(res){
				$("#customerTelChk").blur(function(){
					if(res==$("#customerTelChk").val()){
						telChkMsg.innerHTML = "인증이 완료되었습니다.";
						$("#telChkMsg").css("color","green");
						event.preventDefault();
					}else{
						telChkMsg.innerHTML = "인증번호가 올바르지 않습니다.";
						$("#telChkMsg").css("color","#ff7474");
						$("#customerTelChk").val("");
						event.preventDefault();
					}
				});
			}
		});
		return;
	} 	
	</script>
    
    <script type="text/javascript">
	$('#editProfile').on('hidden.bs.modal', function (e) {
		$(this).find('form')[0].reset();
		
		var pwdMsg = document.querySelector("#pwdMsg");
		var pwdDoubleMsg = document.querySelector("#pwdDoubleMsg");
		var telChkMsg = document.querySelector("#telChkMsg");
		
		pwdMsg.innerHTML = "";
		pwdDoubleMsg.innerHTML = "";
		telChkMsg.innerHTML = "";
		
		var customerTelChk = $("#customerTelChk").val();
		
		$("#customerTelChk").attr("readonly",true);
		
	});
	
	function sendIt(){
		
		var f = document.editForm;
		
		var pwd = $("#customerPwd").val();
		var pwdChk = $("#customerPwdChk").val();
		var tel = $("#customerTel").val();
		//var telChk = $("#customerTelChk").val();
		
		var customerTelChk = $("#customerTelChk").attr("readonly");
		
		if(customerTelChk=='readonly'){
			if(!pwd || !pwdChk || !tel){
				alert("내용을 입력해주세요.");
				event.preventDefault();
				return;
			}
		}else{
			//if(!pwd || !pwdChk || !tel || !telChk){
			if(!pwd || !pwdChk || !tel){
				alert("내용을 입력해주세요.");
				event.preventDefault();
				return;
			}
		}
		alert('정보가 수정되었습니다.');

		f.submit();
	}
    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script>
		//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
		function sample4_execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function(data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var roadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 참고 항목 변수

 					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if(data.buildingName !== '' && data.apartment === 'Y'){
     					extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if(extraRoadAddr !== ''){
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('customerZipCode').value = data.zonecode;
					document.getElementById("customerRAddr").value = roadAddr;
					document.getElementById("customerJAddr").value = data.jibunAddress;

					// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
					if(roadAddr !== ''){
						document.getElementById("customerDAddr").value = extraRoadAddr;
					} else {
						document.getElementById("customerDAddr").value = '';
					}

					var guideTextBox = document.getElementById("guide");
					// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
					if(data.autoRoadAddress) {
						var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
						guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
						guideTextBox.style.display = 'block';
					} else if(data.autoJibunAddress) {
						var expJibunAddr = data.autoJibunAddress;
						guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
						guideTextBox.style.display = 'block';
					} else {
						guideTextBox.innerHTML = '';
						guideTextBox.style.display = 'none';
					}
				}
			}).open();
		}
	</script>

</body>
</html>