<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="head.html :: headFragment"></div>
    <title>주문성공 페이지</title>

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="/assets/css/styleej.css">
</head>

<body>

<!-- Loader Start -->
<div class="fullpage-loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<!-- Loader End -->

<!-- Header Start -->
<header th:replace="header.html :: headerFragment"></header>
<!-- Header End -->

<!-- mobile fix menu start -->
<!-- mobile fix menu end -->

<!-- Breadcrumb Section Start -->
<section class="breadscrumb-section pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadscrumb-contain breadscrumb-order">
                    <div class="order-box">
                        <div class="order-image">
                            <img style="width: 400px;"  src="../assets/images/inner-page/order-success.png" class="blur-up lazyload"
                                 alt="">
                        </div>

                        <div class="order-contain">
                            <h3 class="theme-color">주문성공</h3>
                            <h5 class="text-content">결제가 성공적으로 완료되었습니다</h5>
                            <h5 th:text="|주문번호: ${orderNum.orderNum}|"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Cart Section Start -->
<section class="cart-section section-b-space">
    <div class="container-fluid-lg">
        <div class="row g-sm-4 g-3">
            <div class="col-xxl-9 col-lg-8">
                <div class="cart-table order-table">
                    <div class="table-responsive">
                        <table class="table mb-0" >
                            <tbody>
                            <tr th:if="${#strings.equals(odto.orderDto.orderNum, orderNum.orderNum)}"
                                th:each="odto : ${odto}" >
                                <td class="product-detail" >
                                    <div class="product border-0">
                                        <a th:href="@{/itemDetail(itemNum=${odto.itemDto.itemNum})}" class="product-image">
                                            <img th:src="@{|/assets/img/${odto.itemDto.itemImage1}|}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>
                                        <div class="product-detail">
                                            <ul>
                                                <li class="name">
                                                    <a href="product-left.html"
                                                       th:text="${odto.itemDto.itemName}"></a>
                                                </li>

                                                <li class="text-content" th:text="|사이즈 : ${odto.itemSize}|"></li>

                                                <li class="text-content" th:text="|색상 : ${odto.itemColor}|"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>

                                <td class="price">
                                    <h4 class="table-title text-content">상품금액</h4>
                                    <del class="theme-color" th:if="${odto.itemDto.itemDiscount!=0}"
                                         th:text="${#numbers.formatInteger(odto.itemDto.itemPrice, 0, 'COMMA') + ' 원'}"></del>
                                    <h6 th:text="${#numbers.formatInteger(odto.itemDto.itemPrice-odto.itemDto.itemDiscount, 0, 'COMMA') + ' 원'}"></h6>
                                    <input type="hidden" name="orderitemPrice" th:value="${odto.itemDto.itemPrice*odto.itemQty}">
                                    <input type="hidden" name="orderdisPrice" th:value="${odto.itemDto.itemDiscount*odto.itemQty}">
                                </td>

                                <td class="price">
                                    <h4 class="table-title text-content">할인금액</h4>
                                    <h6 class="theme-color" th:text="${#numbers.formatInteger(odto.itemDto.itemDiscount, 0, 'COMMA') + ' 원'}"></h6>
                                </td>

                                <td class="quantity">
                                    <h4 class="table-title text-content">수량</h4>
                                    <h4 class="text-title"  th:text="|${odto.itemQty} 개|"></h4>
                                </td>

                                <td class="subtotal">
                                    <h4 class="table-title text-content">결제금액</h4>
                                   <h5 th:text="${#numbers.formatInteger((odto.itemDto.itemPrice-odto.itemDto.itemDiscount)*odto.itemQty, 0, 'COMMA') + ' 원'}"></h5>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-lg-4">
                <div class="row g-4">
                    <div class="col-lg-12 col-sm-6">
                        <div class="summery-box">
                            <div class="summery-header">

                                <h3>주문상세</h3>
                            </div>

                            <ul class="summery-contain">
                                <li>
                                    <h4>상품금액</h4>
                                    <h4 class="price" id="orderitemPrice"></h4>
                                </li>

                                <li>
                                    <h4>상품 할인</h4>
                                    <h4 class="price theme-color" id="orderdisPrice"></h4>
                                </li>
                                <li>
                                    <h4> 배송비 </h4>
                                    <input type="hidden" id="deliveryCosts" th:value="${orderNum.deliverCost}">
                                    <h4 class="price theme-color" th:text="${#numbers.formatInteger(orderNum.deliverCost,0,'COMMA') +'원'}"></h4>

                                </li>
                                <li>
                                    <h4>포인트 할인</h4>

                                    <h4 class="price text-danger"
                                        th:text="${#numbers.formatInteger(orderNum.usePoint, 0, 'COMMA') + ' 원'}" id="usePoint"></h4>
                                   <input type="hidden"
                                           th:value="${orderNum.usePoint}" id="orderusePointData" >
                                </li>

                            </ul>

                            <ul class="summery-total">
                                <li class="list-total">
                                    <h4>결제금액</h4>
                                    <h4 class="price" id="ordertotalPrice"></h4>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-6">
                        <div class="summery-box">
                            <div class="summery-header d-block">
                                <h3>배송주소</h3>
                            </div>

                            <ul class="summery-contain pb-0 border-bottom-0">
                                <li class="list-total border-top-0 pt-2">
                                    <h4 class="fw-bold" th:text="|${orderNum.deliverName} &nbsp;(${orderNum.deliverTel})|"></h4>
                                </li>
                                <li class="d-block">
                                    <h4 th:text="${orderNum.deliverRAddr}"></h4>
                                    <h4 class="mt-2" th:text="${orderNum.deliverDAddr}"></h4>
                                    <h4 class="mt-2" th:text="|(${orderNum.deliverZipCode})|"></h4>
                                </li>

                                <li>
                                    <h6 th:if="${orderNum.deliverMessage}!=null" th:text="|[${orderNum.deliverMessage}]|"></h6>
                                </li>

                                <li class="pb-0">
                                    <h4 class="price theme-color">
                                        <a href="/customer/order" class="text-danger"> 주문조회 </a>
                                    </h4>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-12">
                        <div class="summery-box">
                            <div class="summery-header d-block">
                                <h3>결제수단</h3>
                            </div>

                            <ul class="summery-contain pb-0 border-bottom-0">
                                <li class="d-block pt-0">
                                    <h5 class="fw-bold" th:text="|${orderNum.payment} 결제|"></h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->

<!-- Footer Section Start -->
<footer th:replace="footer.html :: footerFragment"></footer>
<!-- Footer Section End -->

<!-- Location Modal Start -->
<div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose your Delivery Location</h5>
                <p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="location-list">
                    <div class="search-input">
                        <input type="search" class="form-control" placeholder="Search Your Area">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <div class="disabled-box">
                        <h6>Select a Location</h6>
                    </div>

                    <ul class="location-select custom-height">
                        <li>
                            <a href="javascript:void(0)">
                                <h6>Alabama</h6>
                                <span>Min: $130</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Arizona</h6>
                                <span>Min: $150</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>California</h6>
                                <span>Min: $110</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Colorado</h6>
                                <span>Min: $140</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Florida</h6>
                                <span>Min: $160</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Georgia</h6>
                                <span>Min: $120</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Kansas</h6>
                                <span>Min: $170</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Minnesota</h6>
                                <span>Min: $120</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>New York</h6>
                                <span>Min: $110</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Washington</h6>
                                <span>Min: $130</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location Modal End -->


<!-- Deal Box Modal Start -->
<div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
                    <p class="mt-1 text-content">Recommended deals for you.</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="deal-offer-box">
                    <ul class="deal-offer-list">
                        <li class="list-1">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/10.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-2">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/11.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-3">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/12.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-1">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/13.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Deal Box Modal End -->

<!-- Tap to top start -->
<div class="theme-option">
    <div class="back-to-top">
        <a id="back-to-top" href="#">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
</div>
<!-- Tap to top end -->

<!-- Bg overlay Start -->
<div class="bg-overlay"></div>
<!-- Bg overlay End -->

<!-- latest jquery-->
<script src="../assets/js/jquery-3.6.0.min.js"></script>

<!-- jquery ui-->
<script src="../assets/js/jquery-ui.min.js"></script>

<!-- Bootstrap js-->
<script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>
<script src="../assets/js/bootstrap/popper.min.js"></script>

<!-- feather icon js-->
<script src="../assets/js/feather/feather.min.js"></script>
<script src="../assets/js/feather/feather-icon.js"></script>

<!-- Lazyload Js -->
<script src="../assets/js/lazysizes.min.js"></script>

<!-- Slick js-->
<script src="../assets/js/slick/slick.js"></script>
<script src="../assets/js/slick/custom_slick.js"></script>

<!-- Quantity js -->
<script src="../assets/js/quantity.js"></script>

<!-- script js -->
<script src="../assets/js/script.js"></script>
<script src="/assets/js/success.js"></script>
</body>

</html>