<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="head.html :: headFragment"></div>
    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/styleLee.css">
</head>

<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->

    <!-- Header Start -->
	<header th:replace="header.html :: headerFragment"></header>
    <!-- Header End -->

    <!-- mobile fix menu start -->
    <!-- mobile fix menu end -->

    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2>Q&A</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">Q&A</li>
                                <li class="breadcrumb-item active" aria-current="page">목록</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Details Section Start -->
    <section class="blog-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-4">
                <div class="col-xxl-3 col-xl-4 col-lg-5"  style="width: 30%;">
                    <section class="user-dashboard-section section-b-space" style="width: 100%;">
                        
                    <div class="dashboard-left-sidebar">
                        <div class="profile-box">
                            <div class="profile-contain">
                               <div class="profile-name">
                                    <h2>고객센터</h2>
                               </div>
                            </div>
                        </div>

                        <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                            <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-dashboard-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-dashboard" type="button" role="tab"
                                    aria-controls="pills-dashboard" aria-selected="true"><i data-feather="home"></i>
                                    공지사항</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-order-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-order" type="button" role="tab" aria-controls="pills-order"
                                    aria-selected="false"><i data-feather="shopping-bag"></i>자주묻는 질문 (FAQ)</button>
                            </li>


                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false"><i data-feather="user"></i>
                                    1대1 문의</button>
                            </li>
                            </ul>
                        </ul>
                    </div>
                    </section>
                </div>

                
                <div class="col-xxl-9 col-xl-8 col-lg-7 ratio_50"  style="width: 70%;">
                    <section class="order-table-section section-b-space">
                        <div class="row" style="width: 100%;">
                        	<form th:action="@{listSvcQuestion}" method="get">
                                    
	                            <div class="table-responsive">
	                                <table class="table order-tab-table">
	                                    <thead>
	                                        <tr>
	                                            <th style="width: 3%;">번호</th>
	                                            <th style="width: 72%;">제목</th>
	                                            <th style="width: 10%;">작성자</th>
	                                            <th style="width: 15%;">작성일</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody th:each="sqdto : ${sqlists}">
	                                        <tr>
	                                            <td th:text="${sqdto.serviceQueNum}"></td>
	                                            <td><a th:onclick="|location.href = '@{|qnaArticle?serviceQueNum=${sqdto.serviceQueNum}|}';|">[[*{sqdto.serviceQueTitle}]]</a></td>
	                                            			<!-- a th:href="'qnaArticle?' + 'serviceQueNum=' + @{${sqdto.serviceQueNum}}" -->
	                                            <td th:text="${sqdto.customerEmail}"></td>
	                                            <td th:text="${sqdto.serviceQueDate}"></td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                                
	                         
	                         		<div style="display: display:inline; width: 100%; ">
		                                
		                                <div style="text-align: right">
			                                <div style="display: inline-block">
			                                    <button onclick="sendIt();" class="btn btn-animation ms-xxl-auto mt-xxl-1 mt-3 btn-md fw-bold"
			                                    	type="button" th:onclick="@{|location.href='/service/qnaCreate'|}">문의하기</button>
			                                </div>
			                            </div>
			                            
		                                <nav class="custome-pagination">
		                                    <ul class="pagination justify-content-center">
		                                    	
												<li class="page-item" th:if="${page.navigateFirstPage>1}">
		                                            <a class="page-link" th:href="@{/listSvcQue/(pageNum=${page.navigateFirstPage-1})}">
		                                                <i class="fa-solid fa-angles-left"></i>
		                                            </a>
		                                        </li>
												<li class="page-item" th:unless="${page.navigateFirstPage>1}">
		                                        </li>
		                                        
		                                        
		                                        
		                                        <li class="page-item" th:if="${page.startRow!=0}"
		                                        th:each="pages : ${#numbers.sequence(page.navigateFirstPage,page.navigateLastPage)}"
		                                        th:classappend="(${pages}==${page.pageNum})?'active'">
		                                        	<a class="page-link" th:text="${pages}" th:href="@{/listSvcQue/(pageNum=${pages})}"></a>
		                                        </li>
		                                        
		                                        <li class="page-item" th:if="${page.navigateLastPage<page.pages}">
		                                            <a class="page-link" th:href="@{/listSvcQue/(pageNum=${page.navigateLastPage+1})}">
		                                                <i class="fa-solid fa-angles-right"></i>
		                                            </a>
		                                        </li>
		                                        <li class="page-item" th:unless="${page.navigateLastPage<page.pages}">
		                                        </li>
		                                        
		                                    </ul>
	                                	</nav>
	                                	
	                                	
			                        </div>
		                            
	                                
	                            </div>
                        	</form>
                        </div>
                    </section>
                        
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Footer Section Start -->
    <footer th:replace="footer.html :: footerFragment"></footer>
    <!-- Footer Section End -->

    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="../assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
    <script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- Quantity js -->
    <script src="../assets/js/quantity.js"></script>

    <!-- WOW js -->
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/custom-wow.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>
</body>

</html>