<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
<title>리뷰쓰기</title>
    <div th:replace="head.html :: headFragment"></div>
    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/stylecj.css">
</head>

<body>

    <!-- Loader Start -->
    
    <!-- Loader End -->

    <!-- Header Start -->
    <header th:replace="header.html :: headerFragment"></header>

    <!-- Header End -->

    <!-- mobile fix menu start -->
    
    <!-- mobile fix menu end -->

    <!-- Breadcrumb Section Start -->

	<section class="breadscrumb-section pt-0">
		<div class="container-fluid-lg">
			<div class="row">
				<div class="col-12">
					<div class="breadscrumb-contain">
						<h2> 리뷰 작성</h2>

						<nav>
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a href="index.html"> <i
										class="fa-solid fa-house"></i>
								</a></li>

								<li class="breadcrumb-item active"
									th:text="${idto.itemMainType }">다음페이지</li>
								<li class="breadcrumb-item active" th:text="${idto.itemSubType}"></li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>


	</section>

	<!-- Breadcrumb Section End -->

    <!-- Cart Section Start -->
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                
                	<h3 ></h3>
                    <div class="cart-table" style="width:1000px; height: 400px;">
                    <div class="information-box">
						<form name="myForm" th:action="@{reviewWrite_ok}" method="post" th:object="${replyDto}">
							<input type="hidden" th:value="${itemNum}" name="itemNum">
                    		<input type="hidden" th:value="${customerEmail}" name="customerEmail">
												
							<h2 th:text="${idto.itemName}"></h2>
							<hr />
							<p>리뷰 작성 시 500포인트 지급!!</p>
							<div class="form-floating theme-form-floating">
								 <select name="rating">
                                        <option value="">평점을 선택해주세요</option>
                                        <option value="1.0">1.0</option>
                                        <option value="1.5">1.5</option>
                                        <option value="2.0">2.0</option>
                                        <option value="2.5">2.5</option>
                                        <option value="3.0">3.0</option>
                                        <option value="3.5">3.5</option>
                                        <option value="4.0">4.0</option>
                                        <option value="4.5">4.5</option>
                                        <option value="5.0">5.0</option>
                                    </select>
							</div>
							<br>
							<div class="col-12">
								<div class="form-floating theme-form-floating">
									<textarea class="form-control"
										placeholder="Leave a comment here" id="itemQueContent"
										style="height: 150px"  name="content"></textarea>
									<label for="floatingTextarea2">리뷰를 작성해주세요.</label>
								</div>
								
							<div style="float: right; margin-top: 15px;">
								<div style="display: inline-block;">
									<button class="btn-anii" type="button" onclick="reviewChk();">작성완료</button>
								</div>
								<div style="display: inline-block;">	
									<button class="btn-cancel" type="button"  onClick="window.location.reload()">작성취소</button>
								</div>
							</div>
							</div>
							<br>
							
							
						</form>
					</div>
                    </div>
                </div>
				
                
            </div>
        </div>
    </section>
    <!-- Cart Section End -->

    <!-- Footer Section Start -->
    <footer th:replace="footer.html :: footerFragment"></footer>
    <!-- Footer Section End -->

    <!-- Location Modal Start -->
   
    <!-- Location Modal End -->


    <!-- Deal Box Modal Start -->
    
    <!-- Deal Box Modal End -->

    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="back-to-top" style="">
            <a id="back-to-top" href="http://127.0.0.1:5500/themeforest-CgSO0PPn-fastkart-multipurpose-ecommerce-html-template/template/html/reviewWrite.html#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->

   <!-- Bg overlay Start -->
	<div class="bg-overlay"></div>
	<!-- Bg overlay End -->

	<!-- latest jquery-->
	<script src="/assets/js/jquery-3.6.0.min.js"></script>

	<!-- jquery ui-->
	<script src="/assets/js/jquery-ui.min.js"></script>

	<!-- Bootstrap js-->
	<script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/bootstrap/bootstrap-notify.min.js"></script>
	<script src="/assets/js/bootstrap/popper.min.js"></script>

	<!-- feather icon js-->
	<script src="/assets/js/feather/feather.min.js"></script>
	<script src="/assets/js/feather/feather-icon.js"></script>

	<!-- Lazyload Js -->
	<script src="/assets/js/lazysizes.min.js"></script>

	<!-- Slick js-->
	<script src="/assets/js/slick/slick.js"></script>
	<script src="/assets/js/slick/slick-animation.min.js"></script>
	<script src="/assets/js/custom-slick-animated.js"></script>
	<script src="/assets/js/slick/custom_slick.js"></script>

	<!-- Price Range Js -->
	<script src="/assets/js/ion.rangeSlider.min.js"></script>

	<!-- sidebar open js -->
	<script src="/assets/js/filter-sidebar.js"></script>

	<!-- Quantity js -->
	<script src="/assets/js/quantity.js"></script>
<!-- 	<script src="/assets/js/quantity-2.js"></script>
	<script src="/assets/js/quantity-3.js"></script> -->

	<!-- Zoom Js -->
	<script src="/assets/js/jquery.elevatezoom.js"></script>
	<script src="/assets/js/zoom-filter.js"></script>

	<!-- Timer Js -->
	<script src="/assets/js/timer1.js"></script>

	<!-- WOW js -->
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/custom-wow.js"></script>

<script>
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>



<script type="text/javascript">

const reviewChk = () => {
	
	var  f = document.myForm
	
	str = f.rating.value;
	str = str.trim();
	
	if(!str){
		alert("\평점을 선택 해주세요.");
		f.rating.focus();
		return;
	}
	f.itemQueTitle = str;
	
	str = f.content.value;
	str = str.trim();
	
	if(!str){
		alert("\내용을 입력하세요.");
		f.content.focus();
		return;
	}
	f.content.value = str;
	
	f.submit();
	
}








</script>


</body></html>